<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.peyton.plum.mall.mapper.AdvertMapper">
	<resultMap id="ResultAdvertMap" type="cn.peyton.plum.mall.pojo.Advert">
		<id column="id" property="id" jdbcType="BIGINT"/>
		<result column="title" property="title" jdbcType="VARCHAR"/>
		<result column="src" property="src" jdbcType="VARCHAR"/>
		<result column="url" property="url" jdbcType="VARCHAR"/>
		<result column="type" property="type" jdbcType="TINYINT"/>
		<result column="location" property="location" jdbcType="TINYINT"/>
		<result column="hot" property="hot" jdbcType="INTEGER"/>
		<result column="click_count" property="clickCount" jdbcType="INTEGER"/>
		<result column="is_del" property="isDel" jdbcType="TINYINT"/>
		<result column="create_time" property="createTime" jdbcType="INTEGER"/>
	</resultMap>

	<sql id="Column_tb_advert_List">
		`id`,`title`,`src`,`url`,`type`,`location`,`hot`,`click_count`,`is_del`,`create_time`
	</sql>

	<insert id="insertSelective" parameterType="cn.peyton.plum.mall.pojo.Advert" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
		insert into `tb_advert`
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="title != null">`title`,</if>
			<if test="src != null">`src`,</if>
			<if test="url != null">`url`,</if>
			<if test="type != null">`type`,</if>
			<if test="location != null">`location`,</if>
			<if test="hot != null">`hot`,</if>
			<if test="clickCount != null">`click_count`,</if>
			<if test="isDel != null">`is_del`,</if>
			<if test="createTime != null">`create_time`,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="title != null">#{title},</if>
			<if test="src != null">#{src},</if>
			<if test="url != null">#{url},</if>
			<if test="type != null">#{type},</if>
			<if test="location != null">#{location},</if>
			<if test="hot != null">#{hot},</if>
			<if test="clickCount != null">#{clickCount},</if>
			<if test="isDel != null">#{isDel},</if>
			<if test="createTime != null">#{createTime},</if>
		</trim>
	</insert>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from `tb_advert`
		where `id` = #{id}
	</delete>

	<update id="updateByPrimaryKeySelective" parameterType="cn.peyton.plum.mall.pojo.Advert">
		update `tb_advert`
		<set>
			<if test="title != null">`title` = #{title},</if>
			<if test="src != null">`src` = #{src},</if>
			<if test="url != null">`url` = #{url},</if>
			<if test="type != null">`type` = #{type},</if>
			<if test="location != null">`location` = #{location},</if>
			<if test="hot != null">`hot` = #{hot},</if>
			<if test="clickCount != null">`click_count` = #{clickCount},</if>
			<if test="isDel != null">`is_del` = #{isDel},</if>
			<if test="createTime != null">`create_time` = #{createTime},</if>
		</set>
		where id = #{id}
	</update>

	<select id="selectByPrimaryKey" resultMap="ResultAdvertMap"  parameterType="java.lang.Long">
		select
		<include refid="Column_tb_advert_List"/>
		from `tb_advert`
		where `id` = #{id}
	</select>

	<!-- new create method   -->	

	<select id="selectByAllOrKeyword" resultMap="ResultAdvertMap"  parameterType="map">

	</select>

	<select id="selectByObj" resultMap="ResultAdvertMap"  parameterType="map">

	</select>

	<select id="count" resultType = "java.lang.Integer" parameterType="java.lang.String">

	</select>

	<select id="isRename" resultType = "java.lang.Integer" parameterType="cn.peyton.plum.mall.pojo.Advert">

	</select>

	<update id="upStatus" parameterType="cn.peyton.plum.mall.pojo.Advert">

	</update>

</mapper>
