<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.peyton.plum.mall.mapper.BrandMapper">
	<resultMap id="ResultBrandMap" type="cn.peyton.plum.mall.pojo.Brand">
		<id column="id" property="id" jdbcType="BIGINT"/>
		<result column="sup_id" property="supId" jdbcType="BIGINT"/>
		<result column="logo" property="logo" jdbcType="VARCHAR"/>
		<result column="name" property="name" jdbcType="VARCHAR"/>
		<result column="area" property="area" jdbcType="VARCHAR"/>
		<result column="seq" property="seq" jdbcType="SMALLINT"/>
		<result column="is_del" property="isDel" jdbcType="TINYINT"/>
		<result column="explain" property="explain" jdbcType="VARCHAR"/>
		<result column="create_time" property="createTime" jdbcType="INTEGER"/>
	</resultMap>

	<sql id="Column_tb_brand_List">
		`id`,`sup_id`,`logo`,`name`,`area`,`seq`,`is_del`,`explain`,`create_time`
	</sql>

	<insert id="insertSelective" parameterType="cn.peyton.plum.mall.pojo.Brand" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
		insert into `tb_brand`
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="supId != null">`sup_id`,</if>
			<if test="logo != null">`logo`,</if>
			<if test="name != null">`name`,</if>
			<if test="area != null">`area`,</if>
			<if test="seq != null">`seq`,</if>
			<if test="isDel != null">`is_del`,</if>
			<if test="explain != null">`explain`,</if>
			<if test="createTime != null">`create_time`,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="supId != null">#{supId},</if>
			<if test="logo != null">#{logo},</if>
			<if test="name != null">#{name},</if>
			<if test="area != null">#{area},</if>
			<if test="seq != null">#{seq},</if>
			<if test="isDel != null">#{isDel},</if>
			<if test="explain != null">#{explain},</if>
			<if test="createTime != null">#{createTime},</if>
		</trim>
	</insert>

	<update id="updateSelective" parameterType="cn.peyton.plum.mall.pojo.Brand">
		update `tb_brand`
		<set>
			<if test="supId != null">`sup_id` = #{supId},</if>
			<if test="logo != null">`logo` = #{logo},</if>
			<if test="name != null">`name` = #{name},</if>
			<if test="area != null">`area` = #{area},</if>
			<if test="seq != null">`seq` = #{seq},</if>
			<if test="isDel != null">`is_del` = #{isDel},</if>
			<if test="explain != null">`explain` = #{explain},</if>
			<if test="createTime != null">`create_time` = #{createTime},</if>
		</set>
		where id = #{id}
	</update>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from `tb_brand`
		where `id` = #{id}
	</delete>

	<select id="isRename" resultType = "java.lang.Integer" parameterType="cn.peyton.plum.mall.pojo.Brand">
		select
		count(`id`)
		from `tb_brand`
		<where>
			<if test="id != null">
				and `id` = #{id}
			</if>
			<if test="supId != null">
				and `sup_id` = #{supId}
			</if>
			<if test="logo != null">
				and `logo` = #{logo}
			</if>
			<if test="name != null">
				and `name` = #{name}
			</if>
			<if test="area != null">
				and `area` = #{area}
			</if>
			<if test="seq != null">
				and `seq` = #{seq}
			</if>
			<if test="isDel != null">
				and `is_del` = #{isDel}
			</if>
			<if test="explain != null">
				and `explain` = #{explain}
			</if>
			<if test="createTime != null">
				and `create_time` = #{createTime}
			</if>
		</where>
	</select>

	<select id="selectByPrimaryKey" resultMap="ResultBrandMap"  parameterType="java.lang.Long">
		select
		<include refid="Column_tb_brand_List"/>
		from `tb_brand`
		where `id` = #{id}
	</select>

	<select id="selectByLiekAndObj" resultMap="ResultBrandMap"  parameterType="map">
		select
		<include refid="Column_tb_brand_List"/>
		from `tb_brand`
		<where>
			<if test="record.id != null">
				and `id` like concat('%',#{record.id},'%')
			</if>
			<if test="record.supId != null">
				and `sup_id` like concat('%',#{record.supId},'%')
			</if>
			<if test="record.logo != null">
				and `logo` like concat('%',#{record.logo},'%')
			</if>
			<if test="record.name != null">
				and `name` like concat('%',#{record.name},'%')
			</if>
			<if test="record.area != null">
				and `area` like concat('%',#{record.area},'%')
			</if>
			<if test="record.seq != null">
				and `seq` like concat('%',#{record.seq},'%')
			</if>
			<if test="record.isDel != null">
				and `is_del` like concat('%',#{record.isDel},'%')
			</if>
			<if test="record.explain != null">
				and `explain` like concat('%',#{record.explain},'%')
			</if>
			<if test="record.createTime != null">
				and `create_time` like concat('%',#{record.createTime},'%')
			</if>
		</where>
		limit #{page.offset},#{page.pageSize}
	</select>

	<select id="selectByObj" resultMap="ResultBrandMap"  parameterType="map">
		select
		<include refid="Column_tb_brand_List"/>
		from `tb_brand`
		<where>
			<if test="record.id != null">
				and `id` = #{record.id}
			</if>
			<if test="record.supId != null">
				and `sup_id` = #{record.supId}
			</if>
			<if test="record.logo != null">
				and `logo` = #{record.logo}
			</if>
			<if test="record.name != null">
				and `name` = #{record.name}
			</if>
			<if test="record.area != null">
				and `area` = #{record.area}
			</if>
			<if test="record.seq != null">
				and `seq` = #{record.seq}
			</if>
			<if test="record.isDel != null">
				and `is_del` = #{record.isDel}
			</if>
			<if test="record.explain != null">
				and `explain` = #{record.explain}
			</if>
			<if test="record.createTime != null">
				and `create_time` = #{record.createTime}
			</if>
		</where>
		limit #{page.offset},#{page.pageSize}
	</select>

	<select id="countByLike" resultType = "java.lang.Integer" parameterType="cn.peyton.plum.mall.pojo.Brand">
		select
		count(`id`)
		from `tb_brand`
		<where>
			<if test="id != null">
				and `id` like concat('%',#{id},'%')
			</if>
			<if test="supId != null">
				and `sup_id` like concat('%',#{supId},'%')
			</if>
			<if test="logo != null">
				and `logo` like concat('%',#{logo},'%')
			</if>
			<if test="name != null">
				and `name` like concat('%',#{name},'%')
			</if>
			<if test="area != null">
				and `area` like concat('%',#{area},'%')
			</if>
			<if test="seq != null">
				and `seq` like concat('%',#{seq},'%')
			</if>
			<if test="isDel != null">
				and `is_del` like concat('%',#{isDel},'%')
			</if>
			<if test="explain != null">
				and `explain` like concat('%',#{explain},'%')
			</if>
			<if test="createTime != null">
				and `create_time` like concat('%',#{createTime},'%')
			</if>
		</where>
	</select>

	<select id="count" resultType = "java.lang.Integer" parameterType="cn.peyton.plum.mall.pojo.Brand">
		select
		count(`id`)
		from `tb_brand`
		<where>
			<if test="id != null">
				and `id` = #{id}
			</if>
			<if test="supId != null">
				and `sup_id` = #{supId}
			</if>
			<if test="logo != null">
				and `logo` = #{logo}
			</if>
			<if test="name != null">
				and `name` = #{name}
			</if>
			<if test="area != null">
				and `area` = #{area}
			</if>
			<if test="seq != null">
				and `seq` = #{seq}
			</if>
			<if test="isDel != null">
				and `is_del` = #{isDel}
			</if>
			<if test="explain != null">
				and `explain` = #{explain}
			</if>
			<if test="createTime != null">
				and `create_time` = #{createTime}
			</if>
		</where>
	</select>

</mapper>
