<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.peyton.plum.mall.mapper.DistributionSettingMapper">
	<resultMap id="ResultDistributionSettingMap" type="cn.peyton.plum.mall.pojo.DistributionSetting">
		<id column="id" property="id" jdbcType="BIGINT"/>
		<result column="status" property="status" jdbcType="TINYINT"/>
		<result column="first_rebate" property="firstRebate" jdbcType="TINYINT"/>
		<result column="second_rebate" property="secondRebate" jdbcType="TINYINT"/>
		<result column="spread_banners" property="spreadBanners" jdbcType="LONGVARCHAR"/>
		<result column="brokerage" property="brokerage" jdbcType="BIT"/>
		<result column="settlement_days" property="settlementDays" jdbcType="SMALLINT"/>
		<result column="brokerage_method" property="brokerageMethod" jdbcType="VARCHAR"/>
	</resultMap>

	<sql id="Column_tb_distribution_setting_List">
		`id`,`status`,`first_rebate`,`second_rebate`,`spread_banners`,`brokerage`,`settlement_days`,`brokerage_method`
	</sql>

	<insert id="insertSelective" parameterType="cn.peyton.plum.mall.pojo.DistributionSetting" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
		insert into `tb_distribution_setting`
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="status != null">`status`,</if>
			<if test="firstRebate != null">`first_rebate`,</if>
			<if test="secondRebate != null">`second_rebate`,</if>
			<if test="spreadBanners != null">`spread_banners`,</if>
			<if test="brokerage != null">`brokerage`,</if>
			<if test="settlementDays != null">`settlement_days`,</if>
			<if test="brokerageMethod != null">`brokerage_method`,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="status != null">#{status},</if>
			<if test="firstRebate != null">#{firstRebate},</if>
			<if test="secondRebate != null">#{secondRebate},</if>
			<if test="spreadBanners != null">#{spreadBanners},</if>
			<if test="brokerage != null">#{brokerage},</if>
			<if test="settlementDays != null">#{settlementDays},</if>
			<if test="brokerageMethod != null">#{brokerageMethod},</if>
		</trim>
	</insert>

	<update id="updateSelective" parameterType="cn.peyton.plum.mall.pojo.DistributionSetting">
		update `tb_distribution_setting`
		<set>
			<if test="status != null">`status` = #{status},</if>
			<if test="firstRebate != null">`first_rebate` = #{firstRebate},</if>
			<if test="secondRebate != null">`second_rebate` = #{secondRebate},</if>
			<if test="spreadBanners != null">`spread_banners` = #{spreadBanners},</if>
			<if test="brokerage != null">`brokerage` = #{brokerage},</if>
			<if test="settlementDays != null">`settlement_days` = #{settlementDays},</if>
			<if test="brokerageMethod != null">`brokerage_method` = #{brokerageMethod},</if>
		</set>
		where id = #{id}
	</update>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from `tb_distribution_setting`
		where `id` = #{id}
	</delete>

	<select id="isRename" resultType = "java.lang.Integer" parameterType="cn.peyton.plum.mall.pojo.DistributionSetting">
		select
		count(`id`)
		from `tb_distribution_setting`
		<where>
			<if test="id != null">
				and `id` = #{id}
			</if>
			<if test="status != null">
				and `status` = #{status}
			</if>
			<if test="firstRebate != null">
				and `first_rebate` = #{firstRebate}
			</if>
			<if test="secondRebate != null">
				and `second_rebate` = #{secondRebate}
			</if>
			<if test="spreadBanners != null">
				and `spread_banners` = #{spreadBanners}
			</if>
			<if test="brokerage != null">
				and `brokerage` = #{brokerage}
			</if>
			<if test="settlementDays != null">
				and `settlement_days` = #{settlementDays}
			</if>
			<if test="brokerageMethod != null">
				and `brokerage_method` = #{brokerageMethod}
			</if>
		</where>
	</select>

	<select id="selectByPrimaryKey" resultMap="ResultDistributionSettingMap"  parameterType="java.lang.Long">
		select
		<include refid="Column_tb_distribution_setting_List"/>
		from `tb_distribution_setting`
		where `id` = #{id}
	</select>

	<select id="selectByLiekAndObj" resultMap="ResultDistributionSettingMap"  parameterType="map">
		select
		<include refid="Column_tb_distribution_setting_List"/>
		from `tb_distribution_setting`
		<where>
			<if test="record.id != null">
				and `id` like concat('%',#{record.id},'%')
			</if>
			<if test="record.status != null">
				and `status` like concat('%',#{record.status},'%')
			</if>
			<if test="record.firstRebate != null">
				and `first_rebate` like concat('%',#{record.firstRebate},'%')
			</if>
			<if test="record.secondRebate != null">
				and `second_rebate` like concat('%',#{record.secondRebate},'%')
			</if>
			<if test="record.spreadBanners != null">
				and `spread_banners` like concat('%',#{record.spreadBanners},'%')
			</if>
			<if test="record.brokerage != null">
				and `brokerage` like concat('%',#{record.brokerage},'%')
			</if>
			<if test="record.settlementDays != null">
				and `settlement_days` like concat('%',#{record.settlementDays},'%')
			</if>
			<if test="record.brokerageMethod != null">
				and `brokerage_method` like concat('%',#{record.brokerageMethod},'%')
			</if>
		</where>
		limit #{page.offset},#{page.pageSize}
	</select>

	<select id="selectByObj" resultMap="ResultDistributionSettingMap"  parameterType="map">
		select
		<include refid="Column_tb_distribution_setting_List"/>
		from `tb_distribution_setting`
		<where>
			<if test="record.id != null">
				and `id` = #{record.id}
			</if>
			<if test="record.status != null">
				and `status` = #{record.status}
			</if>
			<if test="record.firstRebate != null">
				and `first_rebate` = #{record.firstRebate}
			</if>
			<if test="record.secondRebate != null">
				and `second_rebate` = #{record.secondRebate}
			</if>
			<if test="record.spreadBanners != null">
				and `spread_banners` = #{record.spreadBanners}
			</if>
			<if test="record.brokerage != null">
				and `brokerage` = #{record.brokerage}
			</if>
			<if test="record.settlementDays != null">
				and `settlement_days` = #{record.settlementDays}
			</if>
			<if test="record.brokerageMethod != null">
				and `brokerage_method` = #{record.brokerageMethod}
			</if>
		</where>
		limit #{page.offset},#{page.pageSize}
	</select>

	<select id="countByLike" resultType = "java.lang.Integer" parameterType="cn.peyton.plum.mall.pojo.DistributionSetting">
		select
		count(`id`)
		from `tb_distribution_setting`
		<where>
			<if test="id != null">
				and `id` like concat('%',#{id},'%')
			</if>
			<if test="status != null">
				and `status` like concat('%',#{status},'%')
			</if>
			<if test="firstRebate != null">
				and `first_rebate` like concat('%',#{firstRebate},'%')
			</if>
			<if test="secondRebate != null">
				and `second_rebate` like concat('%',#{secondRebate},'%')
			</if>
			<if test="spreadBanners != null">
				and `spread_banners` like concat('%',#{spreadBanners},'%')
			</if>
			<if test="brokerage != null">
				and `brokerage` like concat('%',#{brokerage},'%')
			</if>
			<if test="settlementDays != null">
				and `settlement_days` like concat('%',#{settlementDays},'%')
			</if>
			<if test="brokerageMethod != null">
				and `brokerage_method` like concat('%',#{brokerageMethod},'%')
			</if>
		</where>
	</select>

	<select id="count" resultType = "java.lang.Integer" parameterType="cn.peyton.plum.mall.pojo.DistributionSetting">
		select
		count(`id`)
		from `tb_distribution_setting`
		<where>
			<if test="id != null">
				and `id` = #{id}
			</if>
			<if test="status != null">
				and `status` = #{status}
			</if>
			<if test="firstRebate != null">
				and `first_rebate` = #{firstRebate}
			</if>
			<if test="secondRebate != null">
				and `second_rebate` = #{secondRebate}
			</if>
			<if test="spreadBanners != null">
				and `spread_banners` = #{spreadBanners}
			</if>
			<if test="brokerage != null">
				and `brokerage` = #{brokerage}
			</if>
			<if test="settlementDays != null">
				and `settlement_days` = #{settlementDays}
			</if>
			<if test="brokerageMethod != null">
				and `brokerage_method` = #{brokerageMethod}
			</if>
		</where>
	</select>

</mapper>
