<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.peyton.plum.mall.mapper.InvoiceMapper">
	<resultMap id="ResultInvoiceMap" type="cn.peyton.plum.mall.pojo.Invoice">
		<id column="id" property="id" jdbcType="BIGINT"/>
		<result column="order_id" property="orderId" jdbcType="BIGINT"/>
		<result column="member_id" property="memberId" jdbcType="BIGINT"/>
		<result column="name" property="name" jdbcType="VARCHAR"/>
		<result column="phone" property="phone" jdbcType="VARCHAR"/>
		<result column="email" property="email" jdbcType="VARCHAR"/>
		<result column="code" property="code" jdbcType="VARCHAR"/>
		<result column="path" property="path" jdbcType="VARCHAR"/>
		<result column="bankname" property="bankname" jdbcType="VARCHAR"/>
		<result column="bankno" property="bankno" jdbcType="VARCHAR"/>
		<result column="status" property="status" jdbcType="TINYINT"/>
		<result column="type" property="type" jdbcType="TINYINT"/>
		<result column="create_time" property="createTime" jdbcType="INTEGER"/>
		<result column="is_del" property="isDel" jdbcType="BIT"/>
	</resultMap>

	<sql id="Column_sys_invoice_List">
		`id`,`order_id`,`member_id`,`name`,`phone`,`email`,`code`,`path`,`bankname`,`bankno`,`status`,`type`,`create_time`,`is_del`
	</sql>

	<insert id="insertSelective" parameterType="cn.peyton.plum.mall.pojo.Invoice" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
		insert into `sys_invoice`
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="orderId != null">`order_id`,</if>
			<if test="memberId != null">`member_id`,</if>
			<if test="name != null">`name`,</if>
			<if test="phone != null">`phone`,</if>
			<if test="email != null">`email`,</if>
			<if test="code != null">`code`,</if>
			<if test="path != null">`path`,</if>
			<if test="bankname != null">`bankname`,</if>
			<if test="bankno != null">`bankno`,</if>
			<if test="status != null">`status`,</if>
			<if test="type != null">`type`,</if>
			<if test="createTime != null">`create_time`,</if>
			<if test="isDel != null">`is_del`,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="orderId != null">#{orderId},</if>
			<if test="memberId != null">#{memberId},</if>
			<if test="name != null">#{name},</if>
			<if test="phone != null">#{phone},</if>
			<if test="email != null">#{email},</if>
			<if test="code != null">#{code},</if>
			<if test="path != null">#{path},</if>
			<if test="bankname != null">#{bankname},</if>
			<if test="bankno != null">#{bankno},</if>
			<if test="status != null">#{status},</if>
			<if test="type != null">#{type},</if>
			<if test="createTime != null">#{createTime},</if>
			<if test="isDel != null">#{isDel},</if>
		</trim>
	</insert>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from `sys_invoice`
		where `id` = #{id}
	</delete>

	<update id="updateByPrimaryKeySelective" parameterType="cn.peyton.plum.mall.pojo.Invoice">
		update `sys_invoice`
		<set>
			<if test="orderId != null">`order_id` = #{orderId},</if>
			<if test="memberId != null">`member_id` = #{memberId},</if>
			<if test="name != null">`name` = #{name},</if>
			<if test="phone != null">`phone` = #{phone},</if>
			<if test="email != null">`email` = #{email},</if>
			<if test="code != null">`code` = #{code},</if>
			<if test="path != null">`path` = #{path},</if>
			<if test="bankname != null">`bankname` = #{bankname},</if>
			<if test="bankno != null">`bankno` = #{bankno},</if>
			<if test="status != null">`status` = #{status},</if>
			<if test="type != null">`type` = #{type},</if>
			<if test="createTime != null">`create_time` = #{createTime},</if>
			<if test="isDel != null">`is_del` = #{isDel},</if>
		</set>
		where id = #{id}
	</update>

	<select id="selectByPrimaryKey" resultMap="ResultInvoiceMap"  parameterType="java.lang.Long">
		select
		<include refid="Column_sys_invoice_List"/>
		from `sys_invoice`
		where `id` = #{id}
	</select>

	<!-- new create method   -->	

	<select id="selectByAllOrKeyword" resultMap="ResultInvoiceMap"  parameterType="map">

	</select>

	<select id="selectByObj" resultMap="ResultInvoiceMap"  parameterType="map">

	</select>

	<select id="count" resultType = "java.lang.Integer" parameterType="java.lang.String">

	</select>

	<select id="isRename" resultType = "java.lang.Integer" parameterType="cn.peyton.plum.mall.pojo.Invoice">

	</select>

	<update id="upStatus" parameterType="cn.peyton.plum.mall.pojo.Invoice">

	</update>

</mapper>
