<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.peyton.plum.mall.mapper.MemberBillMapper">
	<resultMap id="ResultMemberBillMap" type="cn.peyton.plum.mall.pojo.MemberBill">
		<id column="id" property="id" jdbcType="BIGINT"/>
		<result column="member_id" property="memberId" jdbcType="BIGINT"/>
		<result column="link_id" property="linkId" jdbcType="VARCHAR"/>
		<result column="pm" property="pm" jdbcType="TINYINT"/>
		<result column="title" property="title" jdbcType="VARCHAR"/>
		<result column="category" property="category" jdbcType="VARCHAR"/>
		<result column="type" property="type" jdbcType="VARCHAR"/>
		<result column="number" property="number" jdbcType="DECIMAL"/>
		<result column="balance" property="balance" jdbcType="DECIMAL"/>
		<result column="mark" property="mark" jdbcType="VARCHAR"/>
		<result column="status" property="status" jdbcType="TINYINT"/>
		<result column="is_del" property="isDel" jdbcType="TINYINT"/>
		<result column="create_time" property="createTime" jdbcType="INTEGER"/>
		<result column="update_time" property="updateTime" jdbcType="INTEGER"/>
	</resultMap>

	<sql id="Column_tb_member_bill_List">
		`id`,`member_id`,`link_id`,`pm`,`title`,`category`,`type`,`number`,`balance`,`mark`,`status`,`is_del`,`create_time`,`update_time`
	</sql>

	<insert id="insertSelective" parameterType="cn.peyton.plum.mall.pojo.MemberBill" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
		insert into `tb_member_bill`
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="memberId != null">`member_id`,</if>
			<if test="linkId != null">`link_id`,</if>
			<if test="pm != null">`pm`,</if>
			<if test="title != null">`title`,</if>
			<if test="category != null">`category`,</if>
			<if test="type != null">`type`,</if>
			<if test="number != null">`number`,</if>
			<if test="balance != null">`balance`,</if>
			<if test="mark != null">`mark`,</if>
			<if test="status != null">`status`,</if>
			<if test="isDel != null">`is_del`,</if>
			<if test="createTime != null">`create_time`,</if>
			<if test="updateTime != null">`update_time`,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="memberId != null">#{memberId},</if>
			<if test="linkId != null">#{linkId},</if>
			<if test="pm != null">#{pm},</if>
			<if test="title != null">#{title},</if>
			<if test="category != null">#{category},</if>
			<if test="type != null">#{type},</if>
			<if test="number != null">#{number},</if>
			<if test="balance != null">#{balance},</if>
			<if test="mark != null">#{mark},</if>
			<if test="status != null">#{status},</if>
			<if test="isDel != null">#{isDel},</if>
			<if test="createTime != null">#{createTime},</if>
			<if test="updateTime != null">#{updateTime},</if>
		</trim>
	</insert>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from `tb_member_bill`
		where `id` = #{id}
	</delete>

	<update id="updateByPrimaryKeySelective" parameterType="cn.peyton.plum.mall.pojo.MemberBill">
		update `tb_member_bill`
		<set>
			<if test="memberId != null">`member_id` = #{memberId},</if>
			<if test="linkId != null">`link_id` = #{linkId},</if>
			<if test="pm != null">`pm` = #{pm},</if>
			<if test="title != null">`title` = #{title},</if>
			<if test="category != null">`category` = #{category},</if>
			<if test="type != null">`type` = #{type},</if>
			<if test="number != null">`number` = #{number},</if>
			<if test="balance != null">`balance` = #{balance},</if>
			<if test="mark != null">`mark` = #{mark},</if>
			<if test="status != null">`status` = #{status},</if>
			<if test="isDel != null">`is_del` = #{isDel},</if>
			<if test="createTime != null">`create_time` = #{createTime},</if>
			<if test="updateTime != null">`update_time` = #{updateTime},</if>
		</set>
		where id = #{id}
	</update>

	<select id="selectByPrimaryKey" resultMap="ResultMemberBillMap"  parameterType="java.lang.Long">
		select
		<include refid="Column_tb_member_bill_List"/>
		from `tb_member_bill`
		where `id` = #{id}
	</select>

	<!-- new create method   -->	

	<select id="selectByAllOrKeyword" resultMap="ResultMemberBillMap"  parameterType="map">

	</select>

	<select id="selectByObj" resultMap="ResultMemberBillMap"  parameterType="map">

	</select>

	<select id="count" resultType = "java.lang.Integer" parameterType="java.lang.String">

	</select>

	<select id="isRename" resultType = "java.lang.Integer" parameterType="cn.peyton.plum.mall.pojo.MemberBill">

	</select>

	<update id="upStatus" parameterType="cn.peyton.plum.mall.pojo.MemberBill">

	</update>

</mapper>
