<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.peyton.plum.mall.mapper.MemberExtractMapper">
	<resultMap id="ResultMemberExtractMap" type="cn.peyton.plum.mall.pojo.MemberExtract">
		<id column="id" property="id" jdbcType="BIGINT"/>
		<result column="member_id" property="memberId" jdbcType="BIGINT"/>
		<result column="real_name" property="realName" jdbcType="VARCHAR"/>
		<result column="extract_type" property="extractType" jdbcType="VARCHAR"/>
		<result column="bank_code" property="bankCode" jdbcType="VARCHAR"/>
		<result column="bank_address" property="bankAddress" jdbcType="VARCHAR"/>
		<result column="alipay_code" property="alipayCode" jdbcType="VARCHAR"/>
		<result column="extract_price" property="extractPrice" jdbcType="DECIMAL"/>
		<result column="mark" property="mark" jdbcType="VARCHAR"/>
		<result column="balance" property="balance" jdbcType="DECIMAL"/>
		<result column="fail_msg" property="failMsg" jdbcType="VARCHAR"/>
		<result column="fail_time" property="failTime" jdbcType="INTEGER"/>
		<result column="status" property="status" jdbcType="TINYINT"/>
		<result column="wechat" property="wechat" jdbcType="VARCHAR"/>
		<result column="is_del" property="isDel" jdbcType="TINYINT"/>
		<result column="create_time" property="createTime" jdbcType="INTEGER"/>
		<result column="update_time" property="updateTime" jdbcType="INTEGER"/>
	</resultMap>

	<sql id="Column_tb_member_extract_List">
		`id`,`member_id`,`real_name`,`extract_type`,`bank_code`,`bank_address`,`alipay_code`,`extract_price`,`mark`,`balance`,`fail_msg`,`fail_time`,`status`,`wechat`,`is_del`,`create_time`,`update_time`
	</sql>

	<insert id="insertSelective" parameterType="cn.peyton.plum.mall.pojo.MemberExtract" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
		insert into `tb_member_extract`
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="memberId != null">`member_id`,</if>
			<if test="realName != null">`real_name`,</if>
			<if test="extractType != null">`extract_type`,</if>
			<if test="bankCode != null">`bank_code`,</if>
			<if test="bankAddress != null">`bank_address`,</if>
			<if test="alipayCode != null">`alipay_code`,</if>
			<if test="extractPrice != null">`extract_price`,</if>
			<if test="mark != null">`mark`,</if>
			<if test="balance != null">`balance`,</if>
			<if test="failMsg != null">`fail_msg`,</if>
			<if test="failTime != null">`fail_time`,</if>
			<if test="status != null">`status`,</if>
			<if test="wechat != null">`wechat`,</if>
			<if test="isDel != null">`is_del`,</if>
			<if test="createTime != null">`create_time`,</if>
			<if test="updateTime != null">`update_time`,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="memberId != null">#{memberId},</if>
			<if test="realName != null">#{realName},</if>
			<if test="extractType != null">#{extractType},</if>
			<if test="bankCode != null">#{bankCode},</if>
			<if test="bankAddress != null">#{bankAddress},</if>
			<if test="alipayCode != null">#{alipayCode},</if>
			<if test="extractPrice != null">#{extractPrice},</if>
			<if test="mark != null">#{mark},</if>
			<if test="balance != null">#{balance},</if>
			<if test="failMsg != null">#{failMsg},</if>
			<if test="failTime != null">#{failTime},</if>
			<if test="status != null">#{status},</if>
			<if test="wechat != null">#{wechat},</if>
			<if test="isDel != null">#{isDel},</if>
			<if test="createTime != null">#{createTime},</if>
			<if test="updateTime != null">#{updateTime},</if>
		</trim>
	</insert>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from `tb_member_extract`
		where `id` = #{id}
	</delete>

	<update id="updateByPrimaryKeySelective" parameterType="cn.peyton.plum.mall.pojo.MemberExtract">
		update `tb_member_extract`
		<set>
			<if test="memberId != null">`member_id` = #{memberId},</if>
			<if test="realName != null">`real_name` = #{realName},</if>
			<if test="extractType != null">`extract_type` = #{extractType},</if>
			<if test="bankCode != null">`bank_code` = #{bankCode},</if>
			<if test="bankAddress != null">`bank_address` = #{bankAddress},</if>
			<if test="alipayCode != null">`alipay_code` = #{alipayCode},</if>
			<if test="extractPrice != null">`extract_price` = #{extractPrice},</if>
			<if test="mark != null">`mark` = #{mark},</if>
			<if test="balance != null">`balance` = #{balance},</if>
			<if test="failMsg != null">`fail_msg` = #{failMsg},</if>
			<if test="failTime != null">`fail_time` = #{failTime},</if>
			<if test="status != null">`status` = #{status},</if>
			<if test="wechat != null">`wechat` = #{wechat},</if>
			<if test="isDel != null">`is_del` = #{isDel},</if>
			<if test="createTime != null">`create_time` = #{createTime},</if>
			<if test="updateTime != null">`update_time` = #{updateTime},</if>
		</set>
		where id = #{id}
	</update>

	<select id="selectByPrimaryKey" resultMap="ResultMemberExtractMap"  parameterType="java.lang.Long">
		select
		<include refid="Column_tb_member_extract_List"/>
		from `tb_member_extract`
		where `id` = #{id}
	</select>

	<!-- new create method   -->	

	<select id="selectByAllOrKeyword" resultMap="ResultMemberExtractMap"  parameterType="map">

	</select>

	<select id="selectByObj" resultMap="ResultMemberExtractMap"  parameterType="map">

	</select>

	<select id="count" resultType = "java.lang.Integer" parameterType="java.lang.String">

	</select>

	<select id="isRename" resultType = "java.lang.Integer" parameterType="cn.peyton.plum.mall.pojo.MemberExtract">

	</select>

	<update id="upStatus" parameterType="cn.peyton.plum.mall.pojo.MemberExtract">

	</update>

</mapper>
