<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.peyton.plum.mall.mapper.MemberMapper">
	<resultMap id="ResultMemberMap" type="cn.peyton.plum.mall.pojo.Member">
		<id column="id" property="id" jdbcType="BIGINT"/>
		<result column="member_level_id" property="memberLevelId" jdbcType="INTEGER"/>
		<result column="username" property="username" jdbcType="VARCHAR"/>
		<result column="password" property="password" jdbcType="VARCHAR"/>
		<result column="avatar" property="avatar" jdbcType="VARCHAR"/>
		<result column="nickname" property="nickname" jdbcType="VARCHAR"/>
		<result column="phone" property="phone" jdbcType="VARCHAR"/>
		<result column="email" property="email" jdbcType="VARCHAR"/>
		<result column="last_ip" property="lastIp" jdbcType="VARCHAR"/>
		<result column="loc" property="loc" jdbcType="INTEGER"/>
		<result column="last_login_time" property="lastLoginTime" jdbcType="INTEGER"/>
		<result column="is_del" property="isDel" jdbcType="TINYINT"/>
		<result column="sex" property="sex" jdbcType="TINYINT"/>
		<result column="birthday" property="birthday" jdbcType="VARCHAR"/>
		<result column="create_time" property="createTime" jdbcType="INTEGER"/>
	</resultMap>

	<sql id="Column_tb_member_List">
		`id`,`member_level_id`,`username`,`password`,`avatar`,`nickname`,`phone`,`email`,`last_ip`,`loc`,`last_login_time`,`is_del`,`sex`,`birthday`,`create_time`
	</sql>

	<insert id="insertSelective" parameterType="cn.peyton.plum.mall.pojo.Member" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
		insert into `tb_member`
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="memberLevelId != null">`member_level_id`,</if>
			<if test="username != null">`username`,</if>
			<if test="password != null">`password`,</if>
			<if test="avatar != null">`avatar`,</if>
			<if test="nickname != null">`nickname`,</if>
			<if test="phone != null">`phone`,</if>
			<if test="email != null">`email`,</if>
			<if test="lastIp != null">`last_ip`,</if>
			<if test="loc != null">`loc`,</if>
			<if test="lastLoginTime != null">`last_login_time`,</if>
			<if test="isDel != null">`is_del`,</if>
			<if test="sex != null">`sex`,</if>
			<if test="birthday != null">`birthday`,</if>
			<if test="createTime != null">`create_time`,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="memberLevelId != null">#{memberLevelId},</if>
			<if test="username != null">#{username},</if>
			<if test="password != null">#{password},</if>
			<if test="avatar != null">#{avatar},</if>
			<if test="nickname != null">#{nickname},</if>
			<if test="phone != null">#{phone},</if>
			<if test="email != null">#{email},</if>
			<if test="lastIp != null">#{lastIp},</if>
			<if test="loc != null">#{loc},</if>
			<if test="lastLoginTime != null">#{lastLoginTime},</if>
			<if test="isDel != null">#{isDel},</if>
			<if test="sex != null">#{sex},</if>
			<if test="birthday != null">#{birthday},</if>
			<if test="createTime != null">#{createTime},</if>
		</trim>
	</insert>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from `tb_member`
		where `id` = #{id}
	</delete>

	<update id="updateByPrimaryKeySelective" parameterType="cn.peyton.plum.mall.pojo.Member">
		update `tb_member`
		<set>
			<if test="memberLevelId != null">`member_level_id` = #{memberLevelId},</if>
			<if test="username != null">`username` = #{username},</if>
			<if test="password != null">`password` = #{password},</if>
			<if test="avatar != null">`avatar` = #{avatar},</if>
			<if test="nickname != null">`nickname` = #{nickname},</if>
			<if test="phone != null">`phone` = #{phone},</if>
			<if test="email != null">`email` = #{email},</if>
			<if test="lastIp != null">`last_ip` = #{lastIp},</if>
			<if test="loc != null">`loc` = #{loc},</if>
			<if test="lastLoginTime != null">`last_login_time` = #{lastLoginTime},</if>
			<if test="isDel != null">`is_del` = #{isDel},</if>
			<if test="sex != null">`sex` = #{sex},</if>
			<if test="birthday != null">`birthday` = #{birthday},</if>
			<if test="createTime != null">`create_time` = #{createTime},</if>
		</set>
		where id = #{id}
	</update>

	<select id="selectByPrimaryKey" resultMap="ResultMemberMap"  parameterType="java.lang.Long">
		select
		<include refid="Column_tb_member_List"/>
		from `tb_member`
		where `id` = #{id}
	</select>

	<!-- new create method   -->	

	<select id="selectByAllOrKeyword" resultMap="ResultMemberMap"  parameterType="map">

	</select>

	<select id="selectByObj" resultMap="ResultMemberMap"  parameterType="map">

	</select>

	<select id="count" resultType = "java.lang.Integer" parameterType="java.lang.String">

	</select>

	<select id="isRename" resultType = "java.lang.Integer" parameterType="cn.peyton.plum.mall.pojo.Member">

	</select>

	<update id="upStatus" parameterType="cn.peyton.plum.mall.pojo.Member">

	</update>

</mapper>
