<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.peyton.plum.mall.mapper.MenuMapper">
	<resultMap id="ResultMenuMap" type="cn.peyton.plum.mall.pojo.Menu">
		<id column="id" property="id" jdbcType="BIGINT"/>
		<result column="pid" property="pid" jdbcType="BIGINT"/>
		<result column="name" property="name" jdbcType="VARCHAR"/>
		<result column="is_menu" property="isMenu" jdbcType="TINYINT"/>
		<result column="condition" property="condition" jdbcType="VARCHAR"/>
		<result column="front_path" property="frontPath" jdbcType="VARCHAR"/>
		<result column="router_method" property="routerMethod" jdbcType="VARCHAR"/>
		<result column="seq" property="seq" jdbcType="SMALLINT"/>
		<result column="icon" property="icon" jdbcType="VARCHAR"/>
		<result column="status" property="status" jdbcType="TINYINT"/>
		<result column="i_frame" property="iFrame" jdbcType="TINYINT"/>
		<result column="menu_type" property="menuType" jdbcType="TINYINT"/>
		<result column="path" property="path" jdbcType="VARCHAR"/>
		<result column="permission" property="permission" jdbcType="VARCHAR"/>
		<result column="cache" property="cache" jdbcType="TINYINT"/>
		<result column="hidden" property="hidden" jdbcType="TINYINT"/>
		<result column="component" property="component" jdbcType="VARCHAR"/>
		<result column="component_name" property="componentName" jdbcType="VARCHAR"/>
		<result column="create_time" property="createTime" jdbcType="INTEGER"/>
	</resultMap>

	<sql id="Column_sys_menu_List">
		`id`,`pid`,`name`,`is_menu`,`condition`,`front_path`,`router_method`,`seq`,`icon`,`status`,`i_frame`,`menu_type`,`path`,`permission`,`cache`,`hidden`,`component`,`component_name`,`create_time`
	</sql>

	<insert id="insertSelective" parameterType="cn.peyton.plum.mall.pojo.Menu" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
		insert into `sys_menu`
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="pid != null">`pid`,</if>
			<if test="name != null">`name`,</if>
			<if test="isMenu != null">`is_menu`,</if>
			<if test="condition != null">`condition`,</if>
			<if test="frontPath != null">`front_path`,</if>
			<if test="routerMethod != null">`router_method`,</if>
			<if test="seq != null">`seq`,</if>
			<if test="icon != null">`icon`,</if>
			<if test="status != null">`status`,</if>
			<if test="iFrame != null">`i_frame`,</if>
			<if test="menuType != null">`menu_type`,</if>
			<if test="path != null">`path`,</if>
			<if test="permission != null">`permission`,</if>
			<if test="cache != null">`cache`,</if>
			<if test="hidden != null">`hidden`,</if>
			<if test="component != null">`component`,</if>
			<if test="componentName != null">`component_name`,</if>
			<if test="createTime != null">`create_time`,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="pid != null">#{pid},</if>
			<if test="name != null">#{name},</if>
			<if test="isMenu != null">#{isMenu},</if>
			<if test="condition != null">#{condition},</if>
			<if test="frontPath != null">#{frontPath},</if>
			<if test="routerMethod != null">#{routerMethod},</if>
			<if test="seq != null">#{seq},</if>
			<if test="icon != null">#{icon},</if>
			<if test="status != null">#{status},</if>
			<if test="iFrame != null">#{iFrame},</if>
			<if test="menuType != null">#{menuType},</if>
			<if test="path != null">#{path},</if>
			<if test="permission != null">#{permission},</if>
			<if test="cache != null">#{cache},</if>
			<if test="hidden != null">#{hidden},</if>
			<if test="component != null">#{component},</if>
			<if test="componentName != null">#{componentName},</if>
			<if test="createTime != null">#{createTime},</if>
		</trim>
	</insert>

	<update id="updateSelective" parameterType="cn.peyton.plum.mall.pojo.Menu">
		update `sys_menu`
		<set>
			<if test="pid != null">`pid` = #{pid},</if>
			<if test="name != null">`name` = #{name},</if>
			<if test="isMenu != null">`is_menu` = #{isMenu},</if>
			<if test="condition != null">`condition` = #{condition},</if>
			<if test="frontPath != null">`front_path` = #{frontPath},</if>
			<if test="routerMethod != null">`router_method` = #{routerMethod},</if>
			<if test="seq != null">`seq` = #{seq},</if>
			<if test="icon != null">`icon` = #{icon},</if>
			<if test="status != null">`status` = #{status},</if>
			<if test="iFrame != null">`i_frame` = #{iFrame},</if>
			<if test="menuType != null">`menu_type` = #{menuType},</if>
			<if test="path != null">`path` = #{path},</if>
			<if test="permission != null">`permission` = #{permission},</if>
			<if test="cache != null">`cache` = #{cache},</if>
			<if test="hidden != null">`hidden` = #{hidden},</if>
			<if test="component != null">`component` = #{component},</if>
			<if test="componentName != null">`component_name` = #{componentName},</if>
			<if test="createTime != null">`create_time` = #{createTime},</if>
		</set>
		where id = #{id}
	</update>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from `sys_menu`
		where `id` = #{id}
	</delete>

	<select id="isRename" resultType = "java.lang.Integer" parameterType="cn.peyton.plum.mall.pojo.Menu">
		select
		count(`id`)
		from `sys_menu`
		<where>
			<if test="id != null">
				and `id` = #{id}
			</if>
			<if test="pid != null">
				and `pid` = #{pid}
			</if>
			<if test="name != null">
				and `name` = #{name}
			</if>
			<if test="isMenu != null">
				and `is_menu` = #{isMenu}
			</if>
			<if test="condition != null">
				and `condition` = #{condition}
			</if>
			<if test="frontPath != null">
				and `front_path` = #{frontPath}
			</if>
			<if test="routerMethod != null">
				and `router_method` = #{routerMethod}
			</if>
			<if test="seq != null">
				and `seq` = #{seq}
			</if>
			<if test="icon != null">
				and `icon` = #{icon}
			</if>
			<if test="status != null">
				and `status` = #{status}
			</if>
			<if test="iFrame != null">
				and `i_frame` = #{iFrame}
			</if>
			<if test="menuType != null">
				and `menu_type` = #{menuType}
			</if>
			<if test="path != null">
				and `path` = #{path}
			</if>
			<if test="permission != null">
				and `permission` = #{permission}
			</if>
			<if test="cache != null">
				and `cache` = #{cache}
			</if>
			<if test="hidden != null">
				and `hidden` = #{hidden}
			</if>
			<if test="component != null">
				and `component` = #{component}
			</if>
			<if test="componentName != null">
				and `component_name` = #{componentName}
			</if>
			<if test="createTime != null">
				and `create_time` = #{createTime}
			</if>
		</where>
	</select>

	<select id="selectByPrimaryKey" resultMap="ResultMenuMap"  parameterType="java.lang.Long">
		select
		<include refid="Column_sys_menu_List"/>
		from `sys_menu`
		where `id` = #{id}
	</select>

	<select id="selectByLiekAndObj" resultMap="ResultMenuMap"  parameterType="map">

		select
		<include refid="Column_sys_menu_List"/>
		from `sys_menu`
		<where>
			<if test="record.id != null">
				and `id` like concat('%',#{record.id},'%')
			</if>
			<if test="record.pid != null">
				and `pid` like concat('%',#{record.pid},'%')
			</if>
			<if test="record.name != null">
				and `name` like concat('%',#{record.name},'%')
			</if>
			<if test="record.isMenu != null">
				and `is_menu` like concat('%',#{record.isMenu},'%')
			</if>
			<if test="record.condition != null">
				and `condition` like concat('%',#{record.condition},'%')
			</if>
			<if test="record.frontPath != null">
				and `front_path` like concat('%',#{record.frontPath},'%')
			</if>
			<if test="record.routerMethod != null">
				and `router_method` like concat('%',#{record.routerMethod},'%')
			</if>
			<if test="record.seq != null">
				and `seq` like concat('%',#{record.seq},'%')
			</if>
			<if test="record.icon != null">
				and `icon` like concat('%',#{record.icon},'%')
			</if>
			<if test="record.status != null">
				and `status` like concat('%',#{record.status},'%')
			</if>
			<if test="record.iFrame != null">
				and `i_frame` like concat('%',#{record.iFrame},'%')
			</if>
			<if test="record.menuType != null">
				and `menu_type` like concat('%',#{record.menuType},'%')
			</if>
			<if test="record.path != null">
				and `path` like concat('%',#{record.path},'%')
			</if>
			<if test="record.permission != null">
				and `permission` like concat('%',#{record.permission},'%')
			</if>
			<if test="record.cache != null">
				and `cache` like concat('%',#{record.cache},'%')
			</if>
			<if test="record.hidden != null">
				and `hidden` like concat('%',#{record.hidden},'%')
			</if>
			<if test="record.component != null">
				and `component` like concat('%',#{record.component},'%')
			</if>
			<if test="record.componentName != null">
				and `component_name` like concat('%',#{record.componentName},'%')
			</if>
			<if test="record.createTime != null">
				and `create_time` like concat('%',#{record.createTime},'%')
			</if>
		</where>
		limit #{page.offset},#{page.pageSize}
	</select>

	<select id="selectByObj" resultMap="ResultMenuMap"  parameterType="map">

		select
		<include refid="Column_sys_menu_List"/>
		from `sys_menu`
		<where>
			<if test="record.id != null">
>				and `id` = #{record.id}
			</if>
			<if test="record.pid != null">
>				and `pid` = #{record.pid}
			</if>
			<if test="record.name != null">
>				and `name` = #{record.name}
			</if>
			<if test="record.isMenu != null">
>				and `is_menu` = #{record.isMenu}
			</if>
			<if test="record.condition != null">
>				and `condition` = #{record.condition}
			</if>
			<if test="record.frontPath != null">
>				and `front_path` = #{record.frontPath}
			</if>
			<if test="record.routerMethod != null">
>				and `router_method` = #{record.routerMethod}
			</if>
			<if test="record.seq != null">
>				and `seq` = #{record.seq}
			</if>
			<if test="record.icon != null">
>				and `icon` = #{record.icon}
			</if>
			<if test="record.status != null">
>				and `status` = #{record.status}
			</if>
			<if test="record.iFrame != null">
>				and `i_frame` = #{record.iFrame}
			</if>
			<if test="record.menuType != null">
>				and `menu_type` = #{record.menuType}
			</if>
			<if test="record.path != null">
>				and `path` = #{record.path}
			</if>
			<if test="record.permission != null">
>				and `permission` = #{record.permission}
			</if>
			<if test="record.cache != null">
>				and `cache` = #{record.cache}
			</if>
			<if test="record.hidden != null">
>				and `hidden` = #{record.hidden}
			</if>
			<if test="record.component != null">
>				and `component` = #{record.component}
			</if>
			<if test="record.componentName != null">
>				and `component_name` = #{record.componentName}
			</if>
			<if test="record.createTime != null">
>				and `create_time` = #{record.createTime}
			</if>
		</where>
		limit #{page.offset},#{page.pageSize}
	</select>

	<select id="countByLike" resultType = "java.lang.Integer" parameterType="cn.peyton.plum.mall.pojo.Menu">

		select
		count(`id`)
		from `sys_menu`
		<where>
			<if test="id != null">
>				and `id` like concat('%',#{id},'%')
			</if>
			<if test="pid != null">
>				and `pid` like concat('%',#{pid},'%')
			</if>
			<if test="name != null">
>				and `name` like concat('%',#{name},'%')
			</if>
			<if test="isMenu != null">
>				and `is_menu` like concat('%',#{isMenu},'%')
			</if>
			<if test="condition != null">
>				and `condition` like concat('%',#{condition},'%')
			</if>
			<if test="frontPath != null">
>				and `front_path` like concat('%',#{frontPath},'%')
			</if>
			<if test="routerMethod != null">
>				and `router_method` like concat('%',#{routerMethod},'%')
			</if>
			<if test="seq != null">
>				and `seq` like concat('%',#{seq},'%')
			</if>
			<if test="icon != null">
>				and `icon` like concat('%',#{icon},'%')
			</if>
			<if test="status != null">
>				and `status` like concat('%',#{status},'%')
			</if>
			<if test="iFrame != null">
>				and `i_frame` like concat('%',#{iFrame},'%')
			</if>
			<if test="menuType != null">
>				and `menu_type` like concat('%',#{menuType},'%')
			</if>
			<if test="path != null">
>				and `path` like concat('%',#{path},'%')
			</if>
			<if test="permission != null">
>				and `permission` like concat('%',#{permission},'%')
			</if>
			<if test="cache != null">
>				and `cache` like concat('%',#{cache},'%')
			</if>
			<if test="hidden != null">
>				and `hidden` like concat('%',#{hidden},'%')
			</if>
			<if test="component != null">
>				and `component` like concat('%',#{component},'%')
			</if>
			<if test="componentName != null">
>				and `component_name` like concat('%',#{componentName},'%')
			</if>
			<if test="createTime != null">
>				and `create_time` like concat('%',#{createTime},'%')
			</if>
		</where>
	</select>

	<select id="count" resultType = "java.lang.Integer" parameterType="cn.peyton.plum.mall.pojo.Menu">

		select
		count(`id`)
		from `sys_menu`
		<where>
			<if test="id != null">
>				and `id` = #{id}
			</if>
			<if test="pid != null">
>				and `pid` = #{pid}
			</if>
			<if test="name != null">
>				and `name` = #{name}
			</if>
			<if test="isMenu != null">
>				and `is_menu` = #{isMenu}
			</if>
			<if test="condition != null">
>				and `condition` = #{condition}
			</if>
			<if test="frontPath != null">
>				and `front_path` = #{frontPath}
			</if>
			<if test="routerMethod != null">
>				and `router_method` = #{routerMethod}
			</if>
			<if test="seq != null">
>				and `seq` = #{seq}
			</if>
			<if test="icon != null">
>				and `icon` = #{icon}
			</if>
			<if test="status != null">
>				and `status` = #{status}
			</if>
			<if test="iFrame != null">
>				and `i_frame` = #{iFrame}
			</if>
			<if test="menuType != null">
>				and `menu_type` = #{menuType}
			</if>
			<if test="path != null">
>				and `path` = #{path}
			</if>
			<if test="permission != null">
>				and `permission` = #{permission}
			</if>
			<if test="cache != null">
>				and `cache` = #{cache}
			</if>
			<if test="hidden != null">
>				and `hidden` = #{hidden}
			</if>
			<if test="component != null">
>				and `component` = #{component}
			</if>
			<if test="componentName != null">
>				and `component_name` = #{componentName}
			</if>
			<if test="createTime != null">
>				and `create_time` = #{createTime}
			</if>
		</where>
	</select>

	<!-- -->
	<select id="selectMenuListByShareIdAndType"  parameterType="map" resultMap="ResultMenuMap">
		SELECT
		    sys_menu.id,sys_menu.pid,sys_menu.name,sys_menu.is_menu,sys_menu.condition,
		    sys_menu.front_path,sys_menu.router_method,sys_menu.seq,sys_menu.icon,sys_menu.status,
		    sys_menu.i_frame,sys_menu.menu_type,sys_menu.path,sys_menu.permission,sys_menu.cache,
		    sys_menu.hidden,sys_menu.component,sys_menu.component_name,sys_menu.create_time
		from sys_menu LEFT JOIN sys_role_menu on sys_menu.id = sys_role_menu.menu_id
		where sys_role_menu.role_id in(select role_id FROM sys_user_role where share_id=#{shareId} and share_type=#{shareType})
	</select>

</mapper>
