<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.peyton.plum.mall.mapper.ProvinceMapper">
    <resultMap id="ResultProvinceMap" type="cn.peyton.plum.mall.pojo.Province">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="area_id" property="areaId" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="seq" property="seq" jdbcType="SMALLINT"/>
    </resultMap>

    <sql id="Column_sys_province_List">
        `id`,`area_id`,`name`,`seq`
    </sql>

    <insert id="insertSelective" parameterType="cn.peyton.plum.mall.pojo.Province" keyColumn="id" keyProperty="id"
            useGeneratedKeys="true">
        insert into `sys_province`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="areaId != null">`area_id`,</if>
            <if test="name != null">`name`,</if>
            <if test="seq != null">`seq`,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="areaId != null">#{areaId},</if>
            <if test="name != null">#{name},</if>
            <if test="seq != null">#{seq},</if>
        </trim>
    </insert>

    <update id="updateSelective" parameterType="cn.peyton.plum.mall.pojo.Province">
        update `sys_province`
        <set>
            <if test="areaId != null">`area_id` = #{areaId},</if>
            <if test="name != null">`name` = #{name},</if>
            <if test="seq != null">`seq` = #{seq},</if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from `sys_province`
        where `id` = #{id}
    </delete>

    <select id="isRename" resultType="java.lang.Integer" parameterType="cn.peyton.plum.mall.pojo.Province">

        select
        count(`id`)
        from `sys_province`
        <where>
            <if test="id != null">
                and `id` = #{id}
            </if>
            <if test="areaId != null">
                and `area_id` = #{areaId}
            </if>
            <if test="name != null">
                and `name` = #{name}
            </if>
            <if test="seq != null">
                and `seq` = #{seq}
            </if>
        </where>
    </select>

    <select id="selectByPrimaryKey" resultMap="ResultProvinceMap" parameterType="java.lang.Integer">
        select
        <include refid="Column_sys_province_List"/>
        from `sys_province`
        where `id` = #{id}
    </select>

    <select id="selectByLiekAndObj" resultMap="ResultProvinceMap" parameterType="map">

        select
        <include refid="Column_sys_province_List"/>
        from `sys_province`
        <where>
            <if test="record.id != null">
                and `id` like concat('%',#{record.id},'%')
            </if>
            <if test="record.areaId != null">
                and `area_id` like concat('%',#{record.areaId},'%')
            </if>
            <if test="record.name != null">
                and `name` like concat('%',#{record.name},'%')
            </if>
            <if test="record.seq != null">
                and `seq` like concat('%',#{record.seq},'%')
            </if>
        </where>
        limit #{page.offset},#{page.pageSize}
    </select>

    <select id="selectByObj" resultMap="ResultProvinceMap" parameterType="map">

        select
        <include refid="Column_sys_province_List"/>
        from `sys_province`
        <where>
            <if test="record.id != null">
                > and `id` = #{record.id}
            </if>
            <if test="record.areaId != null">
                > and `area_id` = #{record.areaId}
            </if>
            <if test="record.name != null">
                > and `name` = #{record.name}
            </if>
            <if test="record.seq != null">
                > and `seq` = #{record.seq}
            </if>
        </where>
        limit #{page.offset},#{page.pageSize}
    </select>

    <select id="countByLike" resultType="java.lang.Integer" parameterType="cn.peyton.plum.mall.pojo.Province">

        select
        count(`id`)
        from `sys_province`
        <where>
            <if test="id != null">
                > and `id` like concat('%',#{id},'%')
            </if>
            <if test="areaId != null">
                > and `area_id` like concat('%',#{areaId},'%')
            </if>
            <if test="name != null">
                > and `name` like concat('%',#{name},'%')
            </if>
            <if test="seq != null">
                > and `seq` like concat('%',#{seq},'%')
            </if>
        </where>
    </select>

    <select id="count" resultType="java.lang.Integer" parameterType="cn.peyton.plum.mall.pojo.Province">

        select
        count(`id`)
        from `sys_province`
        <where>
            <if test="id != null">
                > and `id` = #{id}
            </if>
            <if test="areaId != null">
                > and `area_id` = #{areaId}
            </if>
            <if test="name != null">
                > and `name` = #{name}
            </if>
            <if test="seq != null">
                > and `seq` = #{seq}
            </if>
        </where>
    </select>

</mapper>
