<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.peyton.plum.mall.mapper.RoleDeptMapper">
	<resultMap id="ResultRoleDeptMap" type="cn.peyton.plum.mall.pojo.RoleDept">
		<id column="id" property="id" jdbcType="BIGINT"/>
		<result column="role_id" property="roleId" jdbcType="BIGINT"/>
		<result column="dept_id" property="deptId" jdbcType="INTEGER"/>
	</resultMap>

	<sql id="Column_sys_role_dept_List">
		`id`,`role_id`,`dept_id`
	</sql>

	<insert id="insertSelective" parameterType="cn.peyton.plum.mall.pojo.RoleDept" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
		insert into `sys_role_dept`
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="roleId != null">`role_id`,</if>
			<if test="deptId != null">`dept_id`,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="roleId != null">#{roleId},</if>
			<if test="deptId != null">#{deptId},</if>
		</trim>
	</insert>

	<update id="updateSelective" parameterType="cn.peyton.plum.mall.pojo.RoleDept">
		update `sys_role_dept`
		<set>
			<if test="roleId != null">`role_id` = #{roleId},</if>
			<if test="deptId != null">`dept_id` = #{deptId},</if>
		</set>
		where id = #{id}
	</update>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from `sys_role_dept`
		where `id` = #{id}
	</delete>

	<select id="isRename" resultType = "java.lang.Integer" parameterType="cn.peyton.plum.mall.pojo.RoleDept">
		select
		count(`id`)
		from `sys_role_dept`
		<where>
			<if test="id != null">
				and `id` = #{id}
			</if>
			<if test="roleId != null">
				and `role_id` = #{roleId}
			</if>
			<if test="deptId != null">
				and `dept_id` = #{deptId}
			</if>
		</where>
	</select>

	<select id="selectByPrimaryKey" resultMap="ResultRoleDeptMap"  parameterType="java.lang.Long">
		select
		<include refid="Column_sys_role_dept_List"/>
		from `sys_role_dept`
		where `id` = #{id}
	</select>

	<select id="selectByLiekAndObj" resultMap="ResultRoleDeptMap"  parameterType="map">
		select
		<include refid="Column_sys_role_dept_List"/>
		from `sys_role_dept`
		<where>
			<if test="record.id != null">
				and `id` like concat('%',#{record.id},'%')
			</if>
			<if test="record.roleId != null">
				and `role_id` like concat('%',#{record.roleId},'%')
			</if>
			<if test="record.deptId != null">
				and `dept_id` like concat('%',#{record.deptId},'%')
			</if>
		</where>
		limit #{page.offset},#{page.pageSize}
	</select>

	<select id="selectByObj" resultMap="ResultRoleDeptMap"  parameterType="map">
		select
		<include refid="Column_sys_role_dept_List"/>
		from `sys_role_dept`
		<where>
			<if test="record.id != null">
				and `id` = #{record.id}
			</if>
			<if test="record.roleId != null">
				and `role_id` = #{record.roleId}
			</if>
			<if test="record.deptId != null">
				and `dept_id` = #{record.deptId}
			</if>
		</where>
		limit #{page.offset},#{page.pageSize}
	</select>

	<select id="countByLike" resultType = "java.lang.Integer" parameterType="cn.peyton.plum.mall.pojo.RoleDept">
		select
		count(`id`)
		from `sys_role_dept`
		<where>
			<if test="id != null">
				and `id` like concat('%',#{id},'%')
			</if>
			<if test="roleId != null">
				and `role_id` like concat('%',#{roleId},'%')
			</if>
			<if test="deptId != null">
				and `dept_id` like concat('%',#{deptId},'%')
			</if>
		</where>
	</select>

	<select id="count" resultType = "java.lang.Integer" parameterType="cn.peyton.plum.mall.pojo.RoleDept">
		select
		count(`id`)
		from `sys_role_dept`
		<where>
			<if test="id != null">
				and `id` = #{id}
			</if>
			<if test="roleId != null">
				and `role_id` = #{roleId}
			</if>
			<if test="deptId != null">
				and `dept_id` = #{deptId}
			</if>
		</where>
	</select>

</mapper>
