<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.peyton.plum.mall.mapper.ShippingTemplatesValueMapper">
	<resultMap id="ResultShippingTemplatesValueMap" type="cn.peyton.plum.mall.pojo.ShippingTemplatesValue">
		<id column="id" property="id" jdbcType="INTEGER"/>
		<result column="province_id" property="provinceId" jdbcType="INTEGER"/>
		<result column="temp_id" property="tempId" jdbcType="INTEGER"/>
		<result column="city_id" property="cityId" jdbcType="INTEGER"/>
		<result column="num" property="num" jdbcType="DECIMAL"/>
		<result column="price" property="price" jdbcType="DECIMAL"/>
		<result column="calc_type" property="calcType" jdbcType="TINYINT"/>
		<result column="uniqid" property="uniqid" jdbcType="VARCHAR"/>
	</resultMap>

	<sql id="Column_tb_shipping_templates_value_List">
		`id`,`province_id`,`temp_id`,`city_id`,`num`,`price`,`calc_type`,`uniqid`
	</sql>

	<insert id="insertSelective" parameterType="cn.peyton.plum.mall.pojo.ShippingTemplatesValue" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
		insert into `tb_shipping_templates_value`
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="provinceId != null">`province_id`,</if>
			<if test="tempId != null">`temp_id`,</if>
			<if test="cityId != null">`city_id`,</if>
			<if test="num != null">`num`,</if>
			<if test="price != null">`price`,</if>
			<if test="calcType != null">`calc_type`,</if>
			<if test="uniqid != null">`uniqid`,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="provinceId != null">#{provinceId},</if>
			<if test="tempId != null">#{tempId},</if>
			<if test="cityId != null">#{cityId},</if>
			<if test="num != null">#{num},</if>
			<if test="price != null">#{price},</if>
			<if test="calcType != null">#{calcType},</if>
			<if test="uniqid != null">#{uniqid},</if>
		</trim>
	</insert>

	<update id="updateSelective" parameterType="cn.peyton.plum.mall.pojo.ShippingTemplatesValue">
		update `tb_shipping_templates_value`
		<set>
			<if test="provinceId != null">`province_id` = #{provinceId},</if>
			<if test="tempId != null">`temp_id` = #{tempId},</if>
			<if test="cityId != null">`city_id` = #{cityId},</if>
			<if test="num != null">`num` = #{num},</if>
			<if test="price != null">`price` = #{price},</if>
			<if test="calcType != null">`calc_type` = #{calcType},</if>
			<if test="uniqid != null">`uniqid` = #{uniqid},</if>
		</set>
		where id = #{id}
	</update>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from `tb_shipping_templates_value`
		where `id` = #{id}
	</delete>

	<select id="isRename" resultType = "java.lang.Integer" parameterType="cn.peyton.plum.mall.pojo.ShippingTemplatesValue">

		select
		count(`id`)
		from `tb_shipping_templates_value`
		<where>
			<if test="id != null">
				and `id` = #{id}
			</if>
			<if test="provinceId != null">
				and `province_id` = #{provinceId}
			</if>
			<if test="tempId != null">
				and `temp_id` = #{tempId}
			</if>
			<if test="cityId != null">
				and `city_id` = #{cityId}
			</if>
			<if test="num != null">
				and `num` = #{num}
			</if>
			<if test="price != null">
				and `price` = #{price}
			</if>
			<if test="calcType != null">
				and `calc_type` = #{calcType}
			</if>
			<if test="uniqid != null">
				and `uniqid` = #{uniqid}
			</if>
		</where>
	</select>

	<select id="selectByPrimaryKey" resultMap="ResultShippingTemplatesValueMap"  parameterType="java.lang.Integer">
		select
		<include refid="Column_tb_shipping_templates_value_List"/>
		from `tb_shipping_templates_value`
		where `id` = #{id}
	</select>

	<select id="selectByLiekAndObj" resultMap="ResultShippingTemplatesValueMap"  parameterType="map">

		select
		<include refid="Column_tb_shipping_templates_value_List"/>
		from `tb_shipping_templates_value`
		<where>
			<if test="record.id != null">
				and `id` like concat('%',#{record.id},'%')
			</if>
			<if test="record.provinceId != null">
				and `province_id` like concat('%',#{record.provinceId},'%')
			</if>
			<if test="record.tempId != null">
				and `temp_id` like concat('%',#{record.tempId},'%')
			</if>
			<if test="record.cityId != null">
				and `city_id` like concat('%',#{record.cityId},'%')
			</if>
			<if test="record.num != null">
				and `num` like concat('%',#{record.num},'%')
			</if>
			<if test="record.price != null">
				and `price` like concat('%',#{record.price},'%')
			</if>
			<if test="record.calcType != null">
				and `calc_type` like concat('%',#{record.calcType},'%')
			</if>
			<if test="record.uniqid != null">
				and `uniqid` like concat('%',#{record.uniqid},'%')
			</if>
		</where>
		limit #{page.offset},#{page.pageSize}
	</select>

	<select id="selectByObj" resultMap="ResultShippingTemplatesValueMap"  parameterType="map">

		select
		<include refid="Column_tb_shipping_templates_value_List"/>
		from `tb_shipping_templates_value`
		<where>
			<if test="record.id != null">
>				and `id` = #{record.id}
			</if>
			<if test="record.provinceId != null">
>				and `province_id` = #{record.provinceId}
			</if>
			<if test="record.tempId != null">
>				and `temp_id` = #{record.tempId}
			</if>
			<if test="record.cityId != null">
>				and `city_id` = #{record.cityId}
			</if>
			<if test="record.num != null">
>				and `num` = #{record.num}
			</if>
			<if test="record.price != null">
>				and `price` = #{record.price}
			</if>
			<if test="record.calcType != null">
>				and `calc_type` = #{record.calcType}
			</if>
			<if test="record.uniqid != null">
>				and `uniqid` = #{record.uniqid}
			</if>
		</where>
		limit #{page.offset},#{page.pageSize}
	</select>

	<select id="countByLike" resultType = "java.lang.Integer" parameterType="cn.peyton.plum.mall.pojo.ShippingTemplatesValue">

		select
		count(`id`)
		from `tb_shipping_templates_value`
		<where>
			<if test="id != null">
>				and `id` like concat('%',#{id},'%')
			</if>
			<if test="provinceId != null">
>				and `province_id` like concat('%',#{provinceId},'%')
			</if>
			<if test="tempId != null">
>				and `temp_id` like concat('%',#{tempId},'%')
			</if>
			<if test="cityId != null">
>				and `city_id` like concat('%',#{cityId},'%')
			</if>
			<if test="num != null">
>				and `num` like concat('%',#{num},'%')
			</if>
			<if test="price != null">
>				and `price` like concat('%',#{price},'%')
			</if>
			<if test="calcType != null">
>				and `calc_type` like concat('%',#{calcType},'%')
			</if>
			<if test="uniqid != null">
>				and `uniqid` like concat('%',#{uniqid},'%')
			</if>
		</where>
	</select>

	<select id="count" resultType = "java.lang.Integer" parameterType="cn.peyton.plum.mall.pojo.ShippingTemplatesValue">

		select
		count(`id`)
		from `tb_shipping_templates_value`
		<where>
			<if test="id != null">
>				and `id` = #{id}
			</if>
			<if test="provinceId != null">
>				and `province_id` = #{provinceId}
			</if>
			<if test="tempId != null">
>				and `temp_id` = #{tempId}
			</if>
			<if test="cityId != null">
>				and `city_id` = #{cityId}
			</if>
			<if test="num != null">
>				and `num` = #{num}
			</if>
			<if test="price != null">
>				and `price` = #{price}
			</if>
			<if test="calcType != null">
>				and `calc_type` = #{calcType}
			</if>
			<if test="uniqid != null">
>				and `uniqid` = #{uniqid}
			</if>
		</where>
	</select>

</mapper>
