<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.peyton.plum.mall.mapper.ShippingTemplatesMapper">
	<resultMap id="ResultShippingTemplatesMap" type="cn.peyton.plum.mall.pojo.ShippingTemplates">
		<id column="id" property="id" jdbcType="INTEGER"/>
		<result column="name" property="name" jdbcType="VARCHAR"/>
		<result column="calc_type" property="calcType" jdbcType="TINYINT"/>
		<result column="region_info" property="regionInfo" jdbcType="LONGVARCHAR"/>
		<result column="appoint" property="appoint" jdbcType="TINYINT"/>
		<result column="appoint_info" property="appointInfo" jdbcType="LONGVARCHAR"/>
		<result column="is_del" property="isDel" jdbcType="BIT"/>
		<result column="seq" property="seq" jdbcType="SMALLINT"/>
		<result column="create_time" property="createTime" jdbcType="INTEGER"/>
		<result column="update_time" property="updateTime" jdbcType="INTEGER"/>
	</resultMap>

	<sql id="Column_tb_shipping_templates_List">
		`id`,`name`,`calc_type`,`region_info`,`appoint`,`appoint_info`,`is_del`,`seq`,`create_time`,`update_time`
	</sql>

	<insert id="insertSelective" parameterType="cn.peyton.plum.mall.pojo.ShippingTemplates" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
		insert into `tb_shipping_templates`
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="name != null">`name`,</if>
			<if test="calcType != null">`calc_type`,</if>
			<if test="regionInfo != null">`region_info`,</if>
			<if test="appoint != null">`appoint`,</if>
			<if test="appointInfo != null">`appoint_info`,</if>
			<if test="isDel != null">`is_del`,</if>
			<if test="seq != null">`seq`,</if>
			<if test="createTime != null">`create_time`,</if>
			<if test="updateTime != null">`update_time`,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="name != null">#{name},</if>
			<if test="calcType != null">#{calcType},</if>
			<if test="regionInfo != null">#{regionInfo},</if>
			<if test="appoint != null">#{appoint},</if>
			<if test="appointInfo != null">#{appointInfo},</if>
			<if test="isDel != null">#{isDel},</if>
			<if test="seq != null">#{seq},</if>
			<if test="createTime != null">#{createTime},</if>
			<if test="updateTime != null">#{updateTime},</if>
		</trim>
	</insert>

	<update id="updateSelective" parameterType="cn.peyton.plum.mall.pojo.ShippingTemplates">
		update `tb_shipping_templates`
		<set>
			<if test="name != null">`name` = #{name},</if>
			<if test="calcType != null">`calc_type` = #{calcType},</if>
			<if test="regionInfo != null">`region_info` = #{regionInfo},</if>
			<if test="appoint != null">`appoint` = #{appoint},</if>
			<if test="appointInfo != null">`appoint_info` = #{appointInfo},</if>
			<if test="isDel != null">`is_del` = #{isDel},</if>
			<if test="seq != null">`seq` = #{seq},</if>
			<if test="createTime != null">`create_time` = #{createTime},</if>
			<if test="updateTime != null">`update_time` = #{updateTime},</if>
		</set>
		where id = #{id}
	</update>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from `tb_shipping_templates`
		where `id` = #{id}
	</delete>

	<select id="isRename" resultType = "java.lang.Integer" parameterType="cn.peyton.plum.mall.pojo.ShippingTemplates">
		select
		count(`id`)
		from `tb_shipping_templates`
		<where>
			<if test="id != null">
				and `id` = #{id}
			</if>
			<if test="name != null">
				and `name` = #{name}
			</if>
			<if test="calcType != null">
				and `calc_type` = #{calcType}
			</if>
			<if test="regionInfo != null">
				and `region_info` = #{regionInfo}
			</if>
			<if test="appoint != null">
				and `appoint` = #{appoint}
			</if>
			<if test="appointInfo != null">
				and `appoint_info` = #{appointInfo}
			</if>
			<if test="isDel != null">
				and `is_del` = #{isDel}
			</if>
			<if test="seq != null">
				and `seq` = #{seq}
			</if>
			<if test="createTime != null">
				and `create_time` = #{createTime}
			</if>
			<if test="updateTime != null">
				and `update_time` = #{updateTime}
			</if>
		</where>
	</select>

	<select id="selectByPrimaryKey" resultMap="ResultShippingTemplatesMap"  parameterType="java.lang.Integer">
		select
		<include refid="Column_tb_shipping_templates_List"/>
		from `tb_shipping_templates`
		where `id` = #{id}
	</select>

	<select id="selectByLiekAndObj" resultMap="ResultShippingTemplatesMap"  parameterType="map">
		select
		<include refid="Column_tb_shipping_templates_List"/>
		from `tb_shipping_templates`
		<where>
			<if test="record.id != null">
				and `id` like concat('%',#{record.id},'%')
			</if>
			<if test="record.name != null">
				and `name` like concat('%',#{record.name},'%')
			</if>
			<if test="record.calcType != null">
				and `calc_type` like concat('%',#{record.calcType},'%')
			</if>
			<if test="record.regionInfo != null">
				and `region_info` like concat('%',#{record.regionInfo},'%')
			</if>
			<if test="record.appoint != null">
				and `appoint` like concat('%',#{record.appoint},'%')
			</if>
			<if test="record.appointInfo != null">
				and `appoint_info` like concat('%',#{record.appointInfo},'%')
			</if>
			<if test="record.isDel != null">
				and `is_del` like concat('%',#{record.isDel},'%')
			</if>
			<if test="record.seq != null">
				and `seq` like concat('%',#{record.seq},'%')
			</if>
			<if test="record.createTime != null">
				and `create_time` like concat('%',#{record.createTime},'%')
			</if>
			<if test="record.updateTime != null">
				and `update_time` like concat('%',#{record.updateTime},'%')
			</if>
		</where>
		limit #{page.offset},#{page.pageSize}
	</select>

	<select id="selectByObj" resultMap="ResultShippingTemplatesMap"  parameterType="map">
		select
		<include refid="Column_tb_shipping_templates_List"/>
		from `tb_shipping_templates`
		<where>
			<if test="record.id != null">
				and `id` = #{record.id}
			</if>
			<if test="record.name != null">
				and `name` = #{record.name}
			</if>
			<if test="record.calcType != null">
				and `calc_type` = #{record.calcType}
			</if>
			<if test="record.regionInfo != null">
				and `region_info` = #{record.regionInfo}
			</if>
			<if test="record.appoint != null">
				and `appoint` = #{record.appoint}
			</if>
			<if test="record.appointInfo != null">
				and `appoint_info` = #{record.appointInfo}
			</if>
			<if test="record.isDel != null">
				and `is_del` = #{record.isDel}
			</if>
			<if test="record.seq != null">
				and `seq` = #{record.seq}
			</if>
			<if test="record.createTime != null">
				and `create_time` = #{record.createTime}
			</if>
			<if test="record.updateTime != null">
				and `update_time` = #{record.updateTime}
			</if>
		</where>
		limit #{page.offset},#{page.pageSize}
	</select>

	<select id="countByLike" resultType = "java.lang.Integer" parameterType="cn.peyton.plum.mall.pojo.ShippingTemplates">
		select
		count(`id`)
		from `tb_shipping_templates`
		<where>
			<if test="id != null">
				and `id` like concat('%',#{id},'%')
			</if>
			<if test="name != null">
				and `name` like concat('%',#{name},'%')
			</if>
			<if test="calcType != null">
				and `calc_type` like concat('%',#{calcType},'%')
			</if>
			<if test="regionInfo != null">
				and `region_info` like concat('%',#{regionInfo},'%')
			</if>
			<if test="appoint != null">
				and `appoint` like concat('%',#{appoint},'%')
			</if>
			<if test="appointInfo != null">
				and `appoint_info` like concat('%',#{appointInfo},'%')
			</if>
			<if test="isDel != null">
				and `is_del` like concat('%',#{isDel},'%')
			</if>
			<if test="seq != null">
				and `seq` like concat('%',#{seq},'%')
			</if>
			<if test="createTime != null">
				and `create_time` like concat('%',#{createTime},'%')
			</if>
			<if test="updateTime != null">
				and `update_time` like concat('%',#{updateTime},'%')
			</if>
		</where>
	</select>

	<select id="count" resultType = "java.lang.Integer" parameterType="cn.peyton.plum.mall.pojo.ShippingTemplates">
		select
		count(`id`)
		from `tb_shipping_templates`
		<where>
			<if test="id != null">
				and `id` = #{id}
			</if>
			<if test="name != null">
				and `name` = #{name}
			</if>
			<if test="calcType != null">
				and `calc_type` = #{calcType}
			</if>
			<if test="regionInfo != null">
				and `region_info` = #{regionInfo}
			</if>
			<if test="appoint != null">
				and `appoint` = #{appoint}
			</if>
			<if test="appointInfo != null">
				and `appoint_info` = #{appointInfo}
			</if>
			<if test="isDel != null">
				and `is_del` = #{isDel}
			</if>
			<if test="seq != null">
				and `seq` = #{seq}
			</if>
			<if test="createTime != null">
				and `create_time` = #{createTime}
			</if>
			<if test="updateTime != null">
				and `update_time` = #{updateTime}
			</if>
		</where>
	</select>

</mapper>
