<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.peyton.plum.mall.mapper.ShopOrderStatusMapper">
	<resultMap id="ResultShopOrderStatusMap" type="cn.peyton.plum.mall.pojo.ShopOrderStatus">
		<id column="id" property="id" jdbcType="BIGINT"/>
		<result column="oid" property="oid" jdbcType="BIGINT"/>
		<result column="change_type" property="changeType" jdbcType="VARCHAR"/>
		<result column="change_message" property="changeMessage" jdbcType="VARCHAR"/>
		<result column="change_time" property="changeTime" jdbcType="INTEGER"/>
	</resultMap>

	<sql id="Column_tb_shop_order_status_List">
		`id`,`oid`,`change_type`,`change_message`,`change_time`
	</sql>

	<insert id="insertSelective" parameterType="cn.peyton.plum.mall.pojo.ShopOrderStatus" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
		insert into `tb_shop_order_status`
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="oid != null">`oid`,</if>
			<if test="changeType != null">`change_type`,</if>
			<if test="changeMessage != null">`change_message`,</if>
			<if test="changeTime != null">`change_time`,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="oid != null">#{oid},</if>
			<if test="changeType != null">#{changeType},</if>
			<if test="changeMessage != null">#{changeMessage},</if>
			<if test="changeTime != null">#{changeTime},</if>
		</trim>
	</insert>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from `tb_shop_order_status`
		where `id` = #{id}
	</delete>

	<update id="updateByPrimaryKeySelective" parameterType="cn.peyton.plum.mall.pojo.ShopOrderStatus">
		update `tb_shop_order_status`
		<set>
			<if test="oid != null">`oid` = #{oid},</if>
			<if test="changeType != null">`change_type` = #{changeType},</if>
			<if test="changeMessage != null">`change_message` = #{changeMessage},</if>
			<if test="changeTime != null">`change_time` = #{changeTime},</if>
		</set>
		where id = #{id}
	</update>

	<select id="selectByPrimaryKey" resultMap="ResultShopOrderStatusMap"  parameterType="java.lang.Long">
		select
		<include refid="Column_tb_shop_order_status_List"/>
		from `tb_shop_order_status`
		where `id` = #{id}
	</select>

	<!-- new create method   -->	

	<select id="selectByAllOrKeyword" resultMap="ResultShopOrderStatusMap"  parameterType="map">

	</select>

	<select id="selectByObj" resultMap="ResultShopOrderStatusMap"  parameterType="map">

	</select>

	<select id="count" resultType = "java.lang.Integer" parameterType="java.lang.String">

	</select>

	<select id="isRename" resultType = "java.lang.Integer" parameterType="cn.peyton.plum.mall.pojo.ShopOrderStatus">

	</select>

	<update id="upStatus" parameterType="cn.peyton.plum.mall.pojo.ShopOrderStatus">

	</update>

</mapper>
