<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.peyton.plum.mall.mapper.ShopSlideshowMapper">
	<resultMap id="ResultShopSlideshowMap" type="cn.peyton.plum.mall.pojo.ShopSlideshow">
		<id column="id" property="id" jdbcType="BIGINT"/>
		<result column="product_id" property="productId" jdbcType="BIGINT"/>
		<result column="src" property="src" jdbcType="VARCHAR"/>
		<result column="url" property="url" jdbcType="VARCHAR"/>
		<result column="create_time" property="createTime" jdbcType="INTEGER"/>
	</resultMap>

	<sql id="Column_tb_shop_slideshow_List">
		`id`,`product_id`,`src`,`url`,`create_time`
	</sql>

	<insert id="insertSelective" parameterType="cn.peyton.plum.mall.pojo.ShopSlideshow" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
		insert into `tb_shop_slideshow`
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="productId != null">`product_id`,</if>
			<if test="src != null">`src`,</if>
			<if test="url != null">`url`,</if>
			<if test="createTime != null">`create_time`,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="productId != null">#{productId},</if>
			<if test="src != null">#{src},</if>
			<if test="url != null">#{url},</if>
			<if test="createTime != null">#{createTime},</if>
		</trim>
	</insert>

	<update id="updateSelective" parameterType="cn.peyton.plum.mall.pojo.ShopSlideshow">
		update `tb_shop_slideshow`
		<set>
			<if test="productId != null">`product_id` = #{productId},</if>
			<if test="src != null">`src` = #{src},</if>
			<if test="url != null">`url` = #{url},</if>
			<if test="createTime != null">`create_time` = #{createTime},</if>
		</set>
		where id = #{id}
	</update>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from `tb_shop_slideshow`
		where `id` = #{id}
	</delete>

	<select id="isRename" resultType = "java.lang.Integer" parameterType="cn.peyton.plum.mall.pojo.ShopSlideshow">

		select
		count(`id`)
		from `tb_shop_slideshow`
		<where>
			<if test="id != null">
				and `id` = #{id}
			</if>
			<if test="productId != null">
				and `product_id` = #{productId}
			</if>
			<if test="src != null">
				and `src` = #{src}
			</if>
			<if test="url != null">
				and `url` = #{url}
			</if>
			<if test="createTime != null">
				and `create_time` = #{createTime}
			</if>
		</where>
	</select>

	<select id="selectByPrimaryKey" resultMap="ResultShopSlideshowMap"  parameterType="java.lang.Long">
		select
		<include refid="Column_tb_shop_slideshow_List"/>
		from `tb_shop_slideshow`
		where `id` = #{id}
	</select>

	<select id="selectByLiekAndObj" resultMap="ResultShopSlideshowMap"  parameterType="map">

		select
		<include refid="Column_tb_shop_slideshow_List"/>
		from `tb_shop_slideshow`
		<where>
			<if test="record.id != null">
				and `id` like concat('%',#{record.id},'%')
			</if>
			<if test="record.productId != null">
				and `product_id` like concat('%',#{record.productId},'%')
			</if>
			<if test="record.src != null">
				and `src` like concat('%',#{record.src},'%')
			</if>
			<if test="record.url != null">
				and `url` like concat('%',#{record.url},'%')
			</if>
			<if test="record.createTime != null">
				and `create_time` like concat('%',#{record.createTime},'%')
			</if>
		</where>
		limit #{page.offset},#{page.pageSize}
	</select>

	<select id="selectByObj" resultMap="ResultShopSlideshowMap"  parameterType="map">

		select
		<include refid="Column_tb_shop_slideshow_List"/>
		from `tb_shop_slideshow`
		<where>
			<if test="record.id != null">
>				and `id` = #{record.id}
			</if>
			<if test="record.productId != null">
>				and `product_id` = #{record.productId}
			</if>
			<if test="record.src != null">
>				and `src` = #{record.src}
			</if>
			<if test="record.url != null">
>				and `url` = #{record.url}
			</if>
			<if test="record.createTime != null">
>				and `create_time` = #{record.createTime}
			</if>
		</where>
		limit #{page.offset},#{page.pageSize}
	</select>

	<select id="countByLike" resultType = "java.lang.Integer" parameterType="cn.peyton.plum.mall.pojo.ShopSlideshow">

		select
		count(`id`)
		from `tb_shop_slideshow`
		<where>
			<if test="id != null">
>				and `id` like concat('%',#{id},'%')
			</if>
			<if test="productId != null">
>				and `product_id` like concat('%',#{productId},'%')
			</if>
			<if test="src != null">
>				and `src` like concat('%',#{src},'%')
			</if>
			<if test="url != null">
>				and `url` like concat('%',#{url},'%')
			</if>
			<if test="createTime != null">
>				and `create_time` like concat('%',#{createTime},'%')
			</if>
		</where>
	</select>

	<select id="count" resultType = "java.lang.Integer" parameterType="cn.peyton.plum.mall.pojo.ShopSlideshow">

		select
		count(`id`)
		from `tb_shop_slideshow`
		<where>
			<if test="id != null">
>				and `id` = #{id}
			</if>
			<if test="productId != null">
>				and `product_id` = #{productId}
			</if>
			<if test="src != null">
>				and `src` = #{src}
			</if>
			<if test="url != null">
>				and `url` = #{url}
			</if>
			<if test="createTime != null">
>				and `create_time` = #{createTime}
			</if>
		</where>
	</select>

</mapper>
