<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.peyton.plum.mall.mapper.ShopProductMapper">
	<resultMap id="ResultShopProductMap" type="cn.peyton.plum.mall.pojo.ShopProduct">
		<id column="id" property="id" jdbcType="BIGINT"/>
		<result column="cover" property="cover" jdbcType="VARCHAR"/>
		<result column="name" property="name" jdbcType="VARCHAR"/>
		<result column="info" property="info" jdbcType="VARCHAR"/>
		<result column="keyword" property="keyword" jdbcType="VARCHAR"/>
		<result column="temp_id" property="tempId" jdbcType="INTEGER"/>
		<result column="price" property="price" jdbcType="DECIMAL"/>
		<result column="vip_price" property="vipPrice" jdbcType="DECIMAL"/>
		<result column="ot_price" property="otPrice" jdbcType="DECIMAL"/>
		<result column="cost_price" property="costPrice" jdbcType="DECIMAL"/>
		<result column="postage" property="postage" jdbcType="DECIMAL"/>
		<result column="unit_name" property="unitName" jdbcType="VARCHAR"/>
		<result column="seq" property="seq" jdbcType="SMALLINT"/>
		<result column="sales" property="sales" jdbcType="INTEGER"/>
		<result column="stock" property="stock" jdbcType="INTEGER"/>
		<result column="browse" property="browse" jdbcType="INTEGER"/>
		<result column="ficti" property="ficti" jdbcType="INTEGER"/>
		<result column="code_path" property="codePath" jdbcType="VARCHAR"/>
		<result column="explain" property="explain" jdbcType="LONGVARCHAR"/>
		<result column="spec_type" property="specType" jdbcType="TINYINT"/>
		<result column="is_show" property="isShow" jdbcType="TINYINT"/>
		<result column="is_hot" property="isHot" jdbcType="TINYINT"/>
		<result column="is_benefit" property="isBenefit" jdbcType="TINYINT"/>
		<result column="is_best" property="isBest" jdbcType="TINYINT"/>
		<result column="is_new" property="isNew" jdbcType="TINYINT"/>
		<result column="is_postage" property="isPostage" jdbcType="TINYINT"/>
		<result column="is_del" property="isDel" jdbcType="TINYINT"/>
		<result column="is_good" property="isGood" jdbcType="TINYINT"/>
		<result column="is_sub" property="isSub" jdbcType="TINYINT"/>
		<result column="give_integral" property="giveIntegral" jdbcType="INTEGER"/>
		<result column="is_integral" property="isIntegral" jdbcType="TINYINT"/>
		<result column="integral" property="integral" jdbcType="INTEGER"/>
		<result column="create_time" property="createTime" jdbcType="INTEGER"/>
		<result column="update_time" property="updateTime" jdbcType="INTEGER"/>
	</resultMap>

	<sql id="Column_tb_shop_product_List">
		`id`,`cover`,`name`,`info`,`keyword`,`temp_id`,`price`,`vip_price`,`ot_price`,`cost_price`,`postage`,`unit_name`,`seq`,`sales`,`stock`,`browse`,`ficti`,`code_path`,`explain`,`spec_type`,`is_show`,`is_hot`,`is_benefit`,`is_best`,`is_new`,`is_postage`,`is_del`,`is_good`,`is_sub`,`give_integral`,`is_integral`,`integral`,`create_time`,`update_time`
	</sql>

	<insert id="insertSelective" parameterType="cn.peyton.plum.mall.pojo.ShopProduct" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
		insert into `tb_shop_product`
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="cover != null">`cover`,</if>
			<if test="name != null">`name`,</if>
			<if test="info != null">`info`,</if>
			<if test="keyword != null">`keyword`,</if>
			<if test="tempId != null">`temp_id`,</if>
			<if test="price != null">`price`,</if>
			<if test="vipPrice != null">`vip_price`,</if>
			<if test="otPrice != null">`ot_price`,</if>
			<if test="costPrice != null">`cost_price`,</if>
			<if test="postage != null">`postage`,</if>
			<if test="unitName != null">`unit_name`,</if>
			<if test="seq != null">`seq`,</if>
			<if test="sales != null">`sales`,</if>
			<if test="stock != null">`stock`,</if>
			<if test="browse != null">`browse`,</if>
			<if test="ficti != null">`ficti`,</if>
			<if test="codePath != null">`code_path`,</if>
			<if test="explain != null">`explain`,</if>
			<if test="specType != null">`spec_type`,</if>
			<if test="isShow != null">`is_show`,</if>
			<if test="isHot != null">`is_hot`,</if>
			<if test="isBenefit != null">`is_benefit`,</if>
			<if test="isBest != null">`is_best`,</if>
			<if test="isNew != null">`is_new`,</if>
			<if test="isPostage != null">`is_postage`,</if>
			<if test="isDel != null">`is_del`,</if>
			<if test="isGood != null">`is_good`,</if>
			<if test="isSub != null">`is_sub`,</if>
			<if test="giveIntegral != null">`give_integral`,</if>
			<if test="isIntegral != null">`is_integral`,</if>
			<if test="integral != null">`integral`,</if>
			<if test="createTime != null">`create_time`,</if>
			<if test="updateTime != null">`update_time`,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="cover != null">#{cover},</if>
			<if test="name != null">#{name},</if>
			<if test="info != null">#{info},</if>
			<if test="keyword != null">#{keyword},</if>
			<if test="tempId != null">#{tempId},</if>
			<if test="price != null">#{price},</if>
			<if test="vipPrice != null">#{vipPrice},</if>
			<if test="otPrice != null">#{otPrice},</if>
			<if test="costPrice != null">#{costPrice},</if>
			<if test="postage != null">#{postage},</if>
			<if test="unitName != null">#{unitName},</if>
			<if test="seq != null">#{seq},</if>
			<if test="sales != null">#{sales},</if>
			<if test="stock != null">#{stock},</if>
			<if test="browse != null">#{browse},</if>
			<if test="ficti != null">#{ficti},</if>
			<if test="codePath != null">#{codePath},</if>
			<if test="explain != null">#{explain},</if>
			<if test="specType != null">#{specType},</if>
			<if test="isShow != null">#{isShow},</if>
			<if test="isHot != null">#{isHot},</if>
			<if test="isBenefit != null">#{isBenefit},</if>
			<if test="isBest != null">#{isBest},</if>
			<if test="isNew != null">#{isNew},</if>
			<if test="isPostage != null">#{isPostage},</if>
			<if test="isDel != null">#{isDel},</if>
			<if test="isGood != null">#{isGood},</if>
			<if test="isSub != null">#{isSub},</if>
			<if test="giveIntegral != null">#{giveIntegral},</if>
			<if test="isIntegral != null">#{isIntegral},</if>
			<if test="integral != null">#{integral},</if>
			<if test="createTime != null">#{createTime},</if>
			<if test="updateTime != null">#{updateTime},</if>
		</trim>
	</insert>

	<update id="updateSelective" parameterType="cn.peyton.plum.mall.pojo.ShopProduct">
		update `tb_shop_product`
		<set>
			<if test="cover != null">`cover` = #{cover},</if>
			<if test="name != null">`name` = #{name},</if>
			<if test="info != null">`info` = #{info},</if>
			<if test="keyword != null">`keyword` = #{keyword},</if>
			<if test="tempId != null">`temp_id` = #{tempId},</if>
			<if test="price != null">`price` = #{price},</if>
			<if test="vipPrice != null">`vip_price` = #{vipPrice},</if>
			<if test="otPrice != null">`ot_price` = #{otPrice},</if>
			<if test="costPrice != null">`cost_price` = #{costPrice},</if>
			<if test="postage != null">`postage` = #{postage},</if>
			<if test="unitName != null">`unit_name` = #{unitName},</if>
			<if test="seq != null">`seq` = #{seq},</if>
			<if test="sales != null">`sales` = #{sales},</if>
			<if test="stock != null">`stock` = #{stock},</if>
			<if test="browse != null">`browse` = #{browse},</if>
			<if test="ficti != null">`ficti` = #{ficti},</if>
			<if test="codePath != null">`code_path` = #{codePath},</if>
			<if test="explain != null">`explain` = #{explain},</if>
			<if test="specType != null">`spec_type` = #{specType},</if>
			<if test="isShow != null">`is_show` = #{isShow},</if>
			<if test="isHot != null">`is_hot` = #{isHot},</if>
			<if test="isBenefit != null">`is_benefit` = #{isBenefit},</if>
			<if test="isBest != null">`is_best` = #{isBest},</if>
			<if test="isNew != null">`is_new` = #{isNew},</if>
			<if test="isPostage != null">`is_postage` = #{isPostage},</if>
			<if test="isDel != null">`is_del` = #{isDel},</if>
			<if test="isGood != null">`is_good` = #{isGood},</if>
			<if test="isSub != null">`is_sub` = #{isSub},</if>
			<if test="giveIntegral != null">`give_integral` = #{giveIntegral},</if>
			<if test="isIntegral != null">`is_integral` = #{isIntegral},</if>
			<if test="integral != null">`integral` = #{integral},</if>
			<if test="createTime != null">`create_time` = #{createTime},</if>
			<if test="updateTime != null">`update_time` = #{updateTime},</if>
		</set>
		where id = #{id}
	</update>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from `tb_shop_product`
		where `id` = #{id}
	</delete>

	<select id="isRename" resultType = "java.lang.Integer" parameterType="cn.peyton.plum.mall.pojo.ShopProduct">
		select
		count(`id`)
		from `tb_shop_product`
		<where>
			<if test="id != null">
				and `id` = #{id}
			</if>
			<if test="cover != null">
				and `cover` = #{cover}
			</if>
			<if test="name != null">
				and `name` = #{name}
			</if>
			<if test="info != null">
				and `info` = #{info}
			</if>
			<if test="keyword != null">
				and `keyword` = #{keyword}
			</if>
			<if test="tempId != null">
				and `temp_id` = #{tempId}
			</if>
			<if test="price != null">
				and `price` = #{price}
			</if>
			<if test="vipPrice != null">
				and `vip_price` = #{vipPrice}
			</if>
			<if test="otPrice != null">
				and `ot_price` = #{otPrice}
			</if>
			<if test="costPrice != null">
				and `cost_price` = #{costPrice}
			</if>
			<if test="postage != null">
				and `postage` = #{postage}
			</if>
			<if test="unitName != null">
				and `unit_name` = #{unitName}
			</if>
			<if test="seq != null">
				and `seq` = #{seq}
			</if>
			<if test="sales != null">
				and `sales` = #{sales}
			</if>
			<if test="stock != null">
				and `stock` = #{stock}
			</if>
			<if test="browse != null">
				and `browse` = #{browse}
			</if>
			<if test="ficti != null">
				and `ficti` = #{ficti}
			</if>
			<if test="codePath != null">
				and `code_path` = #{codePath}
			</if>
			<if test="explain != null">
				and `explain` = #{explain}
			</if>
			<if test="specType != null">
				and `spec_type` = #{specType}
			</if>
			<if test="isShow != null">
				and `is_show` = #{isShow}
			</if>
			<if test="isHot != null">
				and `is_hot` = #{isHot}
			</if>
			<if test="isBenefit != null">
				and `is_benefit` = #{isBenefit}
			</if>
			<if test="isBest != null">
				and `is_best` = #{isBest}
			</if>
			<if test="isNew != null">
				and `is_new` = #{isNew}
			</if>
			<if test="isPostage != null">
				and `is_postage` = #{isPostage}
			</if>
			<if test="isDel != null">
				and `is_del` = #{isDel}
			</if>
			<if test="isGood != null">
				and `is_good` = #{isGood}
			</if>
			<if test="isSub != null">
				and `is_sub` = #{isSub}
			</if>
			<if test="giveIntegral != null">
				and `give_integral` = #{giveIntegral}
			</if>
			<if test="isIntegral != null">
				and `is_integral` = #{isIntegral}
			</if>
			<if test="integral != null">
				and `integral` = #{integral}
			</if>
			<if test="createTime != null">
				and `create_time` = #{createTime}
			</if>
			<if test="updateTime != null">
				and `update_time` = #{updateTime}
			</if>
		</where>
	</select>

	<select id="selectByPrimaryKey" resultMap="ResultShopProductMap"  parameterType="java.lang.Long">
		select
		<include refid="Column_tb_shop_product_List"/>
		from `tb_shop_product`
		where `id` = #{id}
	</select>

	<select id="selectByLiekAndObj" resultMap="ResultShopProductMap"  parameterType="map">
		select
		<include refid="Column_tb_shop_product_List"/>
		from `tb_shop_product`
		<where>
			<if test="record.id != null">
				and `id` like concat('%',#{record.id},'%')
			</if>
			<if test="record.cover != null">
				and `cover` like concat('%',#{record.cover},'%')
			</if>
			<if test="record.name != null">
				and `name` like concat('%',#{record.name},'%')
			</if>
			<if test="record.info != null">
				and `info` like concat('%',#{record.info},'%')
			</if>
			<if test="record.keyword != null">
				and `keyword` like concat('%',#{record.keyword},'%')
			</if>
			<if test="record.tempId != null">
				and `temp_id` like concat('%',#{record.tempId},'%')
			</if>
			<if test="record.price != null">
				and `price` like concat('%',#{record.price},'%')
			</if>
			<if test="record.vipPrice != null">
				and `vip_price` like concat('%',#{record.vipPrice},'%')
			</if>
			<if test="record.otPrice != null">
				and `ot_price` like concat('%',#{record.otPrice},'%')
			</if>
			<if test="record.costPrice != null">
				and `cost_price` like concat('%',#{record.costPrice},'%')
			</if>
			<if test="record.postage != null">
				and `postage` like concat('%',#{record.postage},'%')
			</if>
			<if test="record.unitName != null">
				and `unit_name` like concat('%',#{record.unitName},'%')
			</if>
			<if test="record.seq != null">
				and `seq` like concat('%',#{record.seq},'%')
			</if>
			<if test="record.sales != null">
				and `sales` like concat('%',#{record.sales},'%')
			</if>
			<if test="record.stock != null">
				and `stock` like concat('%',#{record.stock},'%')
			</if>
			<if test="record.browse != null">
				and `browse` like concat('%',#{record.browse},'%')
			</if>
			<if test="record.ficti != null">
				and `ficti` like concat('%',#{record.ficti},'%')
			</if>
			<if test="record.codePath != null">
				and `code_path` like concat('%',#{record.codePath},'%')
			</if>
			<if test="record.explain != null">
				and `explain` like concat('%',#{record.explain},'%')
			</if>
			<if test="record.specType != null">
				and `spec_type` like concat('%',#{record.specType},'%')
			</if>
			<if test="record.isShow != null">
				and `is_show` like concat('%',#{record.isShow},'%')
			</if>
			<if test="record.isHot != null">
				and `is_hot` like concat('%',#{record.isHot},'%')
			</if>
			<if test="record.isBenefit != null">
				and `is_benefit` like concat('%',#{record.isBenefit},'%')
			</if>
			<if test="record.isBest != null">
				and `is_best` like concat('%',#{record.isBest},'%')
			</if>
			<if test="record.isNew != null">
				and `is_new` like concat('%',#{record.isNew},'%')
			</if>
			<if test="record.isPostage != null">
				and `is_postage` like concat('%',#{record.isPostage},'%')
			</if>
			<if test="record.isDel != null">
				and `is_del` like concat('%',#{record.isDel},'%')
			</if>
			<if test="record.isGood != null">
				and `is_good` like concat('%',#{record.isGood},'%')
			</if>
			<if test="record.isSub != null">
				and `is_sub` like concat('%',#{record.isSub},'%')
			</if>
			<if test="record.giveIntegral != null">
				and `give_integral` like concat('%',#{record.giveIntegral},'%')
			</if>
			<if test="record.isIntegral != null">
				and `is_integral` like concat('%',#{record.isIntegral},'%')
			</if>
			<if test="record.integral != null">
				and `integral` like concat('%',#{record.integral},'%')
			</if>
			<if test="record.createTime != null">
				and `create_time` like concat('%',#{record.createTime},'%')
			</if>
			<if test="record.updateTime != null">
				and `update_time` like concat('%',#{record.updateTime},'%')
			</if>
		</where>
		limit #{page.offset},#{page.pageSize}
	</select>

	<select id="selectByObj" resultMap="ResultShopProductMap"  parameterType="map">
		select
		<include refid="Column_tb_shop_product_List"/>
		from `tb_shop_product`
		<where>
			<if test="record.id != null">
				and `id` = #{record.id}
			</if>
			<if test="record.cover != null">
				and `cover` = #{record.cover}
			</if>
			<if test="record.name != null">
				and `name` = #{record.name}
			</if>
			<if test="record.info != null">
				and `info` = #{record.info}
			</if>
			<if test="record.keyword != null">
				and `keyword` = #{record.keyword}
			</if>
			<if test="record.tempId != null">
				and `temp_id` = #{record.tempId}
			</if>
			<if test="record.price != null">
				and `price` = #{record.price}
			</if>
			<if test="record.vipPrice != null">
				and `vip_price` = #{record.vipPrice}
			</if>
			<if test="record.otPrice != null">
				and `ot_price` = #{record.otPrice}
			</if>
			<if test="record.costPrice != null">
				and `cost_price` = #{record.costPrice}
			</if>
			<if test="record.postage != null">
				and `postage` = #{record.postage}
			</if>
			<if test="record.unitName != null">
				and `unit_name` = #{record.unitName}
			</if>
			<if test="record.seq != null">
				and `seq` = #{record.seq}
			</if>
			<if test="record.sales != null">
				and `sales` = #{record.sales}
			</if>
			<if test="record.stock != null">
				and `stock` = #{record.stock}
			</if>
			<if test="record.browse != null">
				and `browse` = #{record.browse}
			</if>
			<if test="record.ficti != null">
				and `ficti` = #{record.ficti}
			</if>
			<if test="record.codePath != null">
				and `code_path` = #{record.codePath}
			</if>
			<if test="record.explain != null">
				and `explain` = #{record.explain}
			</if>
			<if test="record.specType != null">
				and `spec_type` = #{record.specType}
			</if>
			<if test="record.isShow != null">
				and `is_show` = #{record.isShow}
			</if>
			<if test="record.isHot != null">
				and `is_hot` = #{record.isHot}
			</if>
			<if test="record.isBenefit != null">
				and `is_benefit` = #{record.isBenefit}
			</if>
			<if test="record.isBest != null">
				and `is_best` = #{record.isBest}
			</if>
			<if test="record.isNew != null">
				and `is_new` = #{record.isNew}
			</if>
			<if test="record.isPostage != null">
				and `is_postage` = #{record.isPostage}
			</if>
			<if test="record.isDel != null">
				and `is_del` = #{record.isDel}
			</if>
			<if test="record.isGood != null">
				and `is_good` = #{record.isGood}
			</if>
			<if test="record.isSub != null">
				and `is_sub` = #{record.isSub}
			</if>
			<if test="record.giveIntegral != null">
				and `give_integral` = #{record.giveIntegral}
			</if>
			<if test="record.isIntegral != null">
				and `is_integral` = #{record.isIntegral}
			</if>
			<if test="record.integral != null">
				and `integral` = #{record.integral}
			</if>
			<if test="record.createTime != null">
				and `create_time` = #{record.createTime}
			</if>
			<if test="record.updateTime != null">
				and `update_time` = #{record.updateTime}
			</if>
		</where>
		limit #{page.offset},#{page.pageSize}
	</select>

	<select id="countByLike" resultType = "java.lang.Integer" parameterType="cn.peyton.plum.mall.pojo.ShopProduct">
		select
		count(`id`)
		from `tb_shop_product`
		<where>
			<if test="id != null">
				and `id` like concat('%',#{id},'%')
			</if>
			<if test="cover != null">
				and `cover` like concat('%',#{cover},'%')
			</if>
			<if test="name != null">
				and `name` like concat('%',#{name},'%')
			</if>
			<if test="info != null">
				and `info` like concat('%',#{info},'%')
			</if>
			<if test="keyword != null">
				and `keyword` like concat('%',#{keyword},'%')
			</if>
			<if test="tempId != null">
				and `temp_id` like concat('%',#{tempId},'%')
			</if>
			<if test="price != null">
				and `price` like concat('%',#{price},'%')
			</if>
			<if test="vipPrice != null">
				and `vip_price` like concat('%',#{vipPrice},'%')
			</if>
			<if test="otPrice != null">
				and `ot_price` like concat('%',#{otPrice},'%')
			</if>
			<if test="costPrice != null">
				and `cost_price` like concat('%',#{costPrice},'%')
			</if>
			<if test="postage != null">
				and `postage` like concat('%',#{postage},'%')
			</if>
			<if test="unitName != null">
				and `unit_name` like concat('%',#{unitName},'%')
			</if>
			<if test="seq != null">
				and `seq` like concat('%',#{seq},'%')
			</if>
			<if test="sales != null">
				and `sales` like concat('%',#{sales},'%')
			</if>
			<if test="stock != null">
				and `stock` like concat('%',#{stock},'%')
			</if>
			<if test="browse != null">
				and `browse` like concat('%',#{browse},'%')
			</if>
			<if test="ficti != null">
				and `ficti` like concat('%',#{ficti},'%')
			</if>
			<if test="codePath != null">
				and `code_path` like concat('%',#{codePath},'%')
			</if>
			<if test="explain != null">
				and `explain` like concat('%',#{explain},'%')
			</if>
			<if test="specType != null">
				and `spec_type` like concat('%',#{specType},'%')
			</if>
			<if test="isShow != null">
				and `is_show` like concat('%',#{isShow},'%')
			</if>
			<if test="isHot != null">
				and `is_hot` like concat('%',#{isHot},'%')
			</if>
			<if test="isBenefit != null">
				and `is_benefit` like concat('%',#{isBenefit},'%')
			</if>
			<if test="isBest != null">
				and `is_best` like concat('%',#{isBest},'%')
			</if>
			<if test="isNew != null">
				and `is_new` like concat('%',#{isNew},'%')
			</if>
			<if test="isPostage != null">
				and `is_postage` like concat('%',#{isPostage},'%')
			</if>
			<if test="isDel != null">
				and `is_del` like concat('%',#{isDel},'%')
			</if>
			<if test="isGood != null">
				and `is_good` like concat('%',#{isGood},'%')
			</if>
			<if test="isSub != null">
				and `is_sub` like concat('%',#{isSub},'%')
			</if>
			<if test="giveIntegral != null">
				and `give_integral` like concat('%',#{giveIntegral},'%')
			</if>
			<if test="isIntegral != null">
				and `is_integral` like concat('%',#{isIntegral},'%')
			</if>
			<if test="integral != null">
				and `integral` like concat('%',#{integral},'%')
			</if>
			<if test="createTime != null">
				and `create_time` like concat('%',#{createTime},'%')
			</if>
			<if test="updateTime != null">
				and `update_time` like concat('%',#{updateTime},'%')
			</if>
		</where>
	</select>

	<select id="count" resultType = "java.lang.Integer" parameterType="cn.peyton.plum.mall.pojo.ShopProduct">
		select
		count(`id`)
		from `tb_shop_product`
		<where>
			<if test="id != null">
				and `id` = #{id}
			</if>
			<if test="cover != null">
				and `cover` = #{cover}
			</if>
			<if test="name != null">
				and `name` = #{name}
			</if>
			<if test="info != null">
				and `info` = #{info}
			</if>
			<if test="keyword != null">
				and `keyword` = #{keyword}
			</if>
			<if test="tempId != null">
				and `temp_id` = #{tempId}
			</if>
			<if test="price != null">
				and `price` = #{price}
			</if>
			<if test="vipPrice != null">
				and `vip_price` = #{vipPrice}
			</if>
			<if test="otPrice != null">
				and `ot_price` = #{otPrice}
			</if>
			<if test="costPrice != null">
				and `cost_price` = #{costPrice}
			</if>
			<if test="postage != null">
				and `postage` = #{postage}
			</if>
			<if test="unitName != null">
				and `unit_name` = #{unitName}
			</if>
			<if test="seq != null">
				and `seq` = #{seq}
			</if>
			<if test="sales != null">
				and `sales` = #{sales}
			</if>
			<if test="stock != null">
				and `stock` = #{stock}
			</if>
			<if test="browse != null">
				and `browse` = #{browse}
			</if>
			<if test="ficti != null">
				and `ficti` = #{ficti}
			</if>
			<if test="codePath != null">
				and `code_path` = #{codePath}
			</if>
			<if test="explain != null">
				and `explain` = #{explain}
			</if>
			<if test="specType != null">
				and `spec_type` = #{specType}
			</if>
			<if test="isShow != null">
				and `is_show` = #{isShow}
			</if>
			<if test="isHot != null">
				and `is_hot` = #{isHot}
			</if>
			<if test="isBenefit != null">
				and `is_benefit` = #{isBenefit}
			</if>
			<if test="isBest != null">
				and `is_best` = #{isBest}
			</if>
			<if test="isNew != null">
				and `is_new` = #{isNew}
			</if>
			<if test="isPostage != null">
				and `is_postage` = #{isPostage}
			</if>
			<if test="isDel != null">
				and `is_del` = #{isDel}
			</if>
			<if test="isGood != null">
				and `is_good` = #{isGood}
			</if>
			<if test="isSub != null">
				and `is_sub` = #{isSub}
			</if>
			<if test="giveIntegral != null">
				and `give_integral` = #{giveIntegral}
			</if>
			<if test="isIntegral != null">
				and `is_integral` = #{isIntegral}
			</if>
			<if test="integral != null">
				and `integral` = #{integral}
			</if>
			<if test="createTime != null">
				and `create_time` = #{createTime}
			</if>
			<if test="updateTime != null">
				and `update_time` = #{updateTime}
			</if>
		</where>
	</select>

</mapper>
