<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.peyton.plum.mall.mapper.ShopOrderMapper">
	<resultMap id="ResultShopOrderMap" type="cn.peyton.plum.mall.pojo.ShopOrder">
		<id column="id" property="id" jdbcType="BIGINT"/>
		<result column="order_no" property="orderNo" jdbcType="VARCHAR"/>
		<result column="extend_order_no" property="extendOrderNo" jdbcType="VARCHAR"/>
		<result column="share_id" property="shareId" jdbcType="BIGINT"/>
		<result column="share_type" property="shareType" jdbcType="TINYINT"/>
		<result column="explain" property="explain" jdbcType="VARCHAR"/>
		<result column="closed" property="closed" jdbcType="TINYINT"/>
		<result column="cart_id" property="cartId" jdbcType="BIGINT"/>
		<result column="freight_price" property="freightPrice" jdbcType="DECIMAL"/>
		<result column="total_num" property="totalNum" jdbcType="INTEGER"/>
		<result column="total_price" property="totalPrice" jdbcType="DECIMAL"/>
		<result column="total_postage" property="totalPostage" jdbcType="DECIMAL"/>
		<result column="pay_price" property="payPrice" jdbcType="DECIMAL"/>
		<result column="pay_postage" property="payPostage" jdbcType="DECIMAL"/>
		<result column="deduction_price" property="deductionPrice" jdbcType="DECIMAL"/>
		<result column="coupon_id" property="couponId" jdbcType="BIGINT"/>
		<result column="coupon_price" property="couponPrice" jdbcType="DECIMAL"/>
		<result column="paid" property="paid" jdbcType="TINYINT"/>
		<result column="pay_time" property="payTime" jdbcType="INTEGER"/>
		<result column="pay_type" property="payType" jdbcType="VARCHAR"/>
		<result column="create_time" property="createTime" jdbcType="INTEGER"/>
		<result column="update_time" property="updateTime" jdbcType="INTEGER"/>
		<result column="status" property="status" jdbcType="TINYINT"/>
		<result column="refund_status" property="refundStatus" jdbcType="TINYINT"/>
		<result column="refund_id" property="refundId" jdbcType="BIGINT"/>
		<result column="gain_integral" property="gainIntegral" jdbcType="INTEGER"/>
		<result column="use_integral" property="useIntegral" jdbcType="INTEGER"/>
		<result column="pay_integral" property="payIntegral" jdbcType="INTEGER"/>
		<result column="back_integral" property="backIntegral" jdbcType="INTEGER"/>
		<result column="is_del" property="isDel" jdbcType="TINYINT"/>
		<result column="admin_remark" property="adminRemark" jdbcType="VARCHAR"/>
		<result column="pink_id" property="pinkId" jdbcType="BIGINT"/>
		<result column="seckill_id" property="seckillId" jdbcType="BIGINT"/>
		<result column="bargain_id" property="bargainId" jdbcType="BIGINT"/>
		<result column="verify_code" property="verifyCode" jdbcType="VARCHAR"/>
		<result column="shop_id" property="shopId" jdbcType="BIGINT"/>
		<result column="shipping_type" property="shippingType" jdbcType="TINYINT"/>
		<result column="delivery_sn" property="deliverySn" jdbcType="VARCHAR"/>
		<result column="delivery_name" property="deliveryName" jdbcType="VARCHAR"/>
		<result column="delivery_type" property="deliveryType" jdbcType="VARCHAR"/>
		<result column="delivery_id" property="deliveryId" jdbcType="VARCHAR"/>
	</resultMap>

	<sql id="Column_tb_shop_order_List">
		`id`,`order_no`,`extend_order_no`,`share_id`,`share_type`,`explain`,`closed`,`cart_id`,`freight_price`,`total_num`,`total_price`,`total_postage`,`pay_price`,`pay_postage`,`deduction_price`,`coupon_id`,`coupon_price`,`paid`,`pay_time`,`pay_type`,`create_time`,`update_time`,`status`,`refund_status`,`refund_id`,`gain_integral`,`use_integral`,`pay_integral`,`back_integral`,`is_del`,`admin_remark`,`pink_id`,`seckill_id`,`bargain_id`,`verify_code`,`shop_id`,`shipping_type`,`delivery_sn`,`delivery_name`,`delivery_type`,`delivery_id`
	</sql>

	<insert id="insertSelective" parameterType="cn.peyton.plum.mall.pojo.ShopOrder" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
		insert into `tb_shop_order`
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="orderNo != null">`order_no`,</if>
			<if test="extendOrderNo != null">`extend_order_no`,</if>
			<if test="shareId != null">`share_id`,</if>
			<if test="shareType != null">`share_type`,</if>
			<if test="explain != null">`explain`,</if>
			<if test="closed != null">`closed`,</if>
			<if test="cartId != null">`cart_id`,</if>
			<if test="freightPrice != null">`freight_price`,</if>
			<if test="totalNum != null">`total_num`,</if>
			<if test="totalPrice != null">`total_price`,</if>
			<if test="totalPostage != null">`total_postage`,</if>
			<if test="payPrice != null">`pay_price`,</if>
			<if test="payPostage != null">`pay_postage`,</if>
			<if test="deductionPrice != null">`deduction_price`,</if>
			<if test="couponId != null">`coupon_id`,</if>
			<if test="couponPrice != null">`coupon_price`,</if>
			<if test="paid != null">`paid`,</if>
			<if test="payTime != null">`pay_time`,</if>
			<if test="payType != null">`pay_type`,</if>
			<if test="createTime != null">`create_time`,</if>
			<if test="updateTime != null">`update_time`,</if>
			<if test="status != null">`status`,</if>
			<if test="refundStatus != null">`refund_status`,</if>
			<if test="refundId != null">`refund_id`,</if>
			<if test="gainIntegral != null">`gain_integral`,</if>
			<if test="useIntegral != null">`use_integral`,</if>
			<if test="payIntegral != null">`pay_integral`,</if>
			<if test="backIntegral != null">`back_integral`,</if>
			<if test="isDel != null">`is_del`,</if>
			<if test="adminRemark != null">`admin_remark`,</if>
			<if test="pinkId != null">`pink_id`,</if>
			<if test="seckillId != null">`seckill_id`,</if>
			<if test="bargainId != null">`bargain_id`,</if>
			<if test="verifyCode != null">`verify_code`,</if>
			<if test="shopId != null">`shop_id`,</if>
			<if test="shippingType != null">`shipping_type`,</if>
			<if test="deliverySn != null">`delivery_sn`,</if>
			<if test="deliveryName != null">`delivery_name`,</if>
			<if test="deliveryType != null">`delivery_type`,</if>
			<if test="deliveryId != null">`delivery_id`,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="orderNo != null">#{orderNo},</if>
			<if test="extendOrderNo != null">#{extendOrderNo},</if>
			<if test="shareId != null">#{shareId},</if>
			<if test="shareType != null">#{shareType},</if>
			<if test="explain != null">#{explain},</if>
			<if test="closed != null">#{closed},</if>
			<if test="cartId != null">#{cartId},</if>
			<if test="freightPrice != null">#{freightPrice},</if>
			<if test="totalNum != null">#{totalNum},</if>
			<if test="totalPrice != null">#{totalPrice},</if>
			<if test="totalPostage != null">#{totalPostage},</if>
			<if test="payPrice != null">#{payPrice},</if>
			<if test="payPostage != null">#{payPostage},</if>
			<if test="deductionPrice != null">#{deductionPrice},</if>
			<if test="couponId != null">#{couponId},</if>
			<if test="couponPrice != null">#{couponPrice},</if>
			<if test="paid != null">#{paid},</if>
			<if test="payTime != null">#{payTime},</if>
			<if test="payType != null">#{payType},</if>
			<if test="createTime != null">#{createTime},</if>
			<if test="updateTime != null">#{updateTime},</if>
			<if test="status != null">#{status},</if>
			<if test="refundStatus != null">#{refundStatus},</if>
			<if test="refundId != null">#{refundId},</if>
			<if test="gainIntegral != null">#{gainIntegral},</if>
			<if test="useIntegral != null">#{useIntegral},</if>
			<if test="payIntegral != null">#{payIntegral},</if>
			<if test="backIntegral != null">#{backIntegral},</if>
			<if test="isDel != null">#{isDel},</if>
			<if test="adminRemark != null">#{adminRemark},</if>
			<if test="pinkId != null">#{pinkId},</if>
			<if test="seckillId != null">#{seckillId},</if>
			<if test="bargainId != null">#{bargainId},</if>
			<if test="verifyCode != null">#{verifyCode},</if>
			<if test="shopId != null">#{shopId},</if>
			<if test="shippingType != null">#{shippingType},</if>
			<if test="deliverySn != null">#{deliverySn},</if>
			<if test="deliveryName != null">#{deliveryName},</if>
			<if test="deliveryType != null">#{deliveryType},</if>
			<if test="deliveryId != null">#{deliveryId},</if>
		</trim>
	</insert>

	<update id="updateSelective" parameterType="cn.peyton.plum.mall.pojo.ShopOrder">
		update `tb_shop_order`
		<set>
			<if test="orderNo != null">`order_no` = #{orderNo},</if>
			<if test="extendOrderNo != null">`extend_order_no` = #{extendOrderNo},</if>
			<if test="shareId != null">`share_id` = #{shareId},</if>
			<if test="shareType != null">`share_type` = #{shareType},</if>
			<if test="explain != null">`explain` = #{explain},</if>
			<if test="closed != null">`closed` = #{closed},</if>
			<if test="cartId != null">`cart_id` = #{cartId},</if>
			<if test="freightPrice != null">`freight_price` = #{freightPrice},</if>
			<if test="totalNum != null">`total_num` = #{totalNum},</if>
			<if test="totalPrice != null">`total_price` = #{totalPrice},</if>
			<if test="totalPostage != null">`total_postage` = #{totalPostage},</if>
			<if test="payPrice != null">`pay_price` = #{payPrice},</if>
			<if test="payPostage != null">`pay_postage` = #{payPostage},</if>
			<if test="deductionPrice != null">`deduction_price` = #{deductionPrice},</if>
			<if test="couponId != null">`coupon_id` = #{couponId},</if>
			<if test="couponPrice != null">`coupon_price` = #{couponPrice},</if>
			<if test="paid != null">`paid` = #{paid},</if>
			<if test="payTime != null">`pay_time` = #{payTime},</if>
			<if test="payType != null">`pay_type` = #{payType},</if>
			<if test="createTime != null">`create_time` = #{createTime},</if>
			<if test="updateTime != null">`update_time` = #{updateTime},</if>
			<if test="status != null">`status` = #{status},</if>
			<if test="refundStatus != null">`refund_status` = #{refundStatus},</if>
			<if test="refundId != null">`refund_id` = #{refundId},</if>
			<if test="gainIntegral != null">`gain_integral` = #{gainIntegral},</if>
			<if test="useIntegral != null">`use_integral` = #{useIntegral},</if>
			<if test="payIntegral != null">`pay_integral` = #{payIntegral},</if>
			<if test="backIntegral != null">`back_integral` = #{backIntegral},</if>
			<if test="isDel != null">`is_del` = #{isDel},</if>
			<if test="adminRemark != null">`admin_remark` = #{adminRemark},</if>
			<if test="pinkId != null">`pink_id` = #{pinkId},</if>
			<if test="seckillId != null">`seckill_id` = #{seckillId},</if>
			<if test="bargainId != null">`bargain_id` = #{bargainId},</if>
			<if test="verifyCode != null">`verify_code` = #{verifyCode},</if>
			<if test="shopId != null">`shop_id` = #{shopId},</if>
			<if test="shippingType != null">`shipping_type` = #{shippingType},</if>
			<if test="deliverySn != null">`delivery_sn` = #{deliverySn},</if>
			<if test="deliveryName != null">`delivery_name` = #{deliveryName},</if>
			<if test="deliveryType != null">`delivery_type` = #{deliveryType},</if>
			<if test="deliveryId != null">`delivery_id` = #{deliveryId},</if>
		</set>
		where id = #{id}
	</update>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from `tb_shop_order`
		where `id` = #{id}
	</delete>

	<select id="isRename" resultType = "java.lang.Integer" parameterType="cn.peyton.plum.mall.pojo.ShopOrder">
		select
		count(`id`)
		from `tb_shop_order`
		<where>
			<if test="id != null">
				and `id` = #{id}
			</if>
			<if test="orderNo != null">
				and `order_no` = #{orderNo}
			</if>
			<if test="extendOrderNo != null">
				and `extend_order_no` = #{extendOrderNo}
			</if>
			<if test="shareId != null">
				and `share_id` = #{shareId}
			</if>
			<if test="shareType != null">
				and `share_type` = #{shareType}
			</if>
			<if test="explain != null">
				and `explain` = #{explain}
			</if>
			<if test="closed != null">
				and `closed` = #{closed}
			</if>
			<if test="cartId != null">
				and `cart_id` = #{cartId}
			</if>
			<if test="freightPrice != null">
				and `freight_price` = #{freightPrice}
			</if>
			<if test="totalNum != null">
				and `total_num` = #{totalNum}
			</if>
			<if test="totalPrice != null">
				and `total_price` = #{totalPrice}
			</if>
			<if test="totalPostage != null">
				and `total_postage` = #{totalPostage}
			</if>
			<if test="payPrice != null">
				and `pay_price` = #{payPrice}
			</if>
			<if test="payPostage != null">
				and `pay_postage` = #{payPostage}
			</if>
			<if test="deductionPrice != null">
				and `deduction_price` = #{deductionPrice}
			</if>
			<if test="couponId != null">
				and `coupon_id` = #{couponId}
			</if>
			<if test="couponPrice != null">
				and `coupon_price` = #{couponPrice}
			</if>
			<if test="paid != null">
				and `paid` = #{paid}
			</if>
			<if test="payTime != null">
				and `pay_time` = #{payTime}
			</if>
			<if test="payType != null">
				and `pay_type` = #{payType}
			</if>
			<if test="createTime != null">
				and `create_time` = #{createTime}
			</if>
			<if test="updateTime != null">
				and `update_time` = #{updateTime}
			</if>
			<if test="status != null">
				and `status` = #{status}
			</if>
			<if test="refundStatus != null">
				and `refund_status` = #{refundStatus}
			</if>
			<if test="refundId != null">
				and `refund_id` = #{refundId}
			</if>
			<if test="gainIntegral != null">
				and `gain_integral` = #{gainIntegral}
			</if>
			<if test="useIntegral != null">
				and `use_integral` = #{useIntegral}
			</if>
			<if test="payIntegral != null">
				and `pay_integral` = #{payIntegral}
			</if>
			<if test="backIntegral != null">
				and `back_integral` = #{backIntegral}
			</if>
			<if test="isDel != null">
				and `is_del` = #{isDel}
			</if>
			<if test="adminRemark != null">
				and `admin_remark` = #{adminRemark}
			</if>
			<if test="pinkId != null">
				and `pink_id` = #{pinkId}
			</if>
			<if test="seckillId != null">
				and `seckill_id` = #{seckillId}
			</if>
			<if test="bargainId != null">
				and `bargain_id` = #{bargainId}
			</if>
			<if test="verifyCode != null">
				and `verify_code` = #{verifyCode}
			</if>
			<if test="shopId != null">
				and `shop_id` = #{shopId}
			</if>
			<if test="shippingType != null">
				and `shipping_type` = #{shippingType}
			</if>
			<if test="deliverySn != null">
				and `delivery_sn` = #{deliverySn}
			</if>
			<if test="deliveryName != null">
				and `delivery_name` = #{deliveryName}
			</if>
			<if test="deliveryType != null">
				and `delivery_type` = #{deliveryType}
			</if>
			<if test="deliveryId != null">
				and `delivery_id` = #{deliveryId}
			</if>
		</where>
	</select>

	<select id="selectByPrimaryKey" resultMap="ResultShopOrderMap"  parameterType="java.lang.Long">
		select
		<include refid="Column_tb_shop_order_List"/>
		from `tb_shop_order`
		where `id` = #{id}
	</select>

	<select id="selectByLiekAndObj" resultMap="ResultShopOrderMap"  parameterType="map">
		select
		<include refid="Column_tb_shop_order_List"/>
		from `tb_shop_order`
		<where>
			<if test="record.id != null">
				and `id` like concat('%',#{record.id},'%')
			</if>
			<if test="record.orderNo != null">
				and `order_no` like concat('%',#{record.orderNo},'%')
			</if>
			<if test="record.extendOrderNo != null">
				and `extend_order_no` like concat('%',#{record.extendOrderNo},'%')
			</if>
			<if test="record.shareId != null">
				and `share_id` like concat('%',#{record.shareId},'%')
			</if>
			<if test="record.shareType != null">
				and `share_type` like concat('%',#{record.shareType},'%')
			</if>
			<if test="record.explain != null">
				and `explain` like concat('%',#{record.explain},'%')
			</if>
			<if test="record.closed != null">
				and `closed` like concat('%',#{record.closed},'%')
			</if>
			<if test="record.cartId != null">
				and `cart_id` like concat('%',#{record.cartId},'%')
			</if>
			<if test="record.freightPrice != null">
				and `freight_price` like concat('%',#{record.freightPrice},'%')
			</if>
			<if test="record.totalNum != null">
				and `total_num` like concat('%',#{record.totalNum},'%')
			</if>
			<if test="record.totalPrice != null">
				and `total_price` like concat('%',#{record.totalPrice},'%')
			</if>
			<if test="record.totalPostage != null">
				and `total_postage` like concat('%',#{record.totalPostage},'%')
			</if>
			<if test="record.payPrice != null">
				and `pay_price` like concat('%',#{record.payPrice},'%')
			</if>
			<if test="record.payPostage != null">
				and `pay_postage` like concat('%',#{record.payPostage},'%')
			</if>
			<if test="record.deductionPrice != null">
				and `deduction_price` like concat('%',#{record.deductionPrice},'%')
			</if>
			<if test="record.couponId != null">
				and `coupon_id` like concat('%',#{record.couponId},'%')
			</if>
			<if test="record.couponPrice != null">
				and `coupon_price` like concat('%',#{record.couponPrice},'%')
			</if>
			<if test="record.paid != null">
				and `paid` like concat('%',#{record.paid},'%')
			</if>
			<if test="record.payTime != null">
				and `pay_time` like concat('%',#{record.payTime},'%')
			</if>
			<if test="record.payType != null">
				and `pay_type` like concat('%',#{record.payType},'%')
			</if>
			<if test="record.createTime != null">
				and `create_time` like concat('%',#{record.createTime},'%')
			</if>
			<if test="record.updateTime != null">
				and `update_time` like concat('%',#{record.updateTime},'%')
			</if>
			<if test="record.status != null">
				and `status` like concat('%',#{record.status},'%')
			</if>
			<if test="record.refundStatus != null">
				and `refund_status` like concat('%',#{record.refundStatus},'%')
			</if>
			<if test="record.refundId != null">
				and `refund_id` like concat('%',#{record.refundId},'%')
			</if>
			<if test="record.gainIntegral != null">
				and `gain_integral` like concat('%',#{record.gainIntegral},'%')
			</if>
			<if test="record.useIntegral != null">
				and `use_integral` like concat('%',#{record.useIntegral},'%')
			</if>
			<if test="record.payIntegral != null">
				and `pay_integral` like concat('%',#{record.payIntegral},'%')
			</if>
			<if test="record.backIntegral != null">
				and `back_integral` like concat('%',#{record.backIntegral},'%')
			</if>
			<if test="record.isDel != null">
				and `is_del` like concat('%',#{record.isDel},'%')
			</if>
			<if test="record.adminRemark != null">
				and `admin_remark` like concat('%',#{record.adminRemark},'%')
			</if>
			<if test="record.pinkId != null">
				and `pink_id` like concat('%',#{record.pinkId},'%')
			</if>
			<if test="record.seckillId != null">
				and `seckill_id` like concat('%',#{record.seckillId},'%')
			</if>
			<if test="record.bargainId != null">
				and `bargain_id` like concat('%',#{record.bargainId},'%')
			</if>
			<if test="record.verifyCode != null">
				and `verify_code` like concat('%',#{record.verifyCode},'%')
			</if>
			<if test="record.shopId != null">
				and `shop_id` like concat('%',#{record.shopId},'%')
			</if>
			<if test="record.shippingType != null">
				and `shipping_type` like concat('%',#{record.shippingType},'%')
			</if>
			<if test="record.deliverySn != null">
				and `delivery_sn` like concat('%',#{record.deliverySn},'%')
			</if>
			<if test="record.deliveryName != null">
				and `delivery_name` like concat('%',#{record.deliveryName},'%')
			</if>
			<if test="record.deliveryType != null">
				and `delivery_type` like concat('%',#{record.deliveryType},'%')
			</if>
			<if test="record.deliveryId != null">
				and `delivery_id` like concat('%',#{record.deliveryId},'%')
			</if>
		</where>
		limit #{page.offset},#{page.pageSize}
	</select>

	<select id="selectByObj" resultMap="ResultShopOrderMap"  parameterType="map">
		select
		<include refid="Column_tb_shop_order_List"/>
		from `tb_shop_order`
		<where>
			<if test="record.id != null">
				and `id` = #{record.id}
			</if>
			<if test="record.orderNo != null">
				and `order_no` = #{record.orderNo}
			</if>
			<if test="record.extendOrderNo != null">
				and `extend_order_no` = #{record.extendOrderNo}
			</if>
			<if test="record.shareId != null">
				and `share_id` = #{record.shareId}
			</if>
			<if test="record.shareType != null">
				and `share_type` = #{record.shareType}
			</if>
			<if test="record.explain != null">
				and `explain` = #{record.explain}
			</if>
			<if test="record.closed != null">
				and `closed` = #{record.closed}
			</if>
			<if test="record.cartId != null">
				and `cart_id` = #{record.cartId}
			</if>
			<if test="record.freightPrice != null">
				and `freight_price` = #{record.freightPrice}
			</if>
			<if test="record.totalNum != null">
				and `total_num` = #{record.totalNum}
			</if>
			<if test="record.totalPrice != null">
				and `total_price` = #{record.totalPrice}
			</if>
			<if test="record.totalPostage != null">
				and `total_postage` = #{record.totalPostage}
			</if>
			<if test="record.payPrice != null">
				and `pay_price` = #{record.payPrice}
			</if>
			<if test="record.payPostage != null">
				and `pay_postage` = #{record.payPostage}
			</if>
			<if test="record.deductionPrice != null">
				and `deduction_price` = #{record.deductionPrice}
			</if>
			<if test="record.couponId != null">
				and `coupon_id` = #{record.couponId}
			</if>
			<if test="record.couponPrice != null">
				and `coupon_price` = #{record.couponPrice}
			</if>
			<if test="record.paid != null">
				and `paid` = #{record.paid}
			</if>
			<if test="record.payTime != null">
				and `pay_time` = #{record.payTime}
			</if>
			<if test="record.payType != null">
				and `pay_type` = #{record.payType}
			</if>
			<if test="record.createTime != null">
				and `create_time` = #{record.createTime}
			</if>
			<if test="record.updateTime != null">
				and `update_time` = #{record.updateTime}
			</if>
			<if test="record.status != null">
				and `status` = #{record.status}
			</if>
			<if test="record.refundStatus != null">
				and `refund_status` = #{record.refundStatus}
			</if>
			<if test="record.refundId != null">
				and `refund_id` = #{record.refundId}
			</if>
			<if test="record.gainIntegral != null">
				and `gain_integral` = #{record.gainIntegral}
			</if>
			<if test="record.useIntegral != null">
				and `use_integral` = #{record.useIntegral}
			</if>
			<if test="record.payIntegral != null">
				and `pay_integral` = #{record.payIntegral}
			</if>
			<if test="record.backIntegral != null">
				and `back_integral` = #{record.backIntegral}
			</if>
			<if test="record.isDel != null">
				and `is_del` = #{record.isDel}
			</if>
			<if test="record.adminRemark != null">
				and `admin_remark` = #{record.adminRemark}
			</if>
			<if test="record.pinkId != null">
				and `pink_id` = #{record.pinkId}
			</if>
			<if test="record.seckillId != null">
				and `seckill_id` = #{record.seckillId}
			</if>
			<if test="record.bargainId != null">
				and `bargain_id` = #{record.bargainId}
			</if>
			<if test="record.verifyCode != null">
				and `verify_code` = #{record.verifyCode}
			</if>
			<if test="record.shopId != null">
				and `shop_id` = #{record.shopId}
			</if>
			<if test="record.shippingType != null">
				and `shipping_type` = #{record.shippingType}
			</if>
			<if test="record.deliverySn != null">
				and `delivery_sn` = #{record.deliverySn}
			</if>
			<if test="record.deliveryName != null">
				and `delivery_name` = #{record.deliveryName}
			</if>
			<if test="record.deliveryType != null">
				and `delivery_type` = #{record.deliveryType}
			</if>
			<if test="record.deliveryId != null">
				and `delivery_id` = #{record.deliveryId}
			</if>
		</where>
		limit #{page.offset},#{page.pageSize}
	</select>

	<select id="countByLike" resultType = "java.lang.Integer" parameterType="cn.peyton.plum.mall.pojo.ShopOrder">
		select
		count(`id`)
		from `tb_shop_order`
		<where>
			<if test="id != null">
				and `id` like concat('%',#{id},'%')
			</if>
			<if test="orderNo != null">
				and `order_no` like concat('%',#{orderNo},'%')
			</if>
			<if test="extendOrderNo != null">
				and `extend_order_no` like concat('%',#{extendOrderNo},'%')
			</if>
			<if test="shareId != null">
				and `share_id` like concat('%',#{shareId},'%')
			</if>
			<if test="shareType != null">
				and `share_type` like concat('%',#{shareType},'%')
			</if>
			<if test="explain != null">
				and `explain` like concat('%',#{explain},'%')
			</if>
			<if test="closed != null">
				and `closed` like concat('%',#{closed},'%')
			</if>
			<if test="cartId != null">
				and `cart_id` like concat('%',#{cartId},'%')
			</if>
			<if test="freightPrice != null">
				and `freight_price` like concat('%',#{freightPrice},'%')
			</if>
			<if test="totalNum != null">
				and `total_num` like concat('%',#{totalNum},'%')
			</if>
			<if test="totalPrice != null">
				and `total_price` like concat('%',#{totalPrice},'%')
			</if>
			<if test="totalPostage != null">
				and `total_postage` like concat('%',#{totalPostage},'%')
			</if>
			<if test="payPrice != null">
				and `pay_price` like concat('%',#{payPrice},'%')
			</if>
			<if test="payPostage != null">
				and `pay_postage` like concat('%',#{payPostage},'%')
			</if>
			<if test="deductionPrice != null">
				and `deduction_price` like concat('%',#{deductionPrice},'%')
			</if>
			<if test="couponId != null">
				and `coupon_id` like concat('%',#{couponId},'%')
			</if>
			<if test="couponPrice != null">
				and `coupon_price` like concat('%',#{couponPrice},'%')
			</if>
			<if test="paid != null">
				and `paid` like concat('%',#{paid},'%')
			</if>
			<if test="payTime != null">
				and `pay_time` like concat('%',#{payTime},'%')
			</if>
			<if test="payType != null">
				and `pay_type` like concat('%',#{payType},'%')
			</if>
			<if test="createTime != null">
				and `create_time` like concat('%',#{createTime},'%')
			</if>
			<if test="updateTime != null">
				and `update_time` like concat('%',#{updateTime},'%')
			</if>
			<if test="status != null">
				and `status` like concat('%',#{status},'%')
			</if>
			<if test="refundStatus != null">
				and `refund_status` like concat('%',#{refundStatus},'%')
			</if>
			<if test="refundId != null">
				and `refund_id` like concat('%',#{refundId},'%')
			</if>
			<if test="gainIntegral != null">
				and `gain_integral` like concat('%',#{gainIntegral},'%')
			</if>
			<if test="useIntegral != null">
				and `use_integral` like concat('%',#{useIntegral},'%')
			</if>
			<if test="payIntegral != null">
				and `pay_integral` like concat('%',#{payIntegral},'%')
			</if>
			<if test="backIntegral != null">
				and `back_integral` like concat('%',#{backIntegral},'%')
			</if>
			<if test="isDel != null">
				and `is_del` like concat('%',#{isDel},'%')
			</if>
			<if test="adminRemark != null">
				and `admin_remark` like concat('%',#{adminRemark},'%')
			</if>
			<if test="pinkId != null">
				and `pink_id` like concat('%',#{pinkId},'%')
			</if>
			<if test="seckillId != null">
				and `seckill_id` like concat('%',#{seckillId},'%')
			</if>
			<if test="bargainId != null">
				and `bargain_id` like concat('%',#{bargainId},'%')
			</if>
			<if test="verifyCode != null">
				and `verify_code` like concat('%',#{verifyCode},'%')
			</if>
			<if test="shopId != null">
				and `shop_id` like concat('%',#{shopId},'%')
			</if>
			<if test="shippingType != null">
				and `shipping_type` like concat('%',#{shippingType},'%')
			</if>
			<if test="deliverySn != null">
				and `delivery_sn` like concat('%',#{deliverySn},'%')
			</if>
			<if test="deliveryName != null">
				and `delivery_name` like concat('%',#{deliveryName},'%')
			</if>
			<if test="deliveryType != null">
				and `delivery_type` like concat('%',#{deliveryType},'%')
			</if>
			<if test="deliveryId != null">
				and `delivery_id` like concat('%',#{deliveryId},'%')
			</if>
		</where>
	</select>

	<select id="count" resultType = "java.lang.Integer" parameterType="cn.peyton.plum.mall.pojo.ShopOrder">
		select
		count(`id`)
		from `tb_shop_order`
		<where>
			<if test="id != null">
				and `id` = #{id}
			</if>
			<if test="orderNo != null">
				and `order_no` = #{orderNo}
			</if>
			<if test="extendOrderNo != null">
				and `extend_order_no` = #{extendOrderNo}
			</if>
			<if test="shareId != null">
				and `share_id` = #{shareId}
			</if>
			<if test="shareType != null">
				and `share_type` = #{shareType}
			</if>
			<if test="explain != null">
				and `explain` = #{explain}
			</if>
			<if test="closed != null">
				and `closed` = #{closed}
			</if>
			<if test="cartId != null">
				and `cart_id` = #{cartId}
			</if>
			<if test="freightPrice != null">
				and `freight_price` = #{freightPrice}
			</if>
			<if test="totalNum != null">
				and `total_num` = #{totalNum}
			</if>
			<if test="totalPrice != null">
				and `total_price` = #{totalPrice}
			</if>
			<if test="totalPostage != null">
				and `total_postage` = #{totalPostage}
			</if>
			<if test="payPrice != null">
				and `pay_price` = #{payPrice}
			</if>
			<if test="payPostage != null">
				and `pay_postage` = #{payPostage}
			</if>
			<if test="deductionPrice != null">
				and `deduction_price` = #{deductionPrice}
			</if>
			<if test="couponId != null">
				and `coupon_id` = #{couponId}
			</if>
			<if test="couponPrice != null">
				and `coupon_price` = #{couponPrice}
			</if>
			<if test="paid != null">
				and `paid` = #{paid}
			</if>
			<if test="payTime != null">
				and `pay_time` = #{payTime}
			</if>
			<if test="payType != null">
				and `pay_type` = #{payType}
			</if>
			<if test="createTime != null">
				and `create_time` = #{createTime}
			</if>
			<if test="updateTime != null">
				and `update_time` = #{updateTime}
			</if>
			<if test="status != null">
				and `status` = #{status}
			</if>
			<if test="refundStatus != null">
				and `refund_status` = #{refundStatus}
			</if>
			<if test="refundId != null">
				and `refund_id` = #{refundId}
			</if>
			<if test="gainIntegral != null">
				and `gain_integral` = #{gainIntegral}
			</if>
			<if test="useIntegral != null">
				and `use_integral` = #{useIntegral}
			</if>
			<if test="payIntegral != null">
				and `pay_integral` = #{payIntegral}
			</if>
			<if test="backIntegral != null">
				and `back_integral` = #{backIntegral}
			</if>
			<if test="isDel != null">
				and `is_del` = #{isDel}
			</if>
			<if test="adminRemark != null">
				and `admin_remark` = #{adminRemark}
			</if>
			<if test="pinkId != null">
				and `pink_id` = #{pinkId}
			</if>
			<if test="seckillId != null">
				and `seckill_id` = #{seckillId}
			</if>
			<if test="bargainId != null">
				and `bargain_id` = #{bargainId}
			</if>
			<if test="verifyCode != null">
				and `verify_code` = #{verifyCode}
			</if>
			<if test="shopId != null">
				and `shop_id` = #{shopId}
			</if>
			<if test="shippingType != null">
				and `shipping_type` = #{shippingType}
			</if>
			<if test="deliverySn != null">
				and `delivery_sn` = #{deliverySn}
			</if>
			<if test="deliveryName != null">
				and `delivery_name` = #{deliveryName}
			</if>
			<if test="deliveryType != null">
				and `delivery_type` = #{deliveryType}
			</if>
			<if test="deliveryId != null">
				and `delivery_id` = #{deliveryId}
			</if>
		</where>
	</select>

</mapper>
