<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.peyton.plum.mall.mapper.ShopProductRelationMapper">
    <resultMap id="ResultShopProductRelationMap" type="cn.peyton.plum.mall.pojo.ShopProductRelation">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="share_id" property="shareId" jdbcType="BIGINT"/>
        <result column="product_id" property="productId" jdbcType="BIGINT"/>
        <result column="share_type" property="shareType" jdbcType="TINYINT"/>
        <result column="relation_type" property="relationType" jdbcType="TINYINT"/>
        <result column="category" property="category" jdbcType="VARCHAR"/>
        <result column="is_del" property="isDel" jdbcType="BIT"/>
        <result column="create_time" property="createTime" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Column_tb_shop_product_relation_List">
        `id`,`share_id`,`product_id`,`share_type`,`relation_type`,`category`,`is_del`,`create_time`
    </sql>

    <insert id="insertSelective" parameterType="cn.peyton.plum.mall.pojo.ShopProductRelation" keyColumn="id"
            keyProperty="id" useGeneratedKeys="true">
        insert into `tb_shop_product_relation`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="shareId != null">`share_id`,</if>
            <if test="productId != null">`product_id`,</if>
            <if test="shareType != null">`share_type`,</if>
            <if test="relationType != null">`relation_type`,</if>
            <if test="category != null">`category`,</if>
            <if test="isDel != null">`is_del`,</if>
            <if test="createTime != null">`create_time`,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="shareId != null">#{shareId},</if>
            <if test="productId != null">#{productId},</if>
            <if test="shareType != null">#{shareType},</if>
            <if test="relationType != null">#{relationType},</if>
            <if test="category != null">#{category},</if>
            <if test="isDel != null">#{isDel},</if>
            <if test="createTime != null">#{createTime},</if>
        </trim>
    </insert>

    <update id="updateSelective" parameterType="cn.peyton.plum.mall.pojo.ShopProductRelation">
        update `tb_shop_product_relation`
        <set>
            <if test="shareId != null">`share_id` = #{shareId},</if>
            <if test="productId != null">`product_id` = #{productId},</if>
            <if test="shareType != null">`share_type` = #{shareType},</if>
            <if test="relationType != null">`relation_type` = #{relationType},</if>
            <if test="category != null">`category` = #{category},</if>
            <if test="isDel != null">`is_del` = #{isDel},</if>
            <if test="createTime != null">`create_time` = #{createTime},</if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from `tb_shop_product_relation`
        where `id` = #{id}
    </delete>

    <select id="isRename" resultType="java.lang.Integer" parameterType="cn.peyton.plum.mall.pojo.ShopProductRelation">

        select
        count(`id`)
        from `tb_shop_product_relation`
        <where>
            <if test="id != null">
                and `id` = #{id}
            </if>
            <if test="shareId != null">
                and `share_id` = #{shareId}
            </if>
            <if test="productId != null">
                and `product_id` = #{productId}
            </if>
            <if test="shareType != null">
                and `share_type` = #{shareType}
            </if>
            <if test="relationType != null">
                and `relation_type` = #{relationType}
            </if>
            <if test="category != null">
                and `category` = #{category}
            </if>
            <if test="isDel != null">
                and `is_del` = #{isDel}
            </if>
            <if test="createTime != null">
                and `create_time` = #{createTime}
            </if>
        </where>
    </select>

    <select id="selectByPrimaryKey" resultMap="ResultShopProductRelationMap" parameterType="java.lang.Long">
        select
        <include refid="Column_tb_shop_product_relation_List"/>
        from `tb_shop_product_relation`
        where `id` = #{id}
    </select>

    <select id="selectByLiekAndObj" resultMap="ResultShopProductRelationMap" parameterType="map">

        select
        <include refid="Column_tb_shop_product_relation_List"/>
        from `tb_shop_product_relation`
        <where>
            <if test="record.id != null">
                and `id` like concat('%',#{record.id},'%')
            </if>
            <if test="record.shareId != null">
                and `share_id` like concat('%',#{record.shareId},'%')
            </if>
            <if test="record.productId != null">
                and `product_id` like concat('%',#{record.productId},'%')
            </if>
            <if test="record.shareType != null">
                and `share_type` like concat('%',#{record.shareType},'%')
            </if>
            <if test="record.relationType != null">
                and `relation_type` like concat('%',#{record.relationType},'%')
            </if>
            <if test="record.category != null">
                and `category` like concat('%',#{record.category},'%')
            </if>
            <if test="record.isDel != null">
                and `is_del` like concat('%',#{record.isDel},'%')
            </if>
            <if test="record.createTime != null">
                and `create_time` like concat('%',#{record.createTime},'%')
            </if>
        </where>
        limit #{page.offset},#{page.pageSize}
    </select>

    <select id="selectByObj" resultMap="ResultShopProductRelationMap" parameterType="map">

        select
        <include refid="Column_tb_shop_product_relation_List"/>
        from `tb_shop_product_relation`
        <where>
            <if test="record.id != null">
                > and `id` = #{record.id}
            </if>
            <if test="record.shareId != null">
                > and `share_id` = #{record.shareId}
            </if>
            <if test="record.productId != null">
                > and `product_id` = #{record.productId}
            </if>
            <if test="record.shareType != null">
                > and `share_type` = #{record.shareType}
            </if>
            <if test="record.relationType != null">
                > and `relation_type` = #{record.relationType}
            </if>
            <if test="record.category != null">
                > and `category` = #{record.category}
            </if>
            <if test="record.isDel != null">
                > and `is_del` = #{record.isDel}
            </if>
            <if test="record.createTime != null">
                > and `create_time` = #{record.createTime}
            </if>
        </where>
        limit #{page.offset},#{page.pageSize}
    </select>

    <select id="countByLike" resultType="java.lang.Integer"
            parameterType="cn.peyton.plum.mall.pojo.ShopProductRelation">

        select
        count(`id`)
        from `tb_shop_product_relation`
        <where>
            <if test="id != null">
                > and `id` like concat('%',#{id},'%')
            </if>
            <if test="shareId != null">
                > and `share_id` like concat('%',#{shareId},'%')
            </if>
            <if test="productId != null">
                > and `product_id` like concat('%',#{productId},'%')
            </if>
            <if test="shareType != null">
                > and `share_type` like concat('%',#{shareType},'%')
            </if>
            <if test="relationType != null">
                > and `relation_type` like concat('%',#{relationType},'%')
            </if>
            <if test="category != null">
                > and `category` like concat('%',#{category},'%')
            </if>
            <if test="isDel != null">
                > and `is_del` like concat('%',#{isDel},'%')
            </if>
            <if test="createTime != null">
                > and `create_time` like concat('%',#{createTime},'%')
            </if>
        </where>
    </select>

    <select id="count" resultType="java.lang.Integer" parameterType="cn.peyton.plum.mall.pojo.ShopProductRelation">

        select
        count(`id`)
        from `tb_shop_product_relation`
        <where>
            <if test="id != null">
                > and `id` = #{id}
            </if>
            <if test="shareId != null">
                > and `share_id` = #{shareId}
            </if>
            <if test="productId != null">
                > and `product_id` = #{productId}
            </if>
            <if test="shareType != null">
                > and `share_type` = #{shareType}
            </if>
            <if test="relationType != null">
                > and `relation_type` = #{relationType}
            </if>
            <if test="category != null">
                > and `category` = #{category}
            </if>
            <if test="isDel != null">
                > and `is_del` = #{isDel}
            </if>
            <if test="createTime != null">
                > and `create_time` = #{createTime}
            </if>
        </where>
    </select>

</mapper>
