<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.peyton.plum.mall.mapper.UsersRolesMapper">
    <resultMap id="ResultUsersRolesMap" type="cn.peyton.plum.mall.pojo.UsersRoles">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="user_id" property="userId" jdbcType="BIGINT"/>
        <result column="role_id" property="roleId" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Column_sys_users_roles_List">
        `id`,`user_id`,`role_id`
    </sql>

    <insert id="insertSelective" parameterType="cn.peyton.plum.mall.pojo.UsersRoles" keyColumn="id" keyProperty="id"
            useGeneratedKeys="true">
        insert into `sys_users_roles`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">`user_id`,</if>
            <if test="roleId != null">`role_id`,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="roleId != null">#{roleId},</if>
        </trim>
    </insert>

    <update id="updateSelective" parameterType="cn.peyton.plum.mall.pojo.UsersRoles">
        update `sys_users_roles`
        <set>
            <if test="userId != null">`user_id` = #{userId},</if>
            <if test="roleId != null">`role_id` = #{roleId},</if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from `sys_users_roles`
        where `id` = #{id}
    </delete>

    <select id="isRename" resultType="java.lang.Integer" parameterType="cn.peyton.plum.mall.pojo.UsersRoles">

        select
        count(`id`)
        from `sys_users_roles`
        <where>
            <if test="id != null">
                and `id` = #{id}
            </if>
            <if test="userId != null">
                and `user_id` = #{userId}
            </if>
            <if test="roleId != null">
                and `role_id` = #{roleId}
            </if>
        </where>
    </select>

    <select id="selectByPrimaryKey" resultMap="ResultUsersRolesMap" parameterType="java.lang.Long">
        select
        <include refid="Column_sys_users_roles_List"/>
        from `sys_users_roles`
        where `id` = #{id}
    </select>

    <select id="selectByLiekAndObj" resultMap="ResultUsersRolesMap" parameterType="map">

        select
        <include refid="Column_sys_users_roles_List"/>
        from `sys_users_roles`
        <where>
            <if test="record.id != null">
                and `id` like concat('%',#{record.id},'%')
            </if>
            <if test="record.userId != null">
                and `user_id` like concat('%',#{record.userId},'%')
            </if>
            <if test="record.roleId != null">
                and `role_id` like concat('%',#{record.roleId},'%')
            </if>
        </where>
        limit #{page.offset},#{page.pageSize}
    </select>

    <select id="selectByObj" resultMap="ResultUsersRolesMap" parameterType="map">

        select
        <include refid="Column_sys_users_roles_List"/>
        from `sys_users_roles`
        <where>
            <if test="record.id != null">
                > and `id` = #{record.id}
            </if>
            <if test="record.userId != null">
                > and `user_id` = #{record.userId}
            </if>
            <if test="record.roleId != null">
                > and `role_id` = #{record.roleId}
            </if>
        </where>
        limit #{page.offset},#{page.pageSize}
    </select>

    <select id="countByLike" resultType="java.lang.Integer" parameterType="cn.peyton.plum.mall.pojo.UsersRoles">

        select
        count(`id`)
        from `sys_users_roles`
        <where>
            <if test="id != null">
                > and `id` like concat('%',#{id},'%')
            </if>
            <if test="userId != null">
                > and `user_id` like concat('%',#{userId},'%')
            </if>
            <if test="roleId != null">
                > and `role_id` like concat('%',#{roleId},'%')
            </if>
        </where>
    </select>

    <select id="count" resultType="java.lang.Integer" parameterType="cn.peyton.plum.mall.pojo.UsersRoles">

        select
        count(`id`)
        from `sys_users_roles`
        <where>
            <if test="id != null">
                > and `id` = #{id}
            </if>
            <if test="userId != null">
                > and `user_id` = #{userId}
            </if>
            <if test="roleId != null">
                > and `role_id` = #{roleId}
            </if>
        </where>
    </select>

</mapper>
