<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.peyton.plum.mall.mapper.UserMapper">
	<resultMap id="ResultUserMap" type="cn.peyton.plum.mall.pojo.User">
		<id column="id" property="id" jdbcType="BIGINT"/>
		<result column="avatar" property="avatar" jdbcType="VARCHAR"/>
		<result column="email" property="email" jdbcType="VARCHAR"/>
		<result column="enabled" property="enabled" jdbcType="TINYINT"/>
		<result column="password" property="password" jdbcType="VARCHAR"/>
		<result column="username" property="username" jdbcType="VARCHAR"/>
		<result column="dept_id" property="deptId" jdbcType="BIGINT"/>
		<result column="phone" property="phone" jdbcType="VARCHAR"/>
		<result column="job_id" property="jobId" jdbcType="BIGINT"/>
		<result column="create_time" property="createTime" jdbcType="INTEGER"/>
		<result column="nick_name" property="nickName" jdbcType="VARCHAR"/>
		<result column="sex" property="sex" jdbcType="TINYINT"/>
		<result column="is_del" property="isDel" jdbcType="TINYINT"/>
	</resultMap>

	<sql id="Column_sys_user_List">
		`id`,`avatar`,`email`,`enabled`,`password`,`username`,`dept_id`,`phone`,`job_id`,`create_time`,`nick_name`,`sex`,`is_del`
	</sql>

	<insert id="insertSelective" parameterType="cn.peyton.plum.mall.pojo.User" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
		insert into `sys_user`
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="avatar != null">`avatar`,</if>
			<if test="email != null">`email`,</if>
			<if test="enabled != null">`enabled`,</if>
			<if test="password != null">`password`,</if>
			<if test="username != null">`username`,</if>
			<if test="deptId != null">`dept_id`,</if>
			<if test="phone != null">`phone`,</if>
			<if test="jobId != null">`job_id`,</if>
			<if test="createTime != null">`create_time`,</if>
			<if test="nickName != null">`nick_name`,</if>
			<if test="sex != null">`sex`,</if>
			<if test="isDel != null">`is_del`,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="avatar != null">#{avatar},</if>
			<if test="email != null">#{email},</if>
			<if test="enabled != null">#{enabled},</if>
			<if test="password != null">#{password},</if>
			<if test="username != null">#{username},</if>
			<if test="deptId != null">#{deptId},</if>
			<if test="phone != null">#{phone},</if>
			<if test="jobId != null">#{jobId},</if>
			<if test="createTime != null">#{createTime},</if>
			<if test="nickName != null">#{nickName},</if>
			<if test="sex != null">#{sex},</if>
			<if test="isDel != null">#{isDel},</if>
		</trim>
	</insert>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from `sys_user`
		where `id` = #{id}
	</delete>

	<update id="updateByPrimaryKeySelective" parameterType="cn.peyton.plum.mall.pojo.User">
		update `sys_user`
		<set>
			<if test="avatar != null">`avatar` = #{avatar},</if>
			<if test="email != null">`email` = #{email},</if>
			<if test="enabled != null">`enabled` = #{enabled},</if>
			<if test="password != null">`password` = #{password},</if>
			<if test="username != null">`username` = #{username},</if>
			<if test="deptId != null">`dept_id` = #{deptId},</if>
			<if test="phone != null">`phone` = #{phone},</if>
			<if test="jobId != null">`job_id` = #{jobId},</if>
			<if test="createTime != null">`create_time` = #{createTime},</if>
			<if test="nickName != null">`nick_name` = #{nickName},</if>
			<if test="sex != null">`sex` = #{sex},</if>
			<if test="isDel != null">`is_del` = #{isDel},</if>
		</set>
		where id = #{id}
	</update>

	<select id="selectByPrimaryKey" resultMap="ResultUserMap"  parameterType="java.lang.Long">
		select
		<include refid="Column_sys_user_List"/>
		from `sys_user`
		where `id` = #{id}
	</select>

	<!-- new create method   -->	

	<select id="selectByAllOrKeyword" resultMap="ResultUserMap"  parameterType="map">

	</select>

	<select id="selectByObj" resultMap="ResultUserMap"  parameterType="map">

	</select>

	<select id="count" resultType = "java.lang.Integer" parameterType="java.lang.String">

	</select>

	<select id="isRename" resultType = "java.lang.Integer" parameterType="cn.peyton.plum.mall.pojo.User">

	</select>

	<update id="upStatus" parameterType="cn.peyton.plum.mall.pojo.User">

	</update>

</mapper>
