<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.peyton.plum.mall.mapper.UserLogMapper">
	<resultMap id="ResultUserLogMap" type="cn.peyton.plum.mall.pojo.UserLog">
		<id column="id" property="id" jdbcType="BIGINT"/>
		<result column="user_id" property="userId" jdbcType="BIGINT"/>
		<result column="old_value" property="oldValue" jdbcType="LONGVARCHAR"/>
		<result column="new_value" property="newValue" jdbcType="LONGVARCHAR"/>
		<result column="operate_ip" property="operateIp" jdbcType="VARCHAR"/>
		<result column="create_time" property="createTime" jdbcType="INTEGER"/>
		<result column="status" property="status" jdbcType="TINYINT"/>
	</resultMap>

	<sql id="Column_sys_user_log_List">
		`id`,`user_id`,`old_value`,`new_value`,`operate_ip`,`create_time`,`status`
	</sql>

	<insert id="insertSelective" parameterType="cn.peyton.plum.mall.pojo.UserLog" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
		insert into `sys_user_log`
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="userId != null">`user_id`,</if>
			<if test="oldValue != null">`old_value`,</if>
			<if test="newValue != null">`new_value`,</if>
			<if test="operateIp != null">`operate_ip`,</if>
			<if test="createTime != null">`create_time`,</if>
			<if test="status != null">`status`,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="userId != null">#{userId},</if>
			<if test="oldValue != null">#{oldValue},</if>
			<if test="newValue != null">#{newValue},</if>
			<if test="operateIp != null">#{operateIp},</if>
			<if test="createTime != null">#{createTime},</if>
			<if test="status != null">#{status},</if>
		</trim>
	</insert>

	<update id="updateSelective" parameterType="cn.peyton.plum.mall.pojo.UserLog">
		update `sys_user_log`
		<set>
			<if test="userId != null">`user_id` = #{userId},</if>
			<if test="oldValue != null">`old_value` = #{oldValue},</if>
			<if test="newValue != null">`new_value` = #{newValue},</if>
			<if test="operateIp != null">`operate_ip` = #{operateIp},</if>
			<if test="createTime != null">`create_time` = #{createTime},</if>
			<if test="status != null">`status` = #{status},</if>
		</set>
		where id = #{id}
	</update>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from `sys_user_log`
		where `id` = #{id}
	</delete>

	<select id="isRename" resultType = "java.lang.Integer" parameterType="cn.peyton.plum.mall.pojo.UserLog">

		select
		count(`id`)
		from `sys_user_log`
		<where>
			<if test="id != null">
				and `id` = #{id}
			</if>
			<if test="userId != null">
				and `user_id` = #{userId}
			</if>
			<if test="oldValue != null">
				and `old_value` = #{oldValue}
			</if>
			<if test="newValue != null">
				and `new_value` = #{newValue}
			</if>
			<if test="operateIp != null">
				and `operate_ip` = #{operateIp}
			</if>
			<if test="createTime != null">
				and `create_time` = #{createTime}
			</if>
			<if test="status != null">
				and `status` = #{status}
			</if>
		</where>
	</select>

	<select id="selectByPrimaryKey" resultMap="ResultUserLogMap"  parameterType="java.lang.Long">
		select
		<include refid="Column_sys_user_log_List"/>
		from `sys_user_log`
		where `id` = #{id}
	</select>

	<select id="selectByLiekAndObj" resultMap="ResultUserLogMap"  parameterType="map">

		select
		<include refid="Column_sys_user_log_List"/>
		from `sys_user_log`
		<where>
			<if test="record.id != null">
				and `id` like concat('%',#{record.id},'%')
			</if>
			<if test="record.userId != null">
				and `user_id` like concat('%',#{record.userId},'%')
			</if>
			<if test="record.oldValue != null">
				and `old_value` like concat('%',#{record.oldValue},'%')
			</if>
			<if test="record.newValue != null">
				and `new_value` like concat('%',#{record.newValue},'%')
			</if>
			<if test="record.operateIp != null">
				and `operate_ip` like concat('%',#{record.operateIp},'%')
			</if>
			<if test="record.createTime != null">
				and `create_time` like concat('%',#{record.createTime},'%')
			</if>
			<if test="record.status != null">
				and `status` like concat('%',#{record.status},'%')
			</if>
		</where>
		limit #{page.offset},#{page.pageSize}
	</select>

	<select id="selectByObj" resultMap="ResultUserLogMap"  parameterType="map">

		select
		<include refid="Column_sys_user_log_List"/>
		from `sys_user_log`
		<where>
			<if test="record.id != null">
>				and `id` = #{record.id}
			</if>
			<if test="record.userId != null">
>				and `user_id` = #{record.userId}
			</if>
			<if test="record.oldValue != null">
>				and `old_value` = #{record.oldValue}
			</if>
			<if test="record.newValue != null">
>				and `new_value` = #{record.newValue}
			</if>
			<if test="record.operateIp != null">
>				and `operate_ip` = #{record.operateIp}
			</if>
			<if test="record.createTime != null">
>				and `create_time` = #{record.createTime}
			</if>
			<if test="record.status != null">
>				and `status` = #{record.status}
			</if>
		</where>
		limit #{page.offset},#{page.pageSize}
	</select>

	<select id="countByLike" resultType = "java.lang.Integer" parameterType="cn.peyton.plum.mall.pojo.UserLog">

		select
		count(`id`)
		from `sys_user_log`
		<where>
			<if test="id != null">
>				and `id` like concat('%',#{id},'%')
			</if>
			<if test="userId != null">
>				and `user_id` like concat('%',#{userId},'%')
			</if>
			<if test="oldValue != null">
>				and `old_value` like concat('%',#{oldValue},'%')
			</if>
			<if test="newValue != null">
>				and `new_value` like concat('%',#{newValue},'%')
			</if>
			<if test="operateIp != null">
>				and `operate_ip` like concat('%',#{operateIp},'%')
			</if>
			<if test="createTime != null">
>				and `create_time` like concat('%',#{createTime},'%')
			</if>
			<if test="status != null">
>				and `status` like concat('%',#{status},'%')
			</if>
		</where>
	</select>

	<select id="count" resultType = "java.lang.Integer" parameterType="cn.peyton.plum.mall.pojo.UserLog">

		select
		count(`id`)
		from `sys_user_log`
		<where>
			<if test="id != null">
>				and `id` = #{id}
			</if>
			<if test="userId != null">
>				and `user_id` = #{userId}
			</if>
			<if test="oldValue != null">
>				and `old_value` = #{oldValue}
			</if>
			<if test="newValue != null">
>				and `new_value` = #{newValue}
			</if>
			<if test="operateIp != null">
>				and `operate_ip` = #{operateIp}
			</if>
			<if test="createTime != null">
>				and `create_time` = #{createTime}
			</if>
			<if test="status != null">
>				and `status` = #{status}
			</if>
		</where>
	</select>

</mapper>
