<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.peyton.plum.mall.mapper.UsersRolesMapper">
	<resultMap id="ResultUsersRolesMap" type="cn.peyton.plum.mall.pojo.UsersRoles">
		<id column="id" property="id" jdbcType="BIGINT"/>
		<result column="user_id" property="userId" jdbcType="BIGINT"/>
		<result column="role_id" property="roleId" jdbcType="BIGINT"/>
	</resultMap>

	<sql id="Column_sys_users_roles_List">
		`id`,`user_id`,`role_id`
	</sql>

	<insert id="insertSelective" parameterType="cn.peyton.plum.mall.pojo.UsersRoles" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
		insert into `sys_users_roles`
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="userId != null">`user_id`,</if>
			<if test="roleId != null">`role_id`,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="userId != null">#{userId},</if>
			<if test="roleId != null">#{roleId},</if>
		</trim>
	</insert>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from `sys_users_roles`
		where `id` = #{id}
	</delete>

	<update id="updateByPrimaryKeySelective" parameterType="cn.peyton.plum.mall.pojo.UsersRoles">
		update `sys_users_roles`
		<set>
			<if test="userId != null">`user_id` = #{userId},</if>
			<if test="roleId != null">`role_id` = #{roleId},</if>
		</set>
		where id = #{id}
	</update>

	<select id="selectByPrimaryKey" resultMap="ResultUsersRolesMap"  parameterType="java.lang.Long">
		select
		<include refid="Column_sys_users_roles_List"/>
		from `sys_users_roles`
		where `id` = #{id}
	</select>

	<!-- new create method   -->	

	<select id="selectByAllOrKeyword" resultMap="ResultUsersRolesMap"  parameterType="map">

	</select>

	<select id="selectByObj" resultMap="ResultUsersRolesMap"  parameterType="map">

	</select>

	<select id="count" resultType = "java.lang.Integer" parameterType="java.lang.String">

	</select>

	<select id="isRename" resultType = "java.lang.Integer" parameterType="cn.peyton.plum.mall.pojo.UsersRoles">

	</select>

	<update id="upStatus" parameterType="cn.peyton.plum.mall.pojo.UsersRoles">

	</update>

</mapper>
