<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.peyton.plum.mall.mapper.WarehouseInfoMapper">
    <resultMap id="ResultWarehouseInfoMap" type="cn.peyton.plum.mall.pojo.WarehouseInfo">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="loaction" property="loaction" jdbcType="VARCHAR"/>
        <result column="explain" property="explain" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Column_tb_warehouse_info_List">
        `id`,`name`,`phone`,`address`,`loaction`,`explain`,`create_time`
    </sql>

    <insert id="insertSelective" parameterType="cn.peyton.plum.mall.pojo.WarehouseInfo" keyColumn="id" keyProperty="id"
            useGeneratedKeys="true">
        insert into `tb_warehouse_info`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">`name`,</if>
            <if test="phone != null">`phone`,</if>
            <if test="address != null">`address`,</if>
            <if test="loaction != null">`loaction`,</if>
            <if test="explain != null">`explain`,</if>
            <if test="createTime != null">`create_time`,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="phone != null">#{phone},</if>
            <if test="address != null">#{address},</if>
            <if test="loaction != null">#{loaction},</if>
            <if test="explain != null">#{explain},</if>
            <if test="createTime != null">#{createTime},</if>
        </trim>
    </insert>

    <update id="updateSelective" parameterType="cn.peyton.plum.mall.pojo.WarehouseInfo">
        update `tb_warehouse_info`
        <set>
            <if test="name != null">`name` = #{name},</if>
            <if test="phone != null">`phone` = #{phone},</if>
            <if test="address != null">`address` = #{address},</if>
            <if test="loaction != null">`loaction` = #{loaction},</if>
            <if test="explain != null">`explain` = #{explain},</if>
            <if test="createTime != null">`create_time` = #{createTime},</if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from `tb_warehouse_info`
        where `id` = #{id}
    </delete>

    <select id="isRename" resultType="java.lang.Integer" parameterType="cn.peyton.plum.mall.pojo.WarehouseInfo">

        select
        count(`id`)
        from `tb_warehouse_info`
        <where>
            <if test="id != null">
                and `id` = #{id}
            </if>
            <if test="name != null">
                and `name` = #{name}
            </if>
            <if test="phone != null">
                and `phone` = #{phone}
            </if>
            <if test="address != null">
                and `address` = #{address}
            </if>
            <if test="loaction != null">
                and `loaction` = #{loaction}
            </if>
            <if test="explain != null">
                and `explain` = #{explain}
            </if>
            <if test="createTime != null">
                and `create_time` = #{createTime}
            </if>
        </where>
    </select>

    <select id="selectByPrimaryKey" resultMap="ResultWarehouseInfoMap" parameterType="java.lang.Integer">
        select
        <include refid="Column_tb_warehouse_info_List"/>
        from `tb_warehouse_info`
        where `id` = #{id}
    </select>

    <select id="selectByLiekAndObj" resultMap="ResultWarehouseInfoMap" parameterType="map">

        select
        <include refid="Column_tb_warehouse_info_List"/>
        from `tb_warehouse_info`
        <where>
            <if test="record.id != null">
                and `id` like concat('%',#{record.id},'%')
            </if>
            <if test="record.name != null">
                and `name` like concat('%',#{record.name},'%')
            </if>
            <if test="record.phone != null">
                and `phone` like concat('%',#{record.phone},'%')
            </if>
            <if test="record.address != null">
                and `address` like concat('%',#{record.address},'%')
            </if>
            <if test="record.loaction != null">
                and `loaction` like concat('%',#{record.loaction},'%')
            </if>
            <if test="record.explain != null">
                and `explain` like concat('%',#{record.explain},'%')
            </if>
            <if test="record.createTime != null">
                and `create_time` like concat('%',#{record.createTime},'%')
            </if>
        </where>
        limit #{page.offset},#{page.pageSize}
    </select>

    <select id="selectByObj" resultMap="ResultWarehouseInfoMap" parameterType="map">

        select
        <include refid="Column_tb_warehouse_info_List"/>
        from `tb_warehouse_info`
        <where>
            <if test="record.id != null">
                > and `id` = #{record.id}
            </if>
            <if test="record.name != null">
                > and `name` = #{record.name}
            </if>
            <if test="record.phone != null">
                > and `phone` = #{record.phone}
            </if>
            <if test="record.address != null">
                > and `address` = #{record.address}
            </if>
            <if test="record.loaction != null">
                > and `loaction` = #{record.loaction}
            </if>
            <if test="record.explain != null">
                > and `explain` = #{record.explain}
            </if>
            <if test="record.createTime != null">
                > and `create_time` = #{record.createTime}
            </if>
        </where>
        limit #{page.offset},#{page.pageSize}
    </select>

    <select id="countByLike" resultType="java.lang.Integer" parameterType="cn.peyton.plum.mall.pojo.WarehouseInfo">

        select
        count(`id`)
        from `tb_warehouse_info`
        <where>
            <if test="id != null">
                > and `id` like concat('%',#{id},'%')
            </if>
            <if test="name != null">
                > and `name` like concat('%',#{name},'%')
            </if>
            <if test="phone != null">
                > and `phone` like concat('%',#{phone},'%')
            </if>
            <if test="address != null">
                > and `address` like concat('%',#{address},'%')
            </if>
            <if test="loaction != null">
                > and `loaction` like concat('%',#{loaction},'%')
            </if>
            <if test="explain != null">
                > and `explain` like concat('%',#{explain},'%')
            </if>
            <if test="createTime != null">
                > and `create_time` like concat('%',#{createTime},'%')
            </if>
        </where>
    </select>

    <select id="count" resultType="java.lang.Integer" parameterType="cn.peyton.plum.mall.pojo.WarehouseInfo">

        select
        count(`id`)
        from `tb_warehouse_info`
        <where>
            <if test="id != null">
                > and `id` = #{id}
            </if>
            <if test="name != null">
                > and `name` = #{name}
            </if>
            <if test="phone != null">
                > and `phone` = #{phone}
            </if>
            <if test="address != null">
                > and `address` = #{address}
            </if>
            <if test="loaction != null">
                > and `loaction` = #{loaction}
            </if>
            <if test="explain != null">
                > and `explain` = #{explain}
            </if>
            <if test="createTime != null">
                > and `create_time` = #{createTime}
            </if>
        </where>
    </select>

</mapper>
