<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.peyton.plum.mall.mapper.WechatCacheMapper">
	<resultMap id="ResultWechatCacheMap" type="cn.peyton.plum.mall.pojo.WechatCache">
		<id column="key" property="key" jdbcType="VARCHAR"/>
		<result column="result" property="result" jdbcType="LONGVARCHAR"/>
		<result column="create_time" property="createTime" jdbcType="INTEGER"/>
	</resultMap>

	<sql id="Column_tb_wechat_cache_List">
		`key`,`result`,`create_time`
	</sql>

	<insert id="insertSelective" parameterType="cn.peyton.plum.mall.pojo.WechatCache" keyColumn="key" keyProperty="key" useGeneratedKeys="true">
		insert into `tb_wechat_cache`
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="result != null">`result`,</if>
			<if test="createTime != null">`create_time`,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="result != null">#{result},</if>
			<if test="createTime != null">#{createTime},</if>
		</trim>
	</insert>

	<update id="updateSelective" parameterType="cn.peyton.plum.mall.pojo.WechatCache">
		update `tb_wechat_cache`
		<set>
			<if test="result != null">`result` = #{result},</if>
			<if test="createTime != null">`create_time` = #{createTime},</if>
		</set>
		where key = #{key}
	</update>

	<delete id="deleteByPrimaryKey" parameterType="string">
		delete from `tb_wechat_cache`
		where `key` = #{key}
	</delete>

	<select id="isRename" resultType = "java.lang.Integer" parameterType="cn.peyton.plum.mall.pojo.WechatCache">
		select
		count(`key`)
		from `tb_wechat_cache`
		<where>
			<if test="key != null">
				and `key` = #{key}
			</if>
			<if test="result != null">
				and `result` = #{result}
			</if>
			<if test="createTime != null">
				and `create_time` = #{createTime}
			</if>
		</where>
	</select>

	<select id="selectByPrimaryKey" resultMap="ResultWechatCacheMap"  parameterType="string">
		select
		<include refid="Column_tb_wechat_cache_List"/>
		from `tb_wechat_cache`
		where `key` = #{key}
	</select>

	<select id="selectByLiekAndObj" resultMap="ResultWechatCacheMap"  parameterType="map">
		select
		<include refid="Column_tb_wechat_cache_List"/>
		from `tb_wechat_cache`
		<where>
			<if test="record.key != null">
				and `key` like concat('%',#{record.key},'%')
			</if>
			<if test="record.result != null">
				and `result` like concat('%',#{record.result},'%')
			</if>
			<if test="record.createTime != null">
				and `create_time` like concat('%',#{record.createTime},'%')
			</if>
		</where>
		limit #{page.offset},#{page.pageSize}
	</select>

	<select id="selectByObj" resultMap="ResultWechatCacheMap"  parameterType="map">
		select
		<include refid="Column_tb_wechat_cache_List"/>
		from `tb_wechat_cache`
		<where>
			<if test="record.key != null">
				and `key` = #{record.key}
			</if>
			<if test="record.result != null">
				and `result` = #{record.result}
			</if>
			<if test="record.createTime != null">
				and `create_time` = #{record.createTime}
			</if>
		</where>
		limit #{page.offset},#{page.pageSize}
	</select>

	<select id="countByLike" resultType = "java.lang.Integer" parameterType="cn.peyton.plum.mall.pojo.WechatCache">
		select
		count(`key`)
		from `tb_wechat_cache`
		<where>
			<if test="key != null">
				and `key` like concat('%',#{key},'%')
			</if>
			<if test="result != null">
				and `result` like concat('%',#{result},'%')
			</if>
			<if test="createTime != null">
				and `create_time` like concat('%',#{createTime},'%')
			</if>
		</where>
	</select>

	<select id="count" resultType = "java.lang.Integer" parameterType="cn.peyton.plum.mall.pojo.WechatCache">
		select
		count(`key`)
		from `tb_wechat_cache`
		<where>
			<if test="key != null">
				and `key` = #{key}
			</if>
			<if test="result != null">
				and `result` = #{result}
			</if>
			<if test="createTime != null">
				and `create_time` = #{createTime}
			</if>
		</where>
	</select>

</mapper>
