<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.peyton.plum.mall.mapper.pub.ArticleMapper">
	<resultMap id="ResultArticleMap" type="cn.peyton.plum.mall.pojo.pub.Article">
		<id column="id" property="id" jdbcType="BIGINT"/>
		<result column="category_id" property="categoryId" jdbcType="INTEGER"/>
		<result column="title" property="title" jdbcType="VARCHAR"/>
		<result column="author" property="author" jdbcType="VARCHAR"/>
		<result column="image" property="image" jdbcType="VARCHAR"/>
		<result column="synopsis" property="synopsis" jdbcType="VARCHAR"/>
		<result column="content" property="content" jdbcType="LONGVARCHAR"/>
		<result column="visit" property="visit" jdbcType="INTEGER"/>
		<result column="seq" property="seq" jdbcType="SMALLINT"/>
		<result column="url" property="url" jdbcType="VARCHAR"/>
		<result column="product_id" property="productId" jdbcType="BIGINT"/>
		<result column="media_id" property="mediaId" jdbcType="VARCHAR"/>
		<result column="is_pub" property="isPub" jdbcType="TINYINT"/>
		<result column="is_del" property="isDel" jdbcType="TINYINT"/>
		<result column="create_time" property="createTime" jdbcType="INTEGER"/>
		<result column="update_time" property="updateTime" jdbcType="INTEGER"/>
	</resultMap>

	<sql id="Column_tb_article_List">
		`id`,`category_id`,`title`,`author`,`image`,`synopsis`,`content`,`visit`,`seq`,`url`,`product_id`,`media_id`,`is_pub`,`is_del`,`create_time`,`update_time`
	</sql>

	<insert id="insertSelective" parameterType="cn.peyton.plum.mall.pojo.pub.Article" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
		insert into `tb_article`
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="categoryId != null">`category_id`,</if>
			<if test="title != null">`title`,</if>
			<if test="author != null">`author`,</if>
			<if test="image != null">`image`,</if>
			<if test="synopsis != null">`synopsis`,</if>
			<if test="content != null">`content`,</if>
			<if test="visit != null">`visit`,</if>
			<if test="seq != null">`seq`,</if>
			<if test="url != null">`url`,</if>
			<if test="productId != null">`product_id`,</if>
			<if test="mediaId != null">`media_id`,</if>
			<if test="isPub != null">`is_pub`,</if>
			<if test="isDel != null">`is_del`,</if>
			<if test="createTime != null">`create_time`,</if>
			<if test="updateTime != null">`update_time`,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="categoryId != null">#{categoryId},</if>
			<if test="title != null">#{title},</if>
			<if test="author != null">#{author},</if>
			<if test="image != null">#{image},</if>
			<if test="synopsis != null">#{synopsis},</if>
			<if test="content != null">#{content},</if>
			<if test="visit != null">#{visit},</if>
			<if test="seq != null">#{seq},</if>
			<if test="url != null">#{url},</if>
			<if test="productId != null">#{productId},</if>
			<if test="mediaId != null">#{mediaId},</if>
			<if test="isPub != null">#{isPub},</if>
			<if test="isDel != null">#{isDel},</if>
			<if test="createTime != null">#{createTime},</if>
			<if test="updateTime != null">#{updateTime},</if>
		</trim>
	</insert>

	<update id="updateSelective" parameterType="cn.peyton.plum.mall.pojo.pub.Article">
		update `tb_article`
		<set>
			<if test="categoryId != null">`category_id` = #{categoryId},</if>
			<if test="title != null">`title` = #{title},</if>
			<if test="author != null">`author` = #{author},</if>
			<if test="image != null">`image` = #{image},</if>
			<if test="synopsis != null">`synopsis` = #{synopsis},</if>
			<if test="content != null">`content` = #{content},</if>
			<if test="visit != null">`visit` = #{visit},</if>
			<if test="seq != null">`seq` = #{seq},</if>
			<if test="url != null">`url` = #{url},</if>
			<if test="productId != null">`product_id` = #{productId},</if>
			<if test="mediaId != null">`media_id` = #{mediaId},</if>
			<if test="isPub != null">`is_pub` = #{isPub},</if>
			<if test="isDel != null">`is_del` = #{isDel},</if>
			<if test="createTime != null">`create_time` = #{createTime},</if>
			<if test="updateTime != null">`update_time` = #{updateTime},</if>
		</set>
		where id = #{id}
	</update>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from `tb_article`
		where `id` = #{id}
	</delete>

	<select id="repeat" resultType = "java.lang.Integer" parameterType="cn.peyton.plum.mall.pojo.pub.Article">
		select
		count(`id`)
		from `tb_article`
		<where>
			<if test="id != null">
				and `id` = #{id}
			</if>
			<if test="categoryId != null">
				and `category_id` = #{categoryId}
			</if>
			<if test="title != null">
				and `title` = #{title}
			</if>
			<if test="author != null">
				and `author` = #{author}
			</if>
			<if test="image != null">
				and `image` = #{image}
			</if>
			<if test="synopsis != null">
				and `synopsis` = #{synopsis}
			</if>
			<if test="content != null">
				and `content` = #{content}
			</if>
			<if test="visit != null">
				and `visit` = #{visit}
			</if>
			<if test="seq != null">
				and `seq` = #{seq}
			</if>
			<if test="url != null">
				and `url` = #{url}
			</if>
			<if test="productId != null">
				and `product_id` = #{productId}
			</if>
			<if test="mediaId != null">
				and `media_id` = #{mediaId}
			</if>
			<if test="isPub != null">
				and `is_pub` = #{isPub}
			</if>
			<if test="isDel != null">
				and `is_del` = #{isDel}
			</if>
			<if test="createTime != null">
				and `create_time` = #{createTime}
			</if>
			<if test="updateTime != null">
				and `update_time` = #{updateTime}
			</if>
		</where>
	</select>

	<select id="selectByPrimaryKey" resultMap="ResultArticleMap"  parameterType="java.lang.Long">
		select
		<include refid="Column_tb_article_List"/>
		from `tb_article`
		where `id` = #{id}
	</select>

	<select id="selectByLikeAndObj" resultMap="ResultArticleMap" parameterType="map">
		select
		<include refid="Column_tb_article_List"/>
		from `tb_article`
		<where>
			<if test="record.id != null">
				and `id` like concat('%',#{record.id},'%')
			</if>
			<if test="record.categoryId != null">
				and `category_id` like concat('%',#{record.categoryId},'%')
			</if>
			<if test="record.title != null">
				and `title` like concat('%',#{record.title},'%')
			</if>
			<if test="record.author != null">
				and `author` like concat('%',#{record.author},'%')
			</if>
			<if test="record.image != null">
				and `image` like concat('%',#{record.image},'%')
			</if>
			<if test="record.synopsis != null">
				and `synopsis` like concat('%',#{record.synopsis},'%')
			</if>
			<if test="record.content != null">
				and `content` like concat('%',#{record.content},'%')
			</if>
			<if test="record.visit != null">
				and `visit` like concat('%',#{record.visit},'%')
			</if>
			<if test="record.seq != null">
				and `seq` like concat('%',#{record.seq},'%')
			</if>
			<if test="record.url != null">
				and `url` like concat('%',#{record.url},'%')
			</if>
			<if test="record.productId != null">
				and `product_id` like concat('%',#{record.productId},'%')
			</if>
			<if test="record.mediaId != null">
				and `media_id` like concat('%',#{record.mediaId},'%')
			</if>
			<if test="record.isPub != null">
				and `is_pub` like concat('%',#{record.isPub},'%')
			</if>
			<if test="record.isDel != null">
				and `is_del` like concat('%',#{record.isDel},'%')
			</if>
			<if test="record.createTime != null">
				and `create_time` like concat('%',#{record.createTime},'%')
			</if>
			<if test="record.updateTime != null">
				and `update_time` like concat('%',#{record.updateTime},'%')
			</if>
		</where>
		<if test="page.orderColumnName != null">
			order by ${page.orderColumnName} ${page.orderMode}
		</if>
		<if test="page.orderColumnName == null">
			order by `id` ${page.orderMode}
		</if>
		<if test="page.enablePaging">
			limit #{page.offset},#{page.pageSize}
		</if>
	</select>

	<select id="selectByObj" resultMap="ResultArticleMap"  parameterType="map">
		select
		<include refid="Column_tb_article_List"/>
		from `tb_article`
		<where>
			<if test="record.id != null">
				and `id` = #{record.id}
			</if>
			<if test="record.categoryId != null">
				and `category_id` = #{record.categoryId}
			</if>
			<if test="record.title != null">
				and `title` = #{record.title}
			</if>
			<if test="record.author != null">
				and `author` = #{record.author}
			</if>
			<if test="record.image != null">
				and `image` = #{record.image}
			</if>
			<if test="record.synopsis != null">
				and `synopsis` = #{record.synopsis}
			</if>
			<if test="record.content != null">
				and `content` = #{record.content}
			</if>
			<if test="record.visit != null">
				and `visit` = #{record.visit}
			</if>
			<if test="record.seq != null">
				and `seq` = #{record.seq}
			</if>
			<if test="record.url != null">
				and `url` = #{record.url}
			</if>
			<if test="record.productId != null">
				and `product_id` = #{record.productId}
			</if>
			<if test="record.mediaId != null">
				and `media_id` = #{record.mediaId}
			</if>
			<if test="record.isPub != null">
				and `is_pub` = #{record.isPub}
			</if>
			<if test="record.isDel != null">
				and `is_del` = #{record.isDel}
			</if>
			<if test="record.createTime != null">
				and `create_time` = #{record.createTime}
			</if>
			<if test="record.updateTime != null">
				and `update_time` = #{record.updateTime}
			</if>
		</where>
		<if test="page.orderColumnName != null">
			order by ${page.orderColumnName} ${page.orderMode}
		</if>
		<if test="page.orderColumnName == null">
			order by `id` ${page.orderMode}
		</if>
		<if test="page.enablePaging">
			limit #{page.offset},#{page.pageSize}
		</if>
	</select>

	<select id="countByLike" resultType = "java.lang.Integer" parameterType="cn.peyton.plum.mall.pojo.pub.Article">
		select
		count(`id`)
		from `tb_article`
		<where>
			<if test="id != null">
				and `id` like concat('%',#{id},'%')
			</if>
			<if test="categoryId != null">
				and `category_id` like concat('%',#{categoryId},'%')
			</if>
			<if test="title != null">
				and `title` like concat('%',#{title},'%')
			</if>
			<if test="author != null">
				and `author` like concat('%',#{author},'%')
			</if>
			<if test="image != null">
				and `image` like concat('%',#{image},'%')
			</if>
			<if test="synopsis != null">
				and `synopsis` like concat('%',#{synopsis},'%')
			</if>
			<if test="content != null">
				and `content` like concat('%',#{content},'%')
			</if>
			<if test="visit != null">
				and `visit` like concat('%',#{visit},'%')
			</if>
			<if test="seq != null">
				and `seq` like concat('%',#{seq},'%')
			</if>
			<if test="url != null">
				and `url` like concat('%',#{url},'%')
			</if>
			<if test="productId != null">
				and `product_id` like concat('%',#{productId},'%')
			</if>
			<if test="mediaId != null">
				and `media_id` like concat('%',#{mediaId},'%')
			</if>
			<if test="isPub != null">
				and `is_pub` like concat('%',#{isPub},'%')
			</if>
			<if test="isDel != null">
				and `is_del` like concat('%',#{isDel},'%')
			</if>
			<if test="createTime != null">
				and `create_time` like concat('%',#{createTime},'%')
			</if>
			<if test="updateTime != null">
				and `update_time` like concat('%',#{updateTime},'%')
			</if>
		</where>
	</select>

	<select id="count" resultType = "java.lang.Integer" parameterType="cn.peyton.plum.mall.pojo.pub.Article">
		select
		count(`id`)
		from `tb_article`
		<where>
			<if test="id != null">
				and `id` = #{id}
			</if>
			<if test="categoryId != null">
				and `category_id` = #{categoryId}
			</if>
			<if test="title != null">
				and `title` = #{title}
			</if>
			<if test="author != null">
				and `author` = #{author}
			</if>
			<if test="image != null">
				and `image` = #{image}
			</if>
			<if test="synopsis != null">
				and `synopsis` = #{synopsis}
			</if>
			<if test="content != null">
				and `content` = #{content}
			</if>
			<if test="visit != null">
				and `visit` = #{visit}
			</if>
			<if test="seq != null">
				and `seq` = #{seq}
			</if>
			<if test="url != null">
				and `url` = #{url}
			</if>
			<if test="productId != null">
				and `product_id` = #{productId}
			</if>
			<if test="mediaId != null">
				and `media_id` = #{mediaId}
			</if>
			<if test="isPub != null">
				and `is_pub` = #{isPub}
			</if>
			<if test="isDel != null">
				and `is_del` = #{isDel}
			</if>
			<if test="createTime != null">
				and `create_time` = #{createTime}
			</if>
			<if test="updateTime != null">
				and `update_time` = #{updateTime}
			</if>
		</where>
	</select>

</mapper>
