<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.peyton.plum.mall.mapper.join.ExpressCompanyMapper">
	<resultMap id="ResultExpressCompanyMap" type="cn.peyton.plum.mall.pojo.join.ExpressCompany">
		<id column="id" property="id" jdbcType="INTEGER"/>
		<result column="code" property="code" jdbcType="VARCHAR"/>
		<result column="name" property="name" jdbcType="VARCHAR"/>
		<result column="seq" property="seq" jdbcType="SMALLINT"/>
		<result column="is_show" property="isShow" jdbcType="TINYINT"/>
		<result column="create_time" property="createTime" jdbcType="INTEGER"/>
		<result column="is_del" property="isDel" jdbcType="TINYINT"/>
	</resultMap>

	<sql id="Column_tb_express_company_List">
		`id`,`code`,`name`,`seq`,`is_show`,`create_time`,`is_del`
	</sql>

	<insert id="insertSelective" parameterType="cn.peyton.plum.mall.pojo.join.ExpressCompany" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
		insert into `tb_express_company`
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="code != null">`code`,</if>
			<if test="name != null">`name`,</if>
			<if test="seq != null">`seq`,</if>
			<if test="isShow != null">`is_show`,</if>
			<if test="createTime != null">`create_time`,</if>
			<if test="isDel != null">`is_del`,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="code != null">#{code},</if>
			<if test="name != null">#{name},</if>
			<if test="seq != null">#{seq},</if>
			<if test="isShow != null">#{isShow},</if>
			<if test="createTime != null">#{createTime},</if>
			<if test="isDel != null">#{isDel},</if>
		</trim>
	</insert>

	<update id="updateSelective" parameterType="cn.peyton.plum.mall.pojo.join.ExpressCompany">
		update `tb_express_company`
		<set>
			<if test="code != null">`code` = #{code},</if>
			<if test="name != null">`name` = #{name},</if>
			<if test="seq != null">`seq` = #{seq},</if>
			<if test="isShow != null">`is_show` = #{isShow},</if>
			<if test="createTime != null">`create_time` = #{createTime},</if>
			<if test="isDel != null">`is_del` = #{isDel},</if>
		</set>
		where id = #{id}
	</update>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from `tb_express_company`
		where `id` = #{id}
	</delete>

	<select id="repeat" resultType = "java.lang.Integer" parameterType="cn.peyton.plum.mall.pojo.join.ExpressCompany">
		select
		count(`id`)
		from `tb_express_company`
		<where>
			<if test="id != null">
				and `id` = #{id}
			</if>
			<if test="code != null">
				and `code` = #{code}
			</if>
			<if test="name != null">
				and `name` = #{name}
			</if>
			<if test="seq != null">
				and `seq` = #{seq}
			</if>
			<if test="isShow != null">
				and `is_show` = #{isShow}
			</if>
			<if test="createTime != null">
				and `create_time` = #{createTime}
			</if>
			<if test="isDel != null">
				and `is_del` = #{isDel}
			</if>
		</where>
	</select>

	<select id="selectByPrimaryKey" resultMap="ResultExpressCompanyMap"  parameterType="java.lang.Integer">
		select
		<include refid="Column_tb_express_company_List"/>
		from `tb_express_company`
		where `id` = #{id}
	</select>

	<select id="selectByLikeAndObj" resultMap="ResultExpressCompanyMap" parameterType="map">
		select
		<include refid="Column_tb_express_company_List"/>
		from `tb_express_company`
		<where>
			<if test="record.id != null">
				and `id` like concat('%',#{record.id},'%')
			</if>
			<if test="record.code != null">
				and `code` like concat('%',#{record.code},'%')
			</if>
			<if test="record.name != null">
				and `name` like concat('%',#{record.name},'%')
			</if>
			<if test="record.seq != null">
				and `seq` like concat('%',#{record.seq},'%')
			</if>
			<if test="record.isShow != null">
				and `is_show` like concat('%',#{record.isShow},'%')
			</if>
			<if test="record.createTime != null">
				and `create_time` like concat('%',#{record.createTime},'%')
			</if>
			<if test="record.isDel != null">
				and `is_del` like concat('%',#{record.isDel},'%')
			</if>
		</where>
		<if test="page.orderColumnName != null">
			order by ${page.orderColumnName}  ${page.orderMode}
		</if>
		<if test="page.orderColumnName == null">
			order by `id` ${page.orderMode}
		</if>
		<if test="page.enablePaging">
			limit #{page.offset},#{page.pageSize}
		</if>
	</select>

	<select id="selectByObj" resultMap="ResultExpressCompanyMap"  parameterType="map">
		select
		<include refid="Column_tb_express_company_List"/>
		from `tb_express_company`
		<where>
			<if test="record.id != null">
				and `id` = #{record.id}
			</if>
			<if test="record.code != null">
				and `code` = #{record.code}
			</if>
			<if test="record.name != null">
				and `name` = #{record.name}
			</if>
			<if test="record.seq != null">
				and `seq` = #{record.seq}
			</if>
			<if test="record.isShow != null">
				and `is_show` = #{record.isShow}
			</if>
			<if test="record.createTime != null">
				and `create_time` = #{record.createTime}
			</if>
			<if test="record.isDel != null">
				and `is_del` = #{record.isDel}
			</if>
		</where>
		<if test="page.orderColumnName != null">
			order by ${page.orderColumnName} ${page.orderMode}
		</if>
		<if test="page.orderColumnName == null">
			order by `id` ${page.orderMode}
		</if>
		<if test="page.enablePaging">
			limit #{page.offset},#{page.pageSize}
		</if>
	</select>

	<select id="countByLike" resultType = "java.lang.Integer" parameterType="cn.peyton.plum.mall.pojo.join.ExpressCompany">
		select
		count(`id`)
		from `tb_express_company`
		<where>
			<if test="id != null">
				and `id` like concat('%',#{id},'%')
			</if>
			<if test="code != null">
				and `code` like concat('%',#{code},'%')
			</if>
			<if test="name != null">
				and `name` like concat('%',#{name},'%')
			</if>
			<if test="seq != null">
				and `seq` like concat('%',#{seq},'%')
			</if>
			<if test="isShow != null">
				and `is_show` like concat('%',#{isShow},'%')
			</if>
			<if test="createTime != null">
				and `create_time` like concat('%',#{createTime},'%')
			</if>
			<if test="isDel != null">
				and `is_del` like concat('%',#{isDel},'%')
			</if>
		</where>
	</select>

	<select id="count" resultType = "java.lang.Integer" parameterType="cn.peyton.plum.mall.pojo.join.ExpressCompany">
		select
		count(`id`)
		from `tb_express_company`
		<where>
			<if test="id != null">
				and `id` = #{id}
			</if>
			<if test="code != null">
				and `code` = #{code}
			</if>
			<if test="name != null">
				and `name` = #{name}
			</if>
			<if test="seq != null">
				and `seq` = #{seq}
			</if>
			<if test="isShow != null">
				and `is_show` = #{isShow}
			</if>
			<if test="createTime != null">
				and `create_time` = #{createTime}
			</if>
			<if test="isDel != null">
				and `is_del` = #{isDel}
			</if>
		</where>
	</select>

</mapper>
