<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.peyton.plum.mall.mapper.join.InvoiceMapper">
	<resultMap id="ResultInvoiceMap" type="cn.peyton.plum.mall.pojo.join.Invoice">
		<id column="id" property="id" jdbcType="BIGINT"/>
		<result column="name" property="name" jdbcType="VARCHAR"/>
		<result column="phone" property="phone" jdbcType="VARCHAR"/>
		<result column="email" property="email" jdbcType="VARCHAR"/>
		<result column="code" property="code" jdbcType="VARCHAR"/>
		<result column="path" property="path" jdbcType="VARCHAR"/>
		<result column="bankname" property="bankname" jdbcType="VARCHAR"/>
		<result column="bankno" property="bankno" jdbcType="VARCHAR"/>
		<result column="type" property="type" jdbcType="TINYINT"/>
		<result column="create_time" property="createTime" jdbcType="INTEGER"/>
	</resultMap>
	<sql id="Column_sys_invoice_List">
		`id`,`name`,`phone`,`email`,`code`,`path`,`bankname`,`bankno`,`type`,`create_time`
	</sql>

	<resultMap id="result_invoice_down_map" type="cn.peyton.plum.mall.pojo.join.Invoice">
		<id column="id" property="id" jdbcType="BIGINT"/>
		<result column="name" property="name" jdbcType="VARCHAR"/>
		<result column="phone" property="phone" jdbcType="VARCHAR"/>
	</resultMap>
	<sql id="column_invoice_down_list">
		`id`,`name`,`phone`
	</sql>

	<insert id="insertSelective" parameterType="cn.peyton.plum.mall.pojo.join.Invoice" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
		insert into `sys_invoice`
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="name != null">`name`,</if>
			<if test="phone != null">`phone`,</if>
			<if test="email != null">`email`,</if>
			<if test="code != null">`code`,</if>
			<if test="path != null">`path`,</if>
			<if test="bankname != null">`bankname`,</if>
			<if test="bankno != null">`bankno`,</if>
			<if test="type != null">`type`,</if>
			<if test="createTime != null">`create_time`,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="name != null">#{name},</if>
			<if test="phone != null">#{phone},</if>
			<if test="email != null">#{email},</if>
			<if test="code != null">#{code},</if>
			<if test="path != null">#{path},</if>
			<if test="bankname != null">#{bankname},</if>
			<if test="bankno != null">#{bankno},</if>
			<if test="type != null">#{type},</if>
			<if test="createTime != null">#{createTime},</if>
		</trim>
	</insert>

	<update id="updateSelective" parameterType="cn.peyton.plum.mall.pojo.join.Invoice">
		update `sys_invoice`
		<set>
			<if test="name != null">`name` = #{name},</if>
			<if test="phone != null">`phone` = #{phone},</if>
			<if test="email != null">`email` = #{email},</if>
			<if test="code != null">`code` = #{code},</if>
			<if test="path != null">`path` = #{path},</if>
			<if test="bankname != null">`bankname` = #{bankname},</if>
			<if test="bankno != null">`bankno` = #{bankno},</if>
			<if test="type != null">`type` = #{type},</if>
		</set>
		where id = #{id} and `is_del` = 1
	</update>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from `sys_invoice`
		where `id` = #{id}
	</delete>

	<select id="repeat" resultType = "java.lang.Integer" parameterType="cn.peyton.plum.mall.pojo.join.Invoice">
		select
		count(`id`)
		from `sys_invoice`
		where `is_del` = 1
		and `name`=#{name}
		<if test="id != null">
			and `id` != #{id}
		</if>
	</select>

	<select id="selectByPrimaryKey" resultMap="ResultInvoiceMap"  parameterType="java.lang.Long">
		select
			<include refid="Column_sys_invoice_List"/>
		from `sys_invoice`
		where `id` = #{id}  and `is_del` = 1
	</select>

	<select id="selectByDownList" resultMap="result_invoice_down_map">
		select
		<include refid="column_invoice_down_list"/>
		from `sys_invoice`
		where `is_del` = 1
	</select>

	<select id="selectByLikeAndObj" resultMap="ResultInvoiceMap" parameterType="map">
		select
		<include refid="Column_sys_invoice_List"/>
		from `sys_invoice`
		where `is_del` = 1
		<if test="record.name != null">
			and `name` like concat('%',#{record.name},'%')
		</if>
		<if test="record.phone != null">
			and `phone` like concat('%',#{record.phone},'%')
		</if>
		<if test="record.email != null">
			and `email` like concat('%',#{record.email},'%')
		</if>
		<if test="record.code != null">
			and `code` like concat('%',#{record.code},'%')
		</if>
		<if test="record.path != null">
			and `path` like concat('%',#{record.path},'%')
		</if>
		<if test="record.bankname != null">
			and `bankname` like concat('%',#{record.bankname},'%')
		</if>
		<if test="record.bankno != null">
			and `bankno` like concat('%',#{record.bankno},'%')
		</if>
		<if test="record.type != null">
			and `type` = #{record.type}
		</if>
		<if test="page.orderColumnName != null">
			order by ${page.orderColumnName} ${page.orderMode}
		</if>
		<if test="page.orderColumnName == null">
			order by `id` ${page.orderMode}
		</if>
		<if test="page.enablePaging">
			limit #{page.offset},#{page.pageSize}
		</if>
	</select>

	<select id="selectByObj" resultMap="ResultInvoiceMap"  parameterType="map">
		select
		<include refid="Column_sys_invoice_List"/>
		from `sys_invoice`
		where `is_del` = 1
		<if test="record.name != null">
			and `name` = #{record.name}
		</if>
		<if test="record.phone != null">
			and `phone` = #{record.phone}
		</if>
		<if test="record.email != null">
			and `email` = #{record.email}
		</if>
		<if test="record.code != null">
			and `code` = #{record.code}
		</if>
		<if test="record.path != null">
			and `path` = #{record.path}
		</if>
		<if test="record.bankname != null">
			and `bankname` = #{record.bankname}
		</if>
		<if test="record.bankno != null">
			and `bankno` = #{record.bankno}
		</if>
		<if test="record.type != null">
			and `type` = #{record.type}
		</if>
		<if test="page.orderColumnName != null">
			order by ${page.orderColumnName} ${page.orderMode}
		</if>
		<if test="page.orderColumnName == null">
			order by `id` ${page.orderMode}
		</if>
		<if test="page.enablePaging">
			limit #{page.offset},#{page.pageSize}
		</if>
	</select>

	<select id="countByLike" resultType = "java.lang.Integer" parameterType="cn.peyton.plum.mall.pojo.join.Invoice">
		select
		count(`id`)
		from `sys_invoice`
		where `is_del` = 1
		<if test="name != null">
			and `name` like concat('%',#{name},'%')
		</if>
		<if test="phone != null">
			and `phone` like concat('%',#{phone},'%')
		</if>
		<if test="email != null">
			and `email` like concat('%',#{email},'%')
		</if>
		<if test="code != null">
			and `code` like concat('%',#{code},'%')
		</if>
		<if test="path != null">
			and `path` like concat('%',#{path},'%')
		</if>
		<if test="bankname != null">
			and `bankname` like concat('%',#{bankname},'%')
		</if>
		<if test="bankno != null">
			and `bankno` like concat('%',#{bankno},'%')
		</if>
		<if test="type != null">
			and `type` = #{type}
		</if>
	</select>

	<select id="count" resultType = "java.lang.Integer" parameterType="cn.peyton.plum.mall.pojo.join.Invoice">
		select
		count(`id`)
		from `sys_invoice`
		where `is_del`=1
		<if test="name != null">
			and `name` = #{name}
		</if>
		<if test="phone != null">
			and `phone` = #{phone}
		</if>
		<if test="email != null">
			and `email` = #{email}
		</if>
		<if test="code != null">
			and `code` = #{code}
		</if>
		<if test="path != null">
			and `path` = #{path}
		</if>
		<if test="bankname != null">
			and `bankname` = #{bankname}
		</if>
		<if test="bankno != null">
			and `bankno` = #{bankno}
		</if>
		<if test="type != null">
			and `type` = #{type}
		</if>
	</select>

</mapper>
