<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.peyton.plum.mall.mapper.join.ShopArrearsMapper">
	<resultMap id="ResultShopArrearsMap" type="cn.peyton.plum.mall.pojo.join.ShopArrears">
		<id column="id" property="id" jdbcType="BIGINT"/>
		<result column="oid" property="oid" jdbcType="BIGINT"/>
		<result column="rep_id" property="repId" jdbcType="BIGINT"/>
		<result column="money" property="money" jdbcType="DECIMAL"/>
		<result column="status" property="status" jdbcType="TINYINT"/>
		<result column="member_id" property="memberId" jdbcType="BIGINT"/>
		<result column="remark" property="remark" jdbcType="VARCHAR"/>
		<result column="create_time" property="createTime" jdbcType="INTEGER"/>
		<collection property="shopRepayments" column="id" javaType="list"
					select="cn.peyton.plum.mall.mapper.join.ShopRepaymentMapper.selectByArrearId" />
	</resultMap>
	<resultMap id="result_shop_arrears_simple_map" type="cn.peyton.plum.mall.pojo.join.ShopArrears">
		<id column="id" property="id" jdbcType="BIGINT"/>
		<result column="oid" property="oid" jdbcType="BIGINT"/>
		<result column="rep_id" property="repId" jdbcType="BIGINT"/>
		<result column="money" property="money" jdbcType="DECIMAL"/>
		<result column="status" property="status" jdbcType="TINYINT"/>
		<result column="member_id" property="memberId" jdbcType="BIGINT"/>
		<result column="remark" property="remark" jdbcType="VARCHAR"/>
		<result column="create_time" property="createTime" jdbcType="INTEGER"/>
		<association property="member" column="member_id" javaType="cn.peyton.plum.mall.pojo.party.Member"
					 select="cn.peyton.plum.mall.mapper.party.MemberMapper.selectJoinById"/>
		<collection property="shopRepayments" column="id" javaType="list"
					select="cn.peyton.plum.mall.mapper.join.ShopRepaymentMapper.selectByArrearId" />
	</resultMap>

	<sql id="Column_tb_shop_arrears_List">
		`id`,`oid`,`rep_id`,`money`,`status`,`member_id`,`remark`,`create_time`
	</sql>

	<insert id="insertSelective" parameterType="cn.peyton.plum.mall.pojo.join.ShopArrears" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
		insert into `tb_shop_arrears`
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="oid != null">`oid`,</if>
			<if test="repId != null">`rep_id`,</if>
			<if test="money != null">`money`,</if>
			<if test="status != null">`status`,</if>
			<if test="memberId != null">`member_id`,</if>
			<if test="remark != null">`remark`,</if>
			<if test="createTime != null">`create_time`,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="oid != null">#{oid},</if>
			<if test="repId != null">#{repId},</if>
			<if test="money != null">#{money},</if>
			<if test="status != null">#{status},</if>
			<if test="memberId != null">#{memberId},</if>
			<if test="remark != null">#{remark},</if>
			<if test="createTime != null">#{createTime},</if>
		</trim>
	</insert>

	<update id="updateSelective" parameterType="cn.peyton.plum.mall.pojo.join.ShopArrears">
		update `tb_shop_arrears`
		<set>
			<if test="oid != null">`oid` = #{oid},</if>
			<if test="repId != null">`rep_id` = #{repId},</if>
			<if test="money != null">`money` = #{money},</if>
			<if test="status != null">`status` = #{status},</if>
			<if test="memberId != null">`member_id` = #{memberId},</if>
			<if test="remark != null">`remark` = #{remark},</if>
		</set>
		where id = #{id}
	</update>

	<update id="batchUpdate" parameterType="list">
		update `tb_shop_arrears` set `rep_id` = #{repId},`status` = 1
 		where id in
		<foreach collection="ids" open="(" close=")" separator="," item="id">
			#{id}
		</foreach>
	</update>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from `tb_shop_arrears`
		where `id` = #{id}
	</delete>

	<select id="repeat" resultType = "java.lang.Integer" parameterType="cn.peyton.plum.mall.pojo.join.ShopArrears">
		select
		count(`id`)
		from `tb_shop_arrears`
		<where>
			<if test="id != null">
				and `id` = #{id}
			</if>
			<if test="oid != null">
				and `oid` = #{oid}
			</if>
			<if test="repId != null">
				and `rep_id` = #{repId}
			</if>
			<if test="money != null">
				and `money` = #{money}
			</if>
			<if test="status != null">
				and `status` = #{status}
			</if>
			<if test="memberId != null">
				and `member_id` = #{memberId}
			</if>
			<if test="remark != null">
				and `remark` = #{remark}
			</if>
			<if test="createTime != null">
				and `create_time` = #{createTime}
			</if>
		</where>
	</select>

	<select id="selectByPrimaryKey" resultMap="ResultShopArrearsMap"  parameterType="java.lang.Long">
		select
		<include refid="Column_tb_shop_arrears_List"/>
		from `tb_shop_arrears`
		where `id` = #{id}
	</select>

	<select id="selectByLikeAndObj" resultMap="ResultShopArrearsMap"  parameterType="map">
		select
		<include refid="Column_tb_shop_arrears_List"/>
		from `tb_shop_arrears`
		<where>
			<if test="record.id != null">
				and `id` like concat('%',#{record.id},'%')
			</if>
			<if test="record.oid != null">
				and `oid` like concat('%',#{record.oid},'%')
			</if>
			<if test="record.repId != null">
				and `rep_id` like concat('%',#{record.repId},'%')
			</if>
			<if test="record.money != null">
				and `money` like concat('%',#{record.money},'%')
			</if>
			<if test="record.status != null">
				and `status` like concat('%',#{record.status},'%')
			</if>
			<if test="record.memberId != null">
				and `member_id` like concat('%',#{record.memberId},'%')
			</if>
			<if test="record.remark != null">
				and `remark` like concat('%',#{record.remark},'%')
			</if>
			<if test="record.createTime != null">
				and `create_time` like concat('%',#{record.createTime},'%')
			</if>
		</where>
		<if test="page.orderColumnName != null">
			order by ${page.orderColumnName} ${page.orderMode}
		</if>
		<if test="page.orderColumnName == null">
			order by `id` ${page.orderMode}
		</if>
		<if test="page.enablePaging">
			limit #{page.offset},#{page.pageSize}
		</if>
	</select>

	<select id="selectByObj" resultMap="ResultShopArrearsMap"  parameterType="map">
		select
			<include refid="Column_tb_shop_arrears_List"/>
		from `tb_shop_arrears`
		<where>
			<if test="record.id != null">
				and `id` = #{record.id}
			</if>
			<if test="record.oid != null">
				and `oid` = #{record.oid}
			</if>
			<if test="record.repId != null">
				and `rep_id` = #{record.repId}
			</if>
			<if test="record.money != null">
				and `money` = #{record.money}
			</if>
			<if test="record.status != null">
				and `status` = #{record.status}
			</if>
			<if test="record.memberId != null">
				and `member_id` = #{record.memberId}
			</if>
			<if test="record.remark != null">
				and `remark` = #{record.remark}
			</if>
			<if test="record.createTime != null">
				and `create_time` = #{record.createTime}
			</if>
		</where>
		<if test="page.orderColumnName != null">
			order by ${page.orderColumnName} ${page.orderMode}
		</if>
		<if test="page.orderColumnName == null">
			order by `id` ${page.orderMode}
		</if>
		<if test="page.enablePaging">
			limit #{page.offset},#{page.pageSize}
		</if>
	</select>

	<select id="countByLike" resultType = "java.lang.Integer" parameterType="cn.peyton.plum.mall.pojo.join.ShopArrears">
		select
		count(`id`)
		from `tb_shop_arrears`
		<where>
			<if test="id != null">
				and `id` like concat('%',#{id},'%')
			</if>
			<if test="oid != null">
				and `oid` like concat('%',#{oid},'%')
			</if>
			<if test="repId != null">
				and `rep_id` like concat('%',#{repId},'%')
			</if>
			<if test="money != null">
				and `money` like concat('%',#{money},'%')
			</if>
			<if test="status != null">
				and `status` like concat('%',#{status},'%')
			</if>
			<if test="memberId != null">
				and `member_id` like concat('%',#{memberId},'%')
			</if>
			<if test="remark != null">
				and `remark` like concat('%',#{remark},'%')
			</if>
			<if test="createTime != null">
				and `create_time` like concat('%',#{createTime},'%')
			</if>
		</where>
	</select>

	<select id="count" resultType = "java.lang.Integer" parameterType="cn.peyton.plum.mall.pojo.join.ShopArrears">
		select
		count(`id`)
		from `tb_shop_arrears`
		<where>
			<if test="id != null">
				and `id` = #{id}
			</if>
			<if test="oid != null">
				and `oid` = #{oid}
			</if>
			<if test="repId != null">
				and `rep_id` = #{repId}
			</if>
			<if test="money != null">
				and `money` = #{money}
			</if>
			<if test="status != null">
				and `status` = #{status}
			</if>
			<if test="memberId != null">
				and `member_id` = #{memberId}
			</if>
			<if test="remark != null">
				and `remark` = #{remark}
			</if>
			<if test="createTime != null">
				and `create_time` = #{createTime}
			</if>
		</where>
	</select>

	<select id="selectByMemberId" resultMap="ResultShopArrearsMap"  parameterType="map">
		select
			<include refid="Column_tb_shop_arrears_List"/>
		from `tb_shop_arrears`
		where `member_id` = #{memberId}
		<if test="status != null">
			and `status` = #{status}
		</if>
	</select>

	<select id="selectMulti" resultMap="ResultShopArrearsMap"  parameterType="map">
		select
		<include refid="Column_tb_shop_arrears_List"/>
		from `tb_shop_arrears`
		<where>
			<if test="arrear.memberId != null">
				and `member_id` = #{arrear.memberId}
			</if>
			<if test="arrear.status != null">
				and `status` = #{arrear.status}
			</if>
			<if test="arrear.money != null">
				and `money` like concat('%',#{arrear.money},'%')
			</if>
		</where>
		<if test="page.orderColumnName != null">
			order by ${page.orderColumnName} ${page.orderMode}
		</if>
		<if test="page.orderColumnName == null">
			order by `id` ${page.orderMode}
		</if>
		<if test="page.enablePaging">
			limit #{page.offset},#{page.pageSize}
		</if>
	</select>

	<select id="countMulti" resultType = "java.lang.Integer" parameterType="cn.peyton.plum.mall.DO.ArrearDo">
		select
		count(`id`)
		from `tb_shop_arrears`
		<where>
			<if test="memberId != null">
				and `member_id` = #{memberId}
			</if>
			<if test="status != null">
				and `status` = #{status}
			</if>
			<if test="money != null">
				and `money` like concat('%',#{money},'%')
			</if>
		</where>
	</select>

	<select id="selectByJoin" resultMap="result_shop_arrears_simple_map"  parameterType="map">
		select
			<include refid="Column_tb_shop_arrears_List"/>
		from `tb_shop_arrears`
		<where>
			<if test="arrear.memberId != null">
				and `member_id` = #{arrear.memberId}
			</if>
			<if test="arrear.oid != null">
				and `oid` = #{arrear.oid}
			</if>
			<if test="arrear.status != null">
				and `status` = #{arrear.status}
			</if>
			<if test="arrear.minMoney != null">
				and `money` &gt;= #{arrear.minMoney}
			</if>
			<if test="arrear.maxMoney != null">
				and `money` &lt;= #{arrear.maxMoney}
			</if>
			<if test="arrear.startTime != null">
				and `create_time` &gt;= #{arrear.startTime}
			</if>
			<if test="arrear.endTime != null">
				and `create_time` &lt;= #{arrear.endTime}
			</if>
		</where>
		<if test="page.orderColumnName != null">
			order by ${page.orderColumnName} ${page.orderMode}
		</if>
		<if test="page.orderColumnName == null">
			order by `id` ${page.orderMode}
		</if>
		<if test="page.enablePaging">
			limit #{page.offset},#{page.pageSize}
		</if>
	</select>

	<!-- memberId,oid,status,money,create_time  -->
	<select id="countJoin" resultType = "java.lang.Integer" parameterType="cn.peyton.plum.mall.DO.ArrearDo">
		select
		count(`id`)
		from `tb_shop_arrears`
		<where>
			<if test="memberId != null">
				and `member_id` = #{memberId}
			</if>
			<if test="oid != null">
				and `oid` = #{oid}
			</if>
			<if test="status != null">
				and `status` = #{status}
			</if>
			<if test="minMoney != null">
				and `money` &gt;= #{minMoney}
			</if>
			<if test="maxMoney != null">
				and `money` &lt;= #{maxMoney}
			</if>
			<if test="startTime != null">
				and `create_time` &gt;= #{startTime}
			</if>
			<if test="endTime != null">
				and `create_time` &lt;= #{endTime}
			</if>
		</where>
	</select>
</mapper>
