<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.peyton.plum.mall.mapper.product.ShopProductRuleMapper">
	<resultMap id="ResultShopProductRuleMap" type="cn.peyton.plum.mall.pojo.product.ShopProductRule">
		<id column="id" property="id" jdbcType="INTEGER"/>
		<result column="rule_name" property="ruleName" jdbcType="VARCHAR"/>
		<result column="rule_value" property="ruleValue" jdbcType="LONGVARCHAR"/>
		<result column="hot" property="hot" jdbcType="INTEGER"/>
		<result column="status" property="status" jdbcType="TINYINT"/>
		<result column="is_del" property="isDel" jdbcType="TINYINT"/>
		<result column="create_time" property="createTime" jdbcType="INTEGER"/>
	</resultMap>

	<sql id="Column_tb_shop_product_rule_List">
		`id`,`rule_name`,`rule_value`,`hot`,`status`,`is_del`,`create_time`
	</sql>

	<insert id="insertSelective" parameterType="cn.peyton.plum.mall.pojo.product.ShopProductRule" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
		insert into `tb_shop_product_rule`
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="ruleName != null">`rule_name`,</if>
			<if test="ruleValue != null">`rule_value`,</if>
			<if test="hot != null">`hot`,</if>
			<if test="status != null">`status`,</if>
			<if test="isDel != null">`is_del`,</if>
			<if test="createTime != null">`create_time`,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="ruleName != null">#{ruleName},</if>
			<if test="ruleValue != null">#{ruleValue},</if>
			<if test="hot != null">#{hot},</if>
			<if test="status != null">#{status},</if>
			<if test="isDel != null">#{isDel},</if>
			<if test="createTime != null">#{createTime},</if>
		</trim>
	</insert>

	<update id="updateSelective" parameterType="cn.peyton.plum.mall.pojo.product.ShopProductRule">
		update `tb_shop_product_rule`
		<set>
			<if test="ruleName != null">`rule_name` = #{ruleName},</if>
			<if test="ruleValue != null">`rule_value` = #{ruleValue},</if>
			<if test="hot != null">`hot` = #{hot},</if>
			<if test="status != null">`status` = #{status},</if>
			<if test="isDel != null">`is_del` = #{isDel},</if>
			<if test="createTime != null">`create_time` = #{createTime},</if>
		</set>
		where id = #{id}
	</update>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from `tb_shop_product_rule`
		where `id` = #{id}
	</delete>

	<delete id="batchDelete" parameterType="int">
		delete from `tb_shop_product_rule`
		where `id` in
		<foreach collection="ids" open="(" close=")" separator="," item="id">
			#{id}
		</foreach>
	</delete>

	<select id="repeat" resultType = "java.lang.Integer" parameterType="cn.peyton.plum.mall.pojo.product.ShopProductRule">
		select
		count(`id`)
		from `tb_shop_product_rule`
		where is_del =1
		  and `rule_name` = #{ruleName}
		<if test="id != null">
			and `id` != #{id}
		</if>
	</select>

	<select id="selectByPrimaryKey" resultMap="ResultShopProductRuleMap"  parameterType="java.lang.Integer">
		select
		<include refid="Column_tb_shop_product_rule_List"/>
		from `tb_shop_product_rule`
		where `id` = #{id}
	</select>

	<select id="selectByLiekAndObj" resultMap="ResultShopProductRuleMap"  parameterType="map">
		select
		<include refid="Column_tb_shop_product_rule_List"/>
		from `tb_shop_product_rule`
		<where>
			<if test="record.id != null">
				and `id` like concat('%',#{record.id},'%')
			</if>
			<if test="record.ruleName != null">
				and `rule_name` like concat('%',#{record.ruleName},'%')
			</if>
			<if test="record.ruleValue != null">
				and `rule_value` like concat('%',#{record.ruleValue},'%')
			</if>
			<if test="record.createTime != null">
				and `create_time` like concat('%',#{record.createTime},'%')
			</if>
		</where>
		<if test="page.orderByColumuName != null">
			order by `${page.orderByColumuName}`  ${page.orderByMode}
		</if>
		<if test="page.orderByColumuName == null">
			order by `id` desc
		</if>
		<if test="page.enablePaging">
			limit #{page.offset},#{page.pageSize}
		</if>
	</select>

	<select id="selectByObj" resultMap="ResultShopProductRuleMap"  parameterType="map">
		select
		<include refid="Column_tb_shop_product_rule_List"/>
		from `tb_shop_product_rule`
		<where>
			<if test="record.id != null">
				and `id` = #{record.id}
			</if>
			<if test="record.ruleName != null">
				and `rule_name` = #{record.ruleName}
			</if>
			<if test="record.ruleValue != null">
				and `rule_value` = #{record.ruleValue}
			</if>
			<if test="record.status != null">
				and `status` = #{record.status}
			</if>
			<if test="record.createTime != null">
				and `create_time` = #{record.createTime}
			</if>
		</where>
		<if test="page.orderByColumuName != null">
			order by `${page.orderByColumuName}`  ${page.orderByMode}
		</if>
		<if test="page.orderByColumuName == null">
			order by `id` desc
		</if>
		<if test="page.enablePaging">
			limit #{page.offset},#{page.pageSize}
		</if>
	</select>

	<select id="countByLike" resultType = "java.lang.Integer" parameterType="cn.peyton.plum.mall.pojo.product.ShopProductRule">
		select
		count(`id`)
		from `tb_shop_product_rule`
		<where>
			<if test="id != null">
				and `id` like concat('%',#{id},'%')
			</if>
			<if test="ruleName != null">
				and `rule_name` like concat('%',#{ruleName},'%')
			</if>
			<if test="ruleValue != null">
				and `rule_value` like concat('%',#{ruleValue},'%')
			</if>
			<if test="createTime != null">
				and `create_time` like concat('%',#{createTime},'%')
			</if>
		</where>
	</select>

	<select id="count" resultType = "java.lang.Integer" parameterType="cn.peyton.plum.mall.pojo.product.ShopProductRule">
		select
		count(`id`)
		from `tb_shop_product_rule`
		<where>
			<if test="id != null">
				and `id` = #{id}
			</if>
			<if test="ruleName != null">
				and `rule_name` = #{ruleName}
			</if>
			<if test="ruleValue != null">
				and `rule_value` = #{ruleValue}
			</if>
			<if test="record.status != null">
				and `status` = #{record.status}
			</if>
			<if test="createTime != null">
				and `create_time` = #{createTime}
			</if>
		</where>
	</select>

</mapper>
