<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.peyton.plum.mall.mapper.product.ShopSkuMapper">
	<resultMap id="ResultShopSkuMap" type="cn.peyton.plum.mall.pojo.product.ShopSku">
		<id column="id" property="id" jdbcType="BIGINT"/>
		<result column="name" property="name" jdbcType="VARCHAR"/>
		<result column="sku_type" property="skuType" jdbcType="TINYINT"/>
		<result column="seq" property="seq" jdbcType="SMALLINT"/>
		<collection property="shopSkuValues" javaType="java.util.List"
					column="id" select="cn.peyton.plum.mall.mapper.product.ShopSkuValueMapper.selectByShopSkuId" />
	</resultMap>

	<sql id="Column_tb_shop_sku_List">
		`id`,`name`,`sku_type`,`seq`
	</sql>

	<insert id="insertSelective" parameterType="cn.peyton.plum.mall.pojo.product.ShopSku" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
		insert into `tb_shop_sku`
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="name != null">`name`,</if>
			<if test="skuType != null">`sku_type`,</if>
			<if test="seq != null">`seq`,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="name != null">#{name},</if>
			<if test="skuType != null">#{skuType},</if>
			<if test="seq != null">#{seq},</if>
		</trim>
	</insert>

	<update id="updateSelective" parameterType="cn.peyton.plum.mall.pojo.product.ShopSku">
		update `tb_shop_sku`
		<set>
			<if test="name != null">`name` = #{name},</if>
			<if test="skuType != null">`sku_type` = #{skuType},</if>
			<if test="seq != null">`seq` = #{seq},</if>
		</set>
		where id = #{id}
	</update>

	<update id="batchUpdate" parameterType="list">
		<foreach collection="skus" item="item" index="index" separator=";">
			update `tb_shop_sku`
			<set>
				`seq`= #{item.seq}
			</set>
			where id = #{item.id}
		</foreach>
	</update>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from `tb_shop_sku`
		where `id` = #{id}
	</delete>

	<select id="repeat" resultType = "java.lang.Integer" parameterType="cn.peyton.plum.mall.pojo.product.ShopSku">
		select
		count(`id`)
		from `tb_shop_sku`
		<where>
			<if test="id != null">
				and `id` = #{id}
			</if>
			<if test="name != null">
				and `name` = #{name}
			</if>
			<if test="skuType != null">
				and `sku_type` = #{skuType}
			</if>
			<if test="seq != null">
				and `seq` = #{seq}
			</if>
		</where>
	</select>

	<select id="selectByPrimaryKey" resultMap="ResultShopSkuMap"  parameterType="java.lang.Long">
		select
		<include refid="Column_tb_shop_sku_List"/>
		from `tb_shop_sku`
		where `id` = #{id}
	</select>

	<select id="selectByLiekAndObj" resultMap="ResultShopSkuMap"  parameterType="map">
		select
		<include refid="Column_tb_shop_sku_List"/>
		from `tb_shop_sku`
		<where>
			<if test="record.id != null">
				and `id` like concat('%',#{record.id},'%')
			</if>
			<if test="record.name != null">
				and `name` like concat('%',#{record.name},'%')
			</if>
			<if test="record.skuType != null">
				and `sku_type` like concat('%',#{record.skuType},'%')
			</if>
			<if test="record.seq != null">
				and `seq` like concat('%',#{record.seq},'%')
			</if>
		</where>
		<if test="page.orderByColumuName != null">
			order by `${page.orderByColumuName}`  ${page.orderByMode}
		</if>
		<if test="page.orderByColumuName == null">
			order by `id` desc
		</if>
		<if test="page.enablePaging">
			limit #{page.offset},#{page.pageSize}
		</if>
	</select>

	<select id="selectByProductId" resultMap="ResultShopSkuMap" parameterType="long">
		SELECT
		    ss.id,name,sku_type,seq
		FROM tb_shop_sku as ss,tb_shop_product_sku_join as spsj
		where ss.id = spsj.sku_id
		  and spsj.product_id =#{productId}
		order by seq desc
	</select>

	<select id="selectByObj" resultMap="ResultShopSkuMap"  parameterType="map">
		select
		<include refid="Column_tb_shop_sku_List"/>
		from `tb_shop_sku`
		<where>
			<if test="record.id != null">
				and `id` = #{record.id}
			</if>
			<if test="record.name != null">
				and `name` = #{record.name}
			</if>
			<if test="record.skuType != null">
				and `sku_type` = #{record.skuType}
			</if>
			<if test="record.seq != null">
				and `seq` = #{record.seq}
			</if>
		</where>
		<if test="page.orderByColumuName != null">
			order by `${page.orderByColumuName}`  ${page.orderByMode}
		</if>
		<if test="page.orderByColumuName == null">
			order by `id` desc
		</if>
		<if test="page.enablePaging">
			limit #{page.offset},#{page.pageSize}
		</if>
	</select>

	<select id="countByLike" resultType = "java.lang.Integer" parameterType="cn.peyton.plum.mall.pojo.product.ShopSku">
		select
		count(`id`)
		from `tb_shop_sku`
		<where>
			<if test="id != null">
				and `id` like concat('%',#{id},'%')
			</if>
			<if test="name != null">
				and `name` like concat('%',#{name},'%')
			</if>
			<if test="skuType != null">
				and `sku_type` like concat('%',#{skuType},'%')
			</if>
			<if test="seq != null">
				and `seq` like concat('%',#{seq},'%')
			</if>
		</where>
	</select>

	<select id="count" resultType = "java.lang.Integer" parameterType="cn.peyton.plum.mall.pojo.product.ShopSku">
		select
		count(`id`)
		from `tb_shop_sku`
		<where>
			<if test="id != null">
				and `id` = #{id}
			</if>
			<if test="name != null">
				and `name` = #{name}
			</if>
			<if test="skuType != null">
				and `sku_type` = #{skuType}
			</if>
			<if test="seq != null">
				and `seq` = #{seq}
			</if>
		</where>
	</select>

	<select id="selectByName" resultMap="ResultShopSkuMap" parameterType="string">
		SELECT
			<include refid="Column_tb_shop_sku_List" />
		FROM tb_shop_sku
		where name=#{name}
		limit 1
	</select>
</mapper>
