<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.peyton.plum.mall.mapper.product.ShopProductReplyImgMapper">
	<resultMap id="ResultShopProductReplyImgMap" type="cn.peyton.plum.mall.pojo.product.ShopProductReplyImg">
		<id column="id" property="id" jdbcType="BIGINT"/>
		<result column="product_reply_id" property="productReplyId" jdbcType="BIGINT"/>
		<result column="src" property="src" jdbcType="VARCHAR"/>
		<result column="is_show" property="isShow" jdbcType="TINYINT"/>
	</resultMap>

	<sql id="Column_tb_shop_product_reply_img_List">
		`id`,`product_reply_id`,`src`,`is_show`
	</sql>

	<insert id="insertSelective" parameterType="cn.peyton.plum.mall.pojo.product.ShopProductReplyImg" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
		insert into `tb_shop_product_reply_img`
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="productReplyId != null">`product_reply_id`,</if>
			<if test="src != null">`src`,</if>
			<if test="isShow != null">`is_show`,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="productReplyId != null">#{productReplyId},</if>
			<if test="src != null">#{src},</if>
			<if test="isShow != null">#{isShow},</if>
		</trim>
	</insert>

	<update id="updateSelective" parameterType="cn.peyton.plum.mall.pojo.product.ShopProductReplyImg">
		update `tb_shop_product_reply_img`
		<set>
			<if test="productReplyId != null">`product_reply_id` = #{productReplyId},</if>
			<if test="src != null">`src` = #{src},</if>
			<if test="isShow != null">`is_show` = #{isShow},</if>
		</set>
		where id = #{id}
	</update>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from `tb_shop_product_reply_img`
		where `id` = #{id}
	</delete>

	<select id="repeat" resultType = "java.lang.Integer" parameterType="cn.peyton.plum.mall.pojo.product.ShopProductReplyImg">
		select
		count(`id`)
		from `tb_shop_product_reply_img`
		<where>
			<if test="id != null">
				and `id` = #{id}
			</if>
			<if test="productReplyId != null">
				and `product_reply_id` = #{productReplyId}
			</if>
			<if test="src != null">
				and `src` = #{src}
			</if>
			<if test="isShow != null">
				and `is_show` = #{isShow}
			</if>
		</where>
	</select>

	<select id="selectByPrimaryKey" resultMap="ResultShopProductReplyImgMap"  parameterType="java.lang.Long">
		select
		<include refid="Column_tb_shop_product_reply_img_List"/>
		from `tb_shop_product_reply_img`
		where `id` = #{id}
	</select>

	<select id="selectByReplyId" resultMap="ResultShopProductReplyImgMap"  parameterType="long">
		select
		<include refid="Column_tb_shop_product_reply_img_List"/>
		from `tb_shop_product_reply_img`
		where `product_reply_id` = #{replyId} and `is_show`=1
	</select>

	<select id="selectByLikeAndObj" resultMap="ResultShopProductReplyImgMap" parameterType="map">
		select
		<include refid="Column_tb_shop_product_reply_img_List"/>
		from `tb_shop_product_reply_img`
		<where>
			<if test="record.id != null">
				and `id` like concat('%',#{record.id},'%')
			</if>
			<if test="record.productReplyId != null">
				and `product_reply_id` like concat('%',#{record.productReplyId},'%')
			</if>
			<if test="record.src != null">
				and `src` like concat('%',#{record.src},'%')
			</if>
			<if test="record.isShow != null">
				and `is_show` like concat('%',#{record.isShow},'%')
			</if>
		</where>
		<if test="page.orderColumnName != null">
			order by ${page.orderColumnName} ${page.orderMode}
		</if>
		<if test="page.orderColumnName == null">
			order by `id` ${page.orderMode}
		</if>
		<if test="page.enablePaging">
			limit #{page.offset},#{page.pageSize}
		</if>
	</select>

	<select id="selectByObj" resultMap="ResultShopProductReplyImgMap"  parameterType="map">
		select
		<include refid="Column_tb_shop_product_reply_img_List"/>
		from `tb_shop_product_reply_img`
		<where>
			<if test="record.id != null">
				and `id` = #{record.id}
			</if>
			<if test="record.productReplyId != null">
				and `product_reply_id` = #{record.productReplyId}
			</if>
			<if test="record.src != null">
				and `src` = #{record.src}
			</if>
			<if test="record.isShow != null">
				and `is_show` = #{record.isShow}
			</if>
		</where>
		<if test="page.orderColumnName != null">
			order by ${page.orderColumnName} ${page.orderMode}
		</if>
		<if test="page.orderColumnName == null">
			order by `id` ${page.orderMode}
		</if>
		<if test="page.enablePaging">
			limit #{page.offset},#{page.pageSize}
		</if>
	</select>

	<select id="countByLike" resultType = "java.lang.Integer" parameterType="cn.peyton.plum.mall.pojo.product.ShopProductReplyImg">
		select
		count(`id`)
		from `tb_shop_product_reply_img`
		<where>
			<if test="id != null">
				and `id` like concat('%',#{id},'%')
			</if>
			<if test="productReplyId != null">
				and `product_reply_id` like concat('%',#{productReplyId},'%')
			</if>
			<if test="src != null">
				and `src` like concat('%',#{src},'%')
			</if>
			<if test="isShow != null">
				and `is_show` like concat('%',#{isShow},'%')
			</if>
		</where>
	</select>

	<select id="count" resultType = "java.lang.Integer" parameterType="cn.peyton.plum.mall.pojo.product.ShopProductReplyImg">
		select
		count(`id`)
		from `tb_shop_product_reply_img`
		<where>
			<if test="id != null">
				and `id` = #{id}
			</if>
			<if test="productReplyId != null">
				and `product_reply_id` = #{productReplyId}
			</if>
			<if test="src != null">
				and `src` = #{src}
			</if>
			<if test="isShow != null">
				and `is_show` = #{isShow}
			</if>
		</where>
	</select>

</mapper>
