<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.peyton.plum.mall.mapper.product.ShopCategoryRecommendMapper">
	<resultMap id="ResultShopCategoryRecommendMap" type="cn.peyton.plum.mall.pojo.product.ShopCategoryRecommend">
		<id column="id" property="id" jdbcType="BIGINT"/>
		<result column="product_id" property="productId" jdbcType="BIGINT"/>
		<result column="category_id" property="categoryId" jdbcType="INTEGER"/>
		<result column="seq" property="seq" jdbcType="SMALLINT"/>
		<result column="create_time" property="createTime" jdbcType="INTEGER"/>
		<collection property="products" ofType="cn.peyton.plum.mall.pojo.product.ShopProduct"
					column="product_id" select="cn.peyton.plum.mall.mapper.product.ShopProductMapper.selectByIdAndJoin"/>
	</resultMap>

	<sql id="Column_tb_shop_category_recommend_List">
		`id`,`product_id`,`category_id`,`seq`,`create_time`
	</sql>

	<insert id="insertSelective" parameterType="cn.peyton.plum.mall.pojo.product.ShopCategoryRecommend" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
		insert into `tb_shop_category_recommend`
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="productId != null">`product_id`,</if>
			<if test="categoryId != null">`category_id`,</if>
			<if test="seq != null">`seq`,</if>
			<if test="createTime != null">`create_time`,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="productId != null">#{productId},</if>
			<if test="categoryId != null">#{categoryId},</if>
			<if test="seq != null">#{seq},</if>
			<if test="createTime != null">#{createTime},</if>
		</trim>
	</insert>

	<insert id="batchInsert" parameterType="list" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
		insert into `tb_shop_category_recommend`
		(`product_id`,`category_id`,`seq`,`create_time`)
		values
		<foreach collection="list" item="item" separator=",">
			(#{item.productId},#{item.categoryId},#{item.seq},#{item.createTime})
		</foreach>
	</insert>

	<update id="updateSelective" parameterType="cn.peyton.plum.mall.pojo.product.ShopCategoryRecommend">
		update `tb_shop_category_recommend`
		<set>
			<if test="productId != null">`product_id` = #{productId},</if>
			<if test="categoryId != null">`category_id` = #{categoryId},</if>
			<if test="seq != null">`seq` = #{seq},</if>
			<if test="createTime != null">`create_time` = #{createTime},</if>
		</set>
		where id = #{id}
	</update>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from `tb_shop_category_recommend`
		where `id` = #{id}
	</delete>

	<delete id="deleteByJoinId" parameterType="map">
		delete from `tb_shop_category_recommend`
		where category_id = #{categoryId}
		<if test="productId != null">
			and product_id = #{productId}
		</if>
	</delete>

	<select id="repeat" resultType = "java.lang.Integer" parameterType="cn.peyton.plum.mall.pojo.product.ShopCategoryRecommend">
		select
		count(`id`)
		from `tb_shop_category_recommend`
		<where>
			<if test="id != null">
				and `id` = #{id}
			</if>
			<if test="productId != null">
				and `product_id` = #{productId}
			</if>
			<if test="categoryId != null">
				and `category_id` = #{categoryId}
			</if>
			<if test="seq != null">
				and `seq` = #{seq}
			</if>
			<if test="createTime != null">
				and `create_time` = #{createTime}
			</if>
		</where>
	</select>

	<select id="selectByPrimaryKey" resultMap="ResultShopCategoryRecommendMap"  parameterType="java.lang.Long">
		select
		<include refid="Column_tb_shop_category_recommend_List"/>
		from `tb_shop_category_recommend`
		where `id` = #{id}
	</select>

	<select id="selectByCategoryId" resultMap="ResultShopCategoryRecommendMap"  parameterType="int">
		select
		<include refid="Column_tb_shop_category_recommend_List"/>
		from `tb_shop_category_recommend`
		where `category_id` = #{categoryId}
		limit 1
	</select>

	<select id="selectByLikeAndObj" resultMap="ResultShopCategoryRecommendMap" parameterType="map">
		select
		<include refid="Column_tb_shop_category_recommend_List"/>
		from `tb_shop_category_recommend`
		<where>
			<if test="record.id != null">
				and `id` like concat('%',#{record.id},'%')
			</if>
			<if test="record.productId != null">
				and `product_id` like concat('%',#{record.productId},'%')
			</if>
			<if test="record.categoryId != null">
				and `category_id` like concat('%',#{record.categoryId},'%')
			</if>
			<if test="record.seq != null">
				and `seq` like concat('%',#{record.seq},'%')
			</if>
			<if test="record.createTime != null">
				and `create_time` like concat('%',#{record.createTime},'%')
			</if>
		</where>
		<if test="page.orderColumnName != null">
			order by ${page.orderColumnName} ${page.orderMode}
		</if>
		<if test="page.orderColumnName == null">
			order by `id` ${page.orderMode}
		</if>
		<if test="page.enablePaging">
			limit #{page.offset},#{page.pageSize}
		</if>
	</select>

	<select id="selectByObj" resultMap="ResultShopCategoryRecommendMap"  parameterType="map">
		select
		<include refid="Column_tb_shop_category_recommend_List"/>
		from `tb_shop_category_recommend`
		<where>
			<if test="record.id != null">
				and `id` = #{record.id}
			</if>
			<if test="record.productId != null">
				and `product_id` = #{record.productId}
			</if>
			<if test="record.categoryId != null">
				and `category_id` = #{record.categoryId}
			</if>
			<if test="record.seq != null">
				and `seq` = #{record.seq}
			</if>
			<if test="record.createTime != null">
				and `create_time` = #{record.createTime}
			</if>
		</where>
		<if test="page.orderColumnName != null">
			order by ${page.orderColumnName} ${page.orderMode}
		</if>
		<if test="page.orderColumnName == null">
			order by `id` ${page.orderMode}
		</if>
		<if test="page.enablePaging">
			limit #{page.offset},#{page.pageSize}
		</if>
	</select>

	<select id="countByLike" resultType = "java.lang.Integer" parameterType="cn.peyton.plum.mall.pojo.product.ShopCategoryRecommend">
		select
		count(`id`)
		from `tb_shop_category_recommend`
		<where>
			<if test="id != null">
				and `id` like concat('%',#{id},'%')
			</if>
			<if test="productId != null">
				and `product_id` like concat('%',#{productId},'%')
			</if>
			<if test="categoryId != null">
				and `category_id` like concat('%',#{categoryId},'%')
			</if>
			<if test="seq != null">
				and `seq` like concat('%',#{seq},'%')
			</if>
			<if test="createTime != null">
				and `create_time` like concat('%',#{createTime},'%')
			</if>
		</where>
	</select>

	<select id="count" resultType = "java.lang.Integer" parameterType="cn.peyton.plum.mall.pojo.product.ShopCategoryRecommend">
		select
		count(`id`)
		from `tb_shop_category_recommend`
		<where>
			<if test="id != null">
				and `id` = #{id}
			</if>
			<if test="productId != null">
				and `product_id` = #{productId}
			</if>
			<if test="categoryId != null">
				and `category_id` = #{categoryId}
			</if>
			<if test="seq != null">
				and `seq` = #{seq}
			</if>
			<if test="createTime != null">
				and `create_time` = #{createTime}
			</if>
		</where>
	</select>

</mapper>
