<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.peyton.plum.mall.mapper.product.ShopCartMapper">
	<resultMap id="ResultShopCartMap" type="cn.peyton.plum.mall.pojo.product.ShopCart">
		<id column="id" property="id" jdbcType="BIGINT"/>
		<result column="share_id" property="shareId" jdbcType="BIGINT"/>
		<result column="share_type" property="shareType" jdbcType="TINYINT"/>
		<result column="num" property="num" jdbcType="INTEGER"/>
		<result column="is_pay" property="isPay" jdbcType="TINYINT"/>
		<result column="pink_id" property="pinkId" jdbcType="BIGINT"/>
		<result column="seckill_id" property="seckillId" jdbcType="BIGINT"/>
		<result column="bargain_id" property="bargainId" jdbcType="BIGINT"/>
		<result column="expand" property="expand" jdbcType="LONGVARCHAR"/>
		<result column="create_time" property="createTime" jdbcType="INTEGER"/>
		<result column="update_time" property="updateTime" jdbcType="INTEGER"/>
	</resultMap>

	<sql id="Column_tb_shop_cart_List">
		`id`,`share_id`,`share_type`,`num`,`is_pay`,`pink_id`,`seckill_id`,`bargain_id`,`expand`,`create_time`,`update_time`
	</sql>

	<insert id="insertSelective" parameterType="cn.peyton.plum.mall.pojo.product.ShopCart" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
		insert into `tb_shop_cart`
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="shareId != null">`share_id`,</if>
			<if test="shareType != null">`share_type`,</if>
			<if test="num != null">`num`,</if>
			<if test="isPay != null">`is_pay`,</if>
			<if test="pinkId != null">`pink_id`,</if>
			<if test="seckillId != null">`seckill_id`,</if>
			<if test="bargainId != null">`bargain_id`,</if>
			<if test="expand != null">`expand`,</if>
			<if test="createTime != null">`create_time`,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="shareId != null">#{shareId},</if>
			<if test="shareType != null">#{shareType},</if>
			<if test="num != null">#{num},</if>
			<if test="isPay != null">#{isPay},</if>
			<if test="pinkId != null">#{pinkId},</if>
			<if test="seckillId != null">#{seckillId},</if>
			<if test="bargainId != null">#{bargainId},</if>
			<if test="expand != null">#{expand},</if>
			<if test="createTime != null">#{createTime},</if>
		</trim>
	</insert>

	<update id="updateSelective" parameterType="cn.peyton.plum.mall.pojo.product.ShopCart">
		update `tb_shop_cart`
		<set>
			<if test="num != null">`num` = #{num},</if>
			<if test="isPay != null">`is_pay` = #{isPay},</if>
			<if test="pinkId != null">`pink_id` = #{pinkId},</if>
			<if test="seckillId != null">`seckill_id` = #{seckillId},</if>
			<if test="bargainId != null">`bargain_id` = #{bargainId},</if>
			<if test="expand != null">`expand` = #{expand},</if>
			<if test="updateTime != null">`update_time` = #{updateTime},</if>
		</set>
		where id = #{id} and `share_id` = #{shareId} and `share_type` = #{shareType} and `is_del` = 1
	</update>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from `tb_shop_cart`
		where `id` = #{id}
	</delete>

	<select id="repeat" resultType = "java.lang.Integer" parameterType="cn.peyton.plum.mall.pojo.product.ShopCart">
		select
		count(`id`)
		from `tb_shop_cart`
		<where>
			<if test="id != null">
				and `id` = #{id}
			</if>
			<if test="shareId != null">
				and `share_id` = #{shareId}
			</if>
			<if test="shareType != null">
				and `share_type` = #{shareType}
			</if>
			<if test="num != null">
				and `num` = #{num}
			</if>
			<if test="isPay != null">
				and `is_pay` = #{isPay}
			</if>
			<if test="isDel != null">
				and `is_del` = #{isDel}
			</if>
			<if test="pinkId != null">
				and `pink_id` = #{pinkId}
			</if>
			<if test="seckillId != null">
				and `seckill_id` = #{seckillId}
			</if>
			<if test="bargainId != null">
				and `bargain_id` = #{bargainId}
			</if>
			<if test="createTime != null">
				and `create_time` = #{createTime}
			</if>
			<if test="updateTime != null">
				and `update_time` = #{updateTime}
			</if>
		</where>
	</select>

	<select id="selectByPrimaryKey" resultMap="ResultShopCartMap"  parameterType="java.lang.Long">
		select
		<include refid="Column_tb_shop_cart_List"/>
		from `tb_shop_cart`
		where `id` = #{id} and `is_del` =1 and `is_pay` = 0
	</select>

	<select id="selectByShareId" resultMap="ResultShopCartMap" parameterType="map">
		select
			<include refid="Column_tb_shop_cart_List"/>
		from `tb_shop_cart`
		where `is_del` = 1 and `is_pay` = 0
		and `share_id` = #{shareId}
		and `share_type` = #{shareType}
		order by `id` desc
		limit 1
	</select>

	<select id="selectByLikeAndObj" resultMap="ResultShopCartMap" parameterType="map">
		select
		<include refid="Column_tb_shop_cart_List"/>
		from `tb_shop_cart`
		<where>
			<if test="record.id != null">
				and `id` = #{record.id}
			</if>
			<if test="record.shareId != null">
				and `share_id` = #{record.shareId}
			</if>
			<if test="record.shareType != null">
				and `share_type` = #{record.shareType}
			</if>
			<if test="record.isPay != null">
				and `is_pay` = #{record.isPay}
			</if>
		</where>
		<if test="page.orderColumnName != null">
			order by ${page.orderColumnName} ${page.orderMode}
		</if>
		<if test="page.orderColumnName == null">
			order by `id` ${page.orderMode}
		</if>
		<if test="page.enablePaging">
			limit #{page.offset},#{page.pageSize}
		</if>
	</select>

	<select id="selectByObj" resultMap="ResultShopCartMap"  parameterType="map">
		select
		<include refid="Column_tb_shop_cart_List"/>
		from `tb_shop_cart`
		<where>
			<if test="record.id != null">
				and `id` = #{record.id}
			</if>
			<if test="record.shareId != null">
				and `share_id` = #{record.shareId}
			</if>
			<if test="record.shareType != null">
				and `share_type` = #{record.shareType}
			</if>
			<if test="record.num != null">
				and `num` = #{record.num}
			</if>
			<if test="record.isPay != null">
				and `is_pay` = #{record.isPay}
			</if>
			<if test="record.pinkId != null">
				and `pink_id` = #{record.pinkId}
			</if>
			<if test="record.seckillId != null">
				and `seckill_id` = #{record.seckillId}
			</if>
			<if test="record.bargainId != null">
				and `bargain_id` = #{record.bargainId}
			</if>
			<if test="record.createTime != null">
				and `create_time` = #{record.createTime}
			</if>
			<if test="record.updateTime != null">
				and `update_time` = #{record.updateTime}
			</if>
		</where>
		<if test="page.orderColumnName != null">
			order by ${page.orderColumnName} ${page.orderMode}
		</if>
		<if test="page.orderColumnName == null">
			order by `id` ${page.orderMode}
		</if>
		<if test="page.enablePaging">
			limit #{page.offset},#{page.pageSize}
		</if>
	</select>

	<select id="countByLike" resultType = "java.lang.Integer" parameterType="cn.peyton.plum.mall.pojo.product.ShopCart">
		select
		count(`id`)
		from `tb_shop_cart`
		<where>
			<if test="id != null">
				and `id` like concat('%',#{id},'%')
			</if>
			<if test="shareId != null">
				and `share_id` like concat('%',#{shareId},'%')
			</if>
			<if test="shareType != null">
				and `share_type` like concat('%',#{shareType},'%')
			</if>
			<if test="isPay != null">
				and `is_pay` like concat('%',#{isPay},'%')
			</if>
		</where>
	</select>

	<select id="count" resultType = "java.lang.Integer" parameterType="cn.peyton.plum.mall.pojo.product.ShopCart">
		select
		count(`id`)
		from `tb_shop_cart`
		<where>
			<if test="id != null">
				and `id` = #{id}
			</if>
			<if test="shareId != null">
				and `share_id` = #{shareId}
			</if>
			<if test="shareType != null">
				and `share_type` = #{shareType}
			</if>
			<if test="num != null">
				and `num` = #{num}
			</if>
			<if test="isPay != null">
				and `is_pay` = #{isPay}
			</if>
			<if test="isDel != null">
				and `is_del` = #{isDel}
			</if>
			<if test="pinkId != null">
				and `pink_id` = #{pinkId}
			</if>
			<if test="seckillId != null">
				and `seckill_id` = #{seckillId}
			</if>
			<if test="bargainId != null">
				and `bargain_id` = #{bargainId}
			</if>
			<if test="createTime != null">
				and `create_time` = #{createTime}
			</if>
			<if test="updateTime != null">
				and `update_time` = #{updateTime}
			</if>
		</where>
	</select>

</mapper>
