<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.peyton.plum.mall.mapper.product.ShopCouponMapper">
	<resultMap id="ResultShopCouponMap" type="cn.peyton.plum.mall.pojo.product.ShopCoupon">
		<id column="id" property="id" jdbcType="BIGINT"/>
		<result column="name" property="name" jdbcType="VARCHAR"/>
		<result column="type" property="type" jdbcType="TINYINT"/>
		<result column="value" property="value" jdbcType="DECIMAL"/>
		<result column="remark" property="remark" jdbcType="VARCHAR"/>
		<result column="total" property="total" jdbcType="INTEGER"/>
		<result column="used" property="used" jdbcType="INTEGER"/>
		<result column="min_price" property="minPrice" jdbcType="DECIMAL"/>
		<result column="max_price" property="maxPrice" jdbcType="DECIMAL"/>
		<result column="start_time" property="startTime" jdbcType="INTEGER"/>
		<result column="end_time" property="endTime" jdbcType="INTEGER"/>
		<result column="status" property="status" jdbcType="TINYINT"/>
		<result column="seq" property="seq" jdbcType="SMALLINT"/>
		<result column="create_time" property="createTime" jdbcType="INTEGER"/>
	</resultMap>

	<sql id="Column_tb_shop_coupon_List">
		`id`,`name`,`type`,`value`,`remark`,`total`,`used`,`min_price`,`max_price`,`start_time`,`end_time`,`status`,`seq`,`create_time`
	</sql>

	<resultMap id="result_coupon_fk_map" type="cn.peyton.plum.mall.pojo.product.ShopCoupon">
		<id column="id" property="id" jdbcType="BIGINT"/>
		<result column="name" property="name" jdbcType="VARCHAR"/>
		<result column="type" property="type" jdbcType="TINYINT"/>
		<result column="value" property="value" jdbcType="DECIMAL"/>
		<result column="total" property="total" jdbcType="INTEGER"/>
		<result column="used" property="used" jdbcType="INTEGER"/>
		<result column="min_price" property="minPrice" jdbcType="DECIMAL"/>
		<result column="max_price" property="maxPrice" jdbcType="DECIMAL"/>
		<result column="start_time" property="startTime" jdbcType="INTEGER"/>
		<result column="end_time" property="endTime" jdbcType="INTEGER"/>
		<result column="status" property="status" jdbcType="TINYINT"/>
	</resultMap>

	<sql id="column_coupon_fk_list">
		`id`,`name`,`type`,`value`,`total`,`used`,`min_price`,`max_price`,`start_time`,`end_time`,`status`
	</sql>

	<insert id="insertSelective" parameterType="cn.peyton.plum.mall.pojo.product.ShopCoupon" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
		insert into `tb_shop_coupon`
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="name != null">`name`,</if>
			<if test="type != null">`type`,</if>
			<if test="value != null">`value`,</if>
			<if test="remark != null">`remark`,</if>
			<if test="total != null">`total`,</if>
			<if test="used != null">`used`,</if>
			<if test="minPrice != null">`min_price`,</if>
			<if test="maxPrice != null">`max_price`,</if>
			<if test="startTime != null">`start_time`,</if>
			<if test="endTime != null">`end_time`,</if>
			<if test="status != null">`status`,</if>
			<if test="seq != null">`seq`,</if>
			<if test="createTime != null">`create_time`,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="name != null">#{name},</if>
			<if test="type != null">#{type},</if>
			<if test="value != null">#{value},</if>
			<if test="remark != null">#{remark},</if>
			<if test="total != null">#{total},</if>
			<if test="used != null">#{used},</if>
			<if test="minPrice != null">#{minPrice},</if>
			<if test="maxPrice != null">#{maxPrice},</if>
			<if test="startTime != null">#{startTime},</if>
			<if test="endTime != null">#{endTime},</if>
			<if test="status != null">#{status},</if>
			<if test="seq != null">#{seq},</if>
			<if test="createTime != null">#{createTime},</if>
		</trim>
	</insert>

	<update id="updateSelective" parameterType="cn.peyton.plum.mall.pojo.product.ShopCoupon">
		update `tb_shop_coupon`
		<set>
			<if test="name != null">`name` = #{name},</if>
			<if test="type != null">`type` = #{type},</if>
			<if test="value != null">`value` = #{value},</if>
			<if test="remark != null">`remark` = #{remark},</if>
			<if test="total != null">`total` = #{total},</if>
			<if test="used != null">`used` = #{used},</if>
			<if test="minPrice != null">`min_price` = #{minPrice},</if>
			<if test="maxPrice != null">`max_price` = #{maxPrice},</if>
			<if test="startTime != null">`start_time` = #{startTime},</if>
			<if test="endTime != null">`end_time` = #{endTime},</if>
			<if test="status != null">`status` = #{status},</if>
			<if test="seq != null">`seq` = #{seq},</if>
		</set>
		where id = #{id} and `seq` != 4
	</update>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from `tb_shop_coupon`
		where `id` = #{id}
	</delete>

	<select id="repeat" resultType = "java.lang.Integer" parameterType="cn.peyton.plum.mall.pojo.product.ShopCoupon">
		select
		count(`id`)
		from `tb_shop_coupon`
		where `name` = #{name} and `status` != 4
		<if test="id != null">
			and `id` != #{id}
		</if>
	</select>

	<select id="selectByPrimaryKey" resultMap="ResultShopCouponMap"  parameterType="java.lang.Long">
		select
		<include refid="Column_tb_shop_coupon_List"/>
		from `tb_shop_coupon`
		where `id` = #{id} `status` != 4
	</select>

	<select id="isUseableAndGet" resultType="int"  parameterType="map">
		select
			count(id)
		from `tb_shop_coupon`
		where `id` = #{id} and (`status` &lt; 3)
		<if test="useable">
			and (`start_time` &lt; #{currentTime})
		  	<if test="null != price">
				and #{price} &gt; min_price
			</if>
		</if>
		and (`end_time` &gt; #{currentTime})
	</select>

	<select id="selectByFKId" resultMap="result_coupon_fk_map"  parameterType="java.lang.Long">
		select
		<include refid="column_coupon_fk_list"/>
		from `tb_shop_coupon`
		where `id` = #{id} and `status` != 4
	</select>

	<select id="selectByUsable" resultMap="result_coupon_fk_map" parameterType="map">
		select
			<include refid="Column_tb_shop_coupon_List"/>
		from `tb_shop_coupon`
		where (status &lt; 3) and (total - used) > 0
		  and end_time &gt;= #{currentTime}
	</select>

	<select id="selectByLikeAndObj" resultMap="ResultShopCouponMap" parameterType="map">
		select
			<include refid="Column_tb_shop_coupon_List"/>
		from `tb_shop_coupon`
		where `status` != 4
		<if test="record.name != null">
			and `name` like concat('%',#{record.name},'%')
		</if>
		<if test="record.type != null">
			and `type` = #{record.type}
		</if>
		<if test="record.used != null">
			and `used` = #{record.used}
		</if>
		<if test="record.status != null">
			and `status` = #{record.status}
		</if>
		<if test="page.orderColumnName != null">
			order by ${page.orderColumnName} ${page.orderMode}
		</if>
		<if test="page.orderColumnName == null">
			order by `id` ${page.orderMode}
		</if>
		<if test="page.enablePaging">
			limit #{page.offset},#{page.pageSize}
		</if>
	</select>

	<select id="selectByObj" resultMap="ResultShopCouponMap"  parameterType="map">
		select
		<include refid="Column_tb_shop_coupon_List"/>
		from `tb_shop_coupon`
		<where>
			<if test="record.name != null">
				and `name` = #{record.name}
			</if>
			<if test="record.type != null">
				and `type` = #{record.type}
			</if>
			<if test="record.value != null">
				and `value` = #{record.value}
			</if>
			<if test="record.remark != null">
				and `remark` = #{record.remark}
			</if>
			<if test="record.total != null">
				and `total` = #{record.total}
			</if>
			<if test="record.used != null">
				and `used` = #{record.used}
			</if>
			<if test="record.minPrice != null">
				and `min_price` = #{record.minPrice}
			</if>
			<if test="record.maxPrice != null">
				and `max_price` = #{record.maxPrice}
			</if>
			<if test="record.startTime != null">
				and `start_time` = #{record.startTime}
			</if>
			<if test="record.endTime != null">
				and `end_time` = #{record.endTime}
			</if>
			<if test="record.status != null">
				and `status` = #{record.status}
			</if>
			<if test="record.createTime != null">
				and `create_time` = #{record.createTime}
			</if>
		</where>
		<if test="page.orderColumnName != null">
			order by ${page.orderColumnName} ${page.orderMode}
		</if>
		<if test="page.orderColumnName == null">
			order by `id` ${page.orderMode}
		</if>
		<if test="page.enablePaging">
			limit #{page.offset},#{page.pageSize}
		</if>
	</select>

	<select id="countByLike" resultType = "java.lang.Integer" parameterType="cn.peyton.plum.mall.pojo.product.ShopCoupon">
		select
			count(`id`)
		from `tb_shop_coupon`
		where `status` != 4
		<if test="name != null">
			and `name` like concat('%',#{name},'%')
		</if>
		<if test="type != null">
			and `type` = #{type}
		</if>
		<if test="used != null">
			and `used` = #{used}
		</if>
		<if test="status != null">
			and `status` = #{status}
		</if>
	</select>

	<select id="count" resultType = "java.lang.Integer" parameterType="cn.peyton.plum.mall.pojo.product.ShopCoupon">
		select
		count(`id`)
		from `tb_shop_coupon`
		<where>
			<if test="name != null">
				and `name` = #{name}
			</if>
			<if test="type != null">
				and `type` = #{type}
			</if>
			<if test="value != null">
				and `value` = #{value}
			</if>
			<if test="remark != null">
				and `remark` = #{remark}
			</if>
			<if test="total != null">
				and `total` = #{total}
			</if>
			<if test="used != null">
				and `used` = #{used}
			</if>
			<if test="minPrice != null">
				and `min_price` = #{minPrice}
			</if>
			<if test="maxPrice != null">
				and `max_price` = #{maxPrice}
			</if>
			<if test="startTime != null">
				and `start_time` = #{startTime}
			</if>
			<if test="endTime != null">
				and `end_time` = #{endTime}
			</if>
			<if test="status != null">
				and `status` = #{status}
			</if>
			<if test="createTime != null">
				and `create_time` = #{createTime}
			</if>
		</where>
	</select>

</mapper>
