<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.peyton.plum.mall.mapper.product.ShopSkuValueMapper">
	<resultMap id="ResultShopSkuValueMap" type="cn.peyton.plum.mall.pojo.product.ShopSkuValue">
		<id column="id" property="id" jdbcType="BIGINT"/>
		<result column="sku_id" property="skuId" jdbcType="BIGINT"/>
		<result column="sku_value" property="skuValue" jdbcType="VARCHAR"/>
		<result column="seq" property="seq" jdbcType="SMALLINT"/>
	</resultMap>

	<sql id="Column_tb_shop_sku_value_List">
		`id`,`sku_id`,`sku_value`,`seq`
	</sql>

	<insert id="insertSelective" parameterType="cn.peyton.plum.mall.pojo.product.ShopSkuValue" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
		insert into `tb_shop_sku_value`
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="skuId != null">`sku_id`,</if>
			<if test="skuValue != null">`sku_value`,</if>
			<if test="seq != null">`seq`,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="skuId != null">#{skuId},</if>
			<if test="skuValue != null">#{skuValue},</if>
			<if test="seq != null">#{seq},</if>
		</trim>
	</insert>

	<insert id="batchInsert" parameterType="list" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
		insert into `tb_shop_sku_value`
		    (`sku_id`,`sku_value`)
		values
		<foreach collection="list" item="item" separator=",">
			(#{item.skuId},#{item.skuValue})
		</foreach>
	</insert>

	<update id="updateSelective" parameterType="cn.peyton.plum.mall.pojo.product.ShopSkuValue">
		update `tb_shop_sku_value`
		<set>
			<if test="skuId != null">`sku_id` = #{skuId},</if>
			<if test="skuValue != null">`sku_value` = #{skuValue},</if>
			<if test="seq != null">`seq` = #{seq},</if>
		</set>
		where id = #{id}
	</update>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from `tb_shop_sku_value`
		where `id` = #{id}
	</delete>

	<select id="repeat" resultType = "java.lang.Integer" parameterType="cn.peyton.plum.mall.pojo.product.ShopSkuValue">
		select
		count(`id`)
		from `tb_shop_sku_value`
		<where>
			<if test="skuId != null">
				and `sku_id` = #{skuId}
			</if>
			<if test="skuValue != null">
				and `sku_value` = #{skuValue}
			</if>
			<if test="id != null">
				and `id` != #{id}
			</if>
		</where>
	</select>

	<select id="selectByPrimaryKey" resultMap="ResultShopSkuValueMap"  parameterType="java.lang.Long">
		select
		<include refid="Column_tb_shop_sku_value_List"/>
		from `tb_shop_sku_value`
		where `id` = #{id}
	</select>

	<select id="selectBySkuIdAndValue" resultMap="ResultShopSkuValueMap"  parameterType="map">
		select
		<include refid="Column_tb_shop_sku_value_List"/>
		from `tb_shop_sku_value`
		where `sku_id` = #{skuId} and `sku_value` = #{skuValue}
	</select>

	<select id="selectByShopSkuId" resultMap="ResultShopSkuValueMap"  parameterType="long">
		select
		<include refid="Column_tb_shop_sku_value_List"/>
		from tb_shop_sku_value
		where `sku_id` = #{skuId}
	</select>

	<select id="isShopSku" resultType="int"  parameterType="long">
		SELECT count(id) FROM tb_shop_sku_value WHERE sku_id = #{skuId}
	</select>

	<select id="selectByLikeAndObj" resultMap="ResultShopSkuValueMap" parameterType="map">
		select
		<include refid="Column_tb_shop_sku_value_List"/>
		from `tb_shop_sku_value`
		<where>
			<if test="record.id != null">
				and `id` like concat('%',#{record.id},'%')
			</if>
			<if test="record.skuId != null">
				and `sku_id` like concat('%',#{record.skuId},'%')
			</if>
			<if test="record.skuValue != null">
				and `sku_value` like concat('%',#{record.skuValue},'%')
			</if>
			<if test="record.seq != null">
				and `seq` like concat('%',#{record.seq},'%')
			</if>
		</where>
		<if test="page.orderColumnName != null">
			order by ${page.orderColumnName} ${page.orderMode}
		</if>
		<if test="page.orderColumnName == null">
			order by `id` ${page.orderMode}
		</if>
		<if test="page.enablePaging">
			limit #{page.offset},#{page.pageSize}
		</if>
	</select>

	<select id="selectByObj" resultMap="ResultShopSkuValueMap"  parameterType="map">
		select
		<include refid="Column_tb_shop_sku_value_List"/>
		from `tb_shop_sku_value`
		<where>
			<if test="record.id != null">
				and `id` = #{record.id}
			</if>
			<if test="record.skuId != null">
				and `sku_id` = #{record.skuId}
			</if>
			<if test="record.skuValue != null">
				and `sku_value` = #{record.skuValue}
			</if>
			<if test="record.seq != null">
				and `seq` = #{record.seq}
			</if>
		</where>
		<if test="page.orderColumnName != null">
			order by ${page.orderColumnName} ${page.orderMode}
		</if>
		<if test="page.orderColumnName == null">
			order by `id` ${page.orderMode}
		</if>
		<if test="page.enablePaging">
			limit #{page.offset},#{page.pageSize}
		</if>
	</select>

	<select id="countByLike" resultType = "java.lang.Integer" parameterType="cn.peyton.plum.mall.pojo.product.ShopSkuValue">
		select
		count(`id`)
		from `tb_shop_sku_value`
		<where>
			<if test="id != null">
				and `id` like concat('%',#{id},'%')
			</if>
			<if test="skuId != null">
				and `sku_id` like concat('%',#{skuId},'%')
			</if>
			<if test="skuValue != null">
				and `sku_value` like concat('%',#{skuValue},'%')
			</if>
			<if test="seq != null">
				and `seq` like concat('%',#{seq},'%')
			</if>
		</where>
	</select>

	<select id="count" resultType = "java.lang.Integer" parameterType="cn.peyton.plum.mall.pojo.product.ShopSkuValue">
		select
		count(`id`)
		from `tb_shop_sku_value`
		<where>
			<if test="id != null">
				and `id` = #{id}
			</if>
			<if test="skuId != null">
				and `sku_id` = #{skuId}
			</if>
			<if test="skuValue != null">
				and `sku_value` = #{skuValue}
			</if>
			<if test="seq != null">
				and `seq` = #{seq}
			</if>
		</where>
	</select>

</mapper>
