<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.peyton.plum.mall.mapper.party.MemberMapper">
	<resultMap id="ResultMemberMap" type="cn.peyton.plum.mall.pojo.party.Member">
		<id column="id" property="id" jdbcType="BIGINT"/>
		<!--<result column="level_id" property="levelId" jdbcType="INTEGER"/>-->
		<result column="username" property="username" jdbcType="VARCHAR"/>
		<result column="password" property="password" jdbcType="VARCHAR"/>
		<result column="avatar" property="avatar" jdbcType="VARCHAR"/>
		<result column="nickname" property="nickname" jdbcType="VARCHAR"/>
		<result column="phone" property="phone" jdbcType="VARCHAR"/>
		<result column="email" property="email" jdbcType="VARCHAR"/>
		<result column="status" property="status" jdbcType="TINYINT"/>
		<result column="last_ip" property="lastIp" jdbcType="VARCHAR"/>
		<result column="loc" property="loc" jdbcType="INTEGER"/>
		<result column="last_login_time" property="lastLoginTime" jdbcType="INTEGER"/>
		<result column="sex" property="sex" jdbcType="TINYINT"/>
		<result column="birthday" property="birthday" jdbcType="VARCHAR"/>
		<result column="encrypted" property="encrypted" jdbcType="VARCHAR"/>
		<result column="create_time" property="createTime" jdbcType="INTEGER"/>
		<association property="memberLevel" column="level_id" javaType="cn.peyton.plum.mall.pojo.party.MemberLevel"
					 select="cn.peyton.plum.mall.mapper.party.MemberLevelMapper.selectByPrimaryKey" />

		<!--<association property="bill" javaType="cn.peyton.plum.mall.pojo.party.UserBill"-->
		<!--			 column="{shareId=id,shareType=share_type}" select="cn.peyton.plum.mall.mapper.party.UserBillMapper.selectByShareId" />-->

		<!--<association property="extract" javaType="cn.peyton.plum.mall.pojo.party.UserExtract"-->
		<!--			 column="{shareId=id,shareType=share_type}" select="cn.peyton.plum.mall.mapper.party.UserExtractMapper.selectByShareId" />-->
		<collection property="userAddresses" javaType="list"
					column="{shareId=id,shareType=share_type}" select="cn.peyton.plum.mall.mapper.party.UserAddressMapper.selectByShareId" />
		<collection property="shareBinds" javaType="list"
					column="{shareId=id,shareType=share_type}" select="cn.peyton.plum.mall.mapper.party.ShareBindMapper.selectByShareId" />
	</resultMap>

	<sql id="Column_tb_member_List">
		`id`,`level_id`,`username`,`avatar`,`nickname`,`phone`,`email`,`status`,`last_ip`,
		    `loc`,`last_login_time`,`sex`,`birthday`,`encrypted`,`create_time`,0 `share_type`
	</sql>

	<resultMap id="result_member_simple_list" type="cn.peyton.plum.mall.pojo.party.Member">
		<id column="id" property="id" jdbcType="BIGINT"/>
		<result column="username" property="username" jdbcType="VARCHAR"/>
		<result column="avatar" property="avatar" jdbcType="VARCHAR"/>
		<result column="nickname" property="nickname" jdbcType="VARCHAR"/>
		<result column="phone" property="phone" jdbcType="VARCHAR"/>
		<result column="email" property="email" jdbcType="VARCHAR"/>
		<result column="loc" property="loc" jdbcType="INTEGER"/>
		<result column="sex" property="sex" jdbcType="TINYINT"/>
		<result column="birthday" property="birthday" jdbcType="VARCHAR"/>
		<result column="create_time" property="createTime" jdbcType="INTEGER"/>
		<association property="memberLevel" column="level_id" javaType="cn.peyton.plum.mall.pojo.party.MemberLevel"
					 select="cn.peyton.plum.mall.mapper.party.MemberLevelMapper.selectByPrimaryKey" />
		<collection property="userAddresses" javaType="list"
					 column="{shareId=id,shareType=share_type}" select="cn.peyton.plum.mall.mapper.party.UserAddressMapper.selectByShareId" />
		<collection property="shareBinds" javaType="list"
					column="{shareId=id,shareType=share_type}" select="cn.peyton.plum.mall.mapper.party.ShareBindMapper.selectByShareId" />
	</resultMap>

	<sql id="column_member_simple_list">
		`id`,`level_id`,`username`,`avatar`,`nickname`,`phone`,`email`,`loc`,`sex`,`birthday`,`create_time`,0 `share_type`
	</sql>

	<resultMap id="result_member_fk_list" type="cn.peyton.plum.mall.pojo.party.Member">
		<id column="id" property="id" jdbcType="BIGINT"/>
		<result column="username" property="username" jdbcType="VARCHAR"/>
		<result column="avatar" property="avatar" jdbcType="VARCHAR"/>
		<result column="nickname" property="nickname" jdbcType="VARCHAR"/>
		<result column="phone" property="phone" jdbcType="VARCHAR"/>
		<result column="email" property="email" jdbcType="VARCHAR"/>
		<association property="memberLevel" column="level_id" javaType="cn.peyton.plum.mall.pojo.party.MemberLevel"
					 select="cn.peyton.plum.mall.mapper.party.MemberLevelMapper.selectByPrimaryKey" />
	</resultMap>

	<sql id="column_member_fk_list">
		`id`,`level_id`,`username`,`avatar`,`nickname`,`phone`,`email`
	</sql>

	<insert id="insertSelective" parameterType="cn.peyton.plum.mall.pojo.party.Member" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
		insert into `tb_member`
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test=" memberLevel.id!= null">`level_id`,</if>
			<if test="username != null">`username`,</if>
			<if test="password != null">`password`,</if>
			<if test="avatar != null">`avatar`,</if>
			<if test="nickname != null">`nickname`,</if>
			<if test="phone != null">`phone`,</if>
			<if test="email != null">`email`,</if>
			<if test="sex != null">`sex`,</if>
			<if test="birthday != null">`birthday`,</if>
			<if test="encrypted != null">`encrypted`,</if>
			<if test="createTime != null">`create_time`,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="memberLevel.id != null">#{memberLevel.id},</if>
			<if test="username != null">#{username},</if>
			<if test="password != null">#{password},</if>
			<if test="avatar != null">#{avatar},</if>
			<if test="nickname != null">#{nickname},</if>
			<if test="phone != null">#{phone},</if>
			<if test="email != null">#{email},</if>
			<if test="sex != null">#{sex},</if>
			<if test="birthday != null">#{birthday},</if>
			<if test="encrypted != null">#{encrypted},</if>
			<if test="createTime != null">#{createTime},</if>
		</trim>
	</insert>

	<update id="updateSelective" parameterType="cn.peyton.plum.mall.pojo.party.Member">
		update `tb_member`
		<set>
			<if test="memberLevel.id != null">`level_id` = #{memberLevel.id},</if>
			<if test="username != null">`username` = #{username},</if>
			<if test="avatar != null">`avatar` = #{avatar},</if>
			<if test="nickname != null">`nickname` = #{nickname},</if>
			<if test="phone != null">`phone` = #{phone},</if>
			<if test="email != null">`email` = #{email},</if>
			<if test="sex != null">`sex` = #{sex},</if>
			<if test="birthday != null">`birthday` = #{birthday},</if>
		</set>
		where id = #{id}
	</update>


	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from `tb_member`
		where `id` = #{id}
	</delete>

	<select id="repeat" resultType = "java.lang.Integer" parameterType="cn.peyton.plum.mall.pojo.party.Member">
		select
		count(`id`)
		from `tb_member`
		where `is_del`=1
		and (`username` = #{username}
			<if test="phone != null and phone != ''">
				or `phone` = #{phone}
			</if>
			<if test="email != null and email != ''">
				or `email`=#{email}
			</if>
		)
		<if test="id != null">
			and `id` != #{id}
		</if>

	</select>

	<select id="selectByPrimaryKey" resultMap="ResultMemberMap"  parameterType="java.lang.Long">
		select
		<include refid="Column_tb_member_List"/>
		from `tb_member`
		where `id` = #{id} and `is_del` =1
	</select>

	<select id="selectSimpleById" resultMap="result_member_simple_list" parameterType="java.lang.Long">
		select
		<include refid="column_member_simple_list"/>
		from `tb_member`
		where `id` = #{id} and `is_del` =1
	</select>

	<select id="selectByForeignKey" resultMap="result_member_fk_list" parameterType="java.lang.Long">
		select
		<include refid="column_member_fk_list"/>
		from `tb_member`
		where `id` = #{id} and `is_del` =1
	</select>

	<select id="selectByDownList" resultMap="result_member_fk_list">
		select
		<include refid="column_member_fk_list"/>
		from `tb_member`
		where `is_del` =1
	</select>

	<select id="isMemberLevel" resultType="int"  parameterType="int">
		select
			count(id)
		from `tb_member`
		where `level_id` = #{levelId} and `is_del` =1
	</select>

	<select id="selectByLikeAndObj" resultMap="ResultMemberMap" parameterType="map">
		select
		<include refid="Column_tb_member_List"/>
		from `tb_member`
		where `is_del` = 1
		<if test="record.username != null">
			and `username` like concat('%',#{record.username},'%')
		</if>
		<if test="record.memberLevel.id != null">
			and `level_id` = #{record.memberLevel.id}
		</if>

		<if test="record.nickname != null">
			and `nickname` like concat('%',#{record.nickname},'%')
		</if>
		<if test="record.phone != null">
			and `phone` like concat('%',#{record.phone},'%')
		</if>
		<if test="record.email != null">
			and `email` like concat('%',#{record.email},'%')
		</if>
		<if test="page.orderColumnName != null">
			order by ${page.orderColumnName} ${page.orderMode}
		</if>
		<if test="page.orderColumnName == null">
			order by `id` ${page.orderMode}
		</if>
		<if test="page.enablePaging">
			limit #{page.offset},#{page.pageSize}
		</if>
	</select>

	<select id="selectByObj" resultMap="ResultMemberMap"  parameterType="map">
		select
		<include refid="Column_tb_member_List"/>
		from `tb_member`
		<where>
			<if test="record.id != null">
				and `id` = #{record.id}
			</if>
			<if test="record.memberLevel.id != null">
				and `level_id` = #{record.memberLevel.id}
			</if>
			<if test="record.username != null">
				and `username` = #{record.username}
			</if>
			<if test="record.password != null">
				and `password` = #{record.password}
			</if>
			<if test="record.avatar != null">
				and `avatar` = #{record.avatar}
			</if>
			<if test="record.nickname != null">
				and `nickname` = #{record.nickname}
			</if>
			<if test="record.phone != null">
				and `phone` = #{record.phone}
			</if>
			<if test="record.email != null">
				and `email` = #{record.email}
			</if>
			<if test="record.status != null">
				and `status` = #{record.status}
			</if>
			<if test="record.lastIp != null">
				and `last_ip` = #{record.lastIp}
			</if>
			<if test="record.loc != null">
				and `loc` = #{record.loc}
			</if>
			<if test="record.lastLoginTime != null">
				and `last_login_time` = #{record.lastLoginTime}
			</if>
			<if test="record.sex != null">
				and `sex` = #{record.sex}
			</if>
			<if test="record.birthday != null">
				and `birthday` = #{record.birthday}
			</if>
			<if test="record.encrypted != null">
				and `encrypted` = #{record.encrypted}
			</if>
			<if test="record.createTime != null">
				and `create_time` = #{record.createTime}
			</if>
		</where>
		<if test="page.orderColumnName != null">
			order by ${page.orderColumnName} ${page.orderMode}
		</if>
		<if test="page.orderColumnName == null">
			order by `id` ${page.orderMode}
		</if>
		<if test="page.enablePaging">
			limit #{page.offset},#{page.pageSize}
		</if>
	</select>

	<select id="countByLike" resultType = "java.lang.Integer" parameterType="cn.peyton.plum.mall.pojo.party.Member">
		select
		count(`id`)
		from `tb_member`
		where `is_del` = 1
		<if test="username != null">
			and `username` like concat('%',#{username},'%')
		</if>
		<if test="memberLevel.id != null">
			and `level_id` = #{memberLevel.id}
		</if>
		<if test="nickname != null">
			and `nickname` like concat('%',#{nickname},'%')
		</if>
		<if test="phone != null">
			and `phone` like concat('%',#{phone},'%')
		</if>
		<if test="email != null">
			and `email` like concat('%',#{email},'%')
		</if>
	</select>

	<select id="count" resultType = "java.lang.Integer" parameterType="cn.peyton.plum.mall.pojo.party.Member">
		select
		count(`id`)
		from `tb_member`
		<where>
			<if test="id != null">
				and `id` = #{id}
			</if>
			<if test="memberLevel.id != null">
				and `level_id` = #{memberLevel.id}
			</if>
			<if test="username != null">
				and `username` = #{username}
			</if>
			<if test="password != null">
				and `password` = #{password}
			</if>
			<if test="avatar != null">
				and `avatar` = #{avatar}
			</if>
			<if test="nickname != null">
				and `nickname` = #{nickname}
			</if>
			<if test="phone != null">
				and `phone` = #{phone}
			</if>
			<if test="email != null">
				and `email` = #{email}
			</if>
			<if test="status != null">
				and `status` = #{status}
			</if>
			<if test="lastIp != null">
				and `last_ip` = #{lastIp}
			</if>
			<if test="loc != null">
				and `loc` = #{loc}
			</if>
			<if test="lastLoginTime != null">
				and `last_login_time` = #{lastLoginTime}
			</if>
			<if test="sex != null">
				and `sex` = #{sex}
			</if>
			<if test="birthday != null">
				and `birthday` = #{birthday}
			</if>
			<if test="encrypted != null">
				and `encrypted` = #{encrypted}
			</if>
			<if test="createTime != null">
				and `create_time` = #{createTime}
			</if>
		</where>
	</select>

	<!-- 用户公用方法	-->
	<select id="checkStatus" parameterType="map" resultType="int">
		select
			count(id)
		from `tb_member`
		where is_del= 1
		<if test="status != -1">
			and status = #{status}
		</if>
		<if test="type == 'account'">
			and username = #{keyword}
		</if>
		<if test="type == 'phone'">
			and phone = #{keyword}
		</if>
		<if test="type == 'email'">
			and email = #{keyword}
		</if>
	</select>

	<select id="login" resultMap="result_member_fk_list" parameterType="map">
		select
		<include refid="column_member_fk_list"/>
		from `tb_member`
		where password=#{password}
		and status=1
		and is_del= 1
		<if test="loginType == 'account'">
			and username = #{keyword}
		</if>
		<if test="loginType == 'phone'">
			and phone = #{keyword}
		</if>
		<if test="loginType == 'email'">
			and email = #{keyword}
		</if>
	</select>

</mapper>
