<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.peyton.plum.mall.mapper.party.ShareBindMapper">
	<resultMap id="ResultShareBindMap" type="cn.peyton.plum.mall.pojo.party.ShareBind">
		<id column="id" property="id" jdbcType="BIGINT"/>
		<result column="open_type" property="openType" jdbcType="VARCHAR"/>
		<result column="open_id" property="openId" jdbcType="VARCHAR"/>
		<result column="share_id" property="shareId" jdbcType="BIGINT"/>
		<result column="share_type" property="shareType" jdbcType="TINYINT"/>
		<result column="nick_name" property="nickName" jdbcType="VARCHAR"/>
		<result column="avatar" property="avatar" jdbcType="VARCHAR"/>
		<result column="explain" property="explain" jdbcType="VARCHAR"/>
		<result column="create_time" property="createTime" jdbcType="INTEGER"/>
	</resultMap>

	<sql id="Column_tb_share_bind_List">
		`id`,`open_type`,`open_id`,`share_id`,`share_type`,`nick_name`,`avatar`,`explain`,`create_time`
	</sql>

	<insert id="insertSelective" parameterType="cn.peyton.plum.mall.pojo.party.ShareBind" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
		insert into `tb_share_bind`
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="openType != null">`open_type`,</if>
			<if test="openId != null">`open_id`,</if>
			<if test="shareId != null">`share_id`,</if>
			<if test="shareType != null">`share_type`,</if>
			<if test="nickName != null">`nick_name`,</if>
			<if test="avatar != null">`avatar`,</if>
			<if test="explain != null">`explain`,</if>
			<if test="createTime != null">`create_time`,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="openType != null">#{openType},</if>
			<if test="openId != null">#{openId},</if>
			<if test="shareId != null">#{shareId},</if>
			<if test="shareType != null">#{shareType},</if>
			<if test="nickName != null">#{nickName},</if>
			<if test="avatar != null">#{avatar},</if>
			<if test="explain != null">#{explain},</if>
			<if test="createTime != null">#{createTime},</if>
		</trim>
	</insert>

	<update id="updateSelective" parameterType="cn.peyton.plum.mall.pojo.party.ShareBind">
		update `tb_share_bind`
		<set>
			<if test="openType != null">`open_type` = #{openType},</if>
			<if test="openId != null">`open_id` = #{openId},</if>
			<if test="shareId != null">`share_id` = #{shareId},</if>
			<if test="shareType != null">`share_type` = #{shareType},</if>
			<if test="nickName != null">`nick_name` = #{nickName},</if>
			<if test="avatar != null">`avatar` = #{avatar},</if>
			<if test="explain != null">`explain` = #{explain},</if>
			<if test="createTime != null">`create_time` = #{createTime},</if>
		</set>
		where id = #{id}
	</update>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from `tb_share_bind`
		where `id` = #{id}
	</delete>

	<!-- 判断 大于 > 0 已被注册 -->
	<select id="repeat" resultType = "java.lang.Integer" parameterType="cn.peyton.plum.mall.pojo.party.ShareBind">
		select
			count(`id`)
		from `tb_share_bind`
		where `open_type` = #{openType}
			and `open_id` = #{openId}
		  	and !(`share_id` = #{shareId} and `share_type` = #{shareType})
	</select>

	<select id="selectByPrimaryKey" resultMap="ResultShareBindMap"  parameterType="java.lang.Long">
		select
		<include refid="Column_tb_share_bind_List"/>
		from `tb_share_bind`
		where `id` = #{id}
	</select>

	<select id="selectByShareId" resultMap="ResultShareBindMap"  parameterType="map">
		select
		<include refid="Column_tb_share_bind_List"/>
		from `tb_share_bind`
		where `share_id` = #{shareId} and `share_type` = #{shareType}
	</select>

	<select id="selectByLikeAndObj" resultMap="ResultShareBindMap" parameterType="map">
		select
		<include refid="Column_tb_share_bind_List"/>
		from `tb_share_bind`
		<where>
			<if test="record.id != null">
				and `id` like concat('%',#{record.id},'%')
			</if>
			<if test="record.openType != null">
				and `open_type` like concat('%',#{record.openType},'%')
			</if>
			<if test="record.openId != null">
				and `open_id` like concat('%',#{record.openId},'%')
			</if>
			<if test="record.shareId != null">
				and `share_id` like concat('%',#{record.shareId},'%')
			</if>
			<if test="record.shareType != null">
				and `share_type` like concat('%',#{record.shareType},'%')
			</if>
			<if test="record.nickName != null">
				and `nick_name` like concat('%',#{record.nickName},'%')
			</if>
			<if test="record.avatar != null">
				and `avatar` like concat('%',#{record.avatar},'%')
			</if>
			<if test="record.explain != null">
				and `explain` like concat('%',#{record.explain},'%')
			</if>
			<if test="record.createTime != null">
				and `create_time` like concat('%',#{record.createTime},'%')
			</if>
		</where>
		<if test="page.orderColumnName != null">
			order by ${page.orderColumnName} ${page.orderMode}
		</if>
		<if test="page.orderColumnName == null">
			order by `id` ${page.orderMode}
		</if>
		<if test="page.enablePaging">
			limit #{page.offset},#{page.pageSize}
		</if>
	</select>

	<select id="selectByObj" resultMap="ResultShareBindMap"  parameterType="map">
		select
		<include refid="Column_tb_share_bind_List"/>
		from `tb_share_bind`
		<where>
			<if test="record.id != null">
				and `id` = #{record.id}
			</if>
			<if test="record.openType != null">
				and `open_type` = #{record.openType}
			</if>
			<if test="record.openId != null">
				and `open_id` = #{record.openId}
			</if>
			<if test="record.shareId != null">
				and `share_id` = #{record.shareId}
			</if>
			<if test="record.shareType != null">
				and `share_type` = #{record.shareType}
			</if>
			<if test="record.nickName != null">
				and `nick_name` = #{record.nickName}
			</if>
			<if test="record.avatar != null">
				and `avatar` = #{record.avatar}
			</if>
			<if test="record.explain != null">
				and `explain` = #{record.explain}
			</if>
			<if test="record.createTime != null">
				and `create_time` = #{record.createTime}
			</if>
		</where>
		<if test="page.orderColumnName != null">
			order by ${page.orderColumnName} ${page.orderMode}
		</if>
		<if test="page.orderColumnName == null">
			order by `id` ${page.orderMode}
		</if>
		<if test="page.enablePaging">
			limit #{page.offset},#{page.pageSize}
		</if>
	</select>

	<select id="countByLike" resultType = "java.lang.Integer" parameterType="cn.peyton.plum.mall.pojo.party.ShareBind">
		select
		count(`id`)
		from `tb_share_bind`
		<where>
			<if test="id != null">
				and `id` like concat('%',#{id},'%')
			</if>
			<if test="openType != null">
				and `open_type` like concat('%',#{openType},'%')
			</if>
			<if test="openId != null">
				and `open_id` like concat('%',#{openId},'%')
			</if>
			<if test="shareId != null">
				and `share_id` like concat('%',#{shareId},'%')
			</if>
			<if test="shareType != null">
				and `share_type` like concat('%',#{shareType},'%')
			</if>
			<if test="nickName != null">
				and `nick_name` like concat('%',#{nickName},'%')
			</if>
			<if test="avatar != null">
				and `avatar` like concat('%',#{avatar},'%')
			</if>
			<if test="explain != null">
				and `explain` like concat('%',#{explain},'%')
			</if>
			<if test="createTime != null">
				and `create_time` like concat('%',#{createTime},'%')
			</if>
		</where>
	</select>

	<select id="count" resultType = "java.lang.Integer" parameterType="cn.peyton.plum.mall.pojo.party.ShareBind">
		select
		count(`id`)
		from `tb_share_bind`
		<where>
			<if test="id != null">
				and `id` = #{id}
			</if>
			<if test="openType != null">
				and `open_type` = #{openType}
			</if>
			<if test="openId != null">
				and `open_id` = #{openId}
			</if>
			<if test="shareId != null">
				and `share_id` = #{shareId}
			</if>
			<if test="shareType != null">
				and `share_type` = #{shareType}
			</if>
			<if test="nickName != null">
				and `nick_name` = #{nickName}
			</if>
			<if test="avatar != null">
				and `avatar` = #{avatar}
			</if>
			<if test="explain != null">
				and `explain` = #{explain}
			</if>
			<if test="createTime != null">
				and `create_time` = #{createTime}
			</if>
		</where>
	</select>

</mapper>
