<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.peyton.plum.mall.mapper.party.SupplierMapper">
	<resultMap id="ResultSupplierMap" type="cn.peyton.plum.mall.pojo.party.Supplier">
		<id column="id" property="id" jdbcType="BIGINT"/>
		<result column="username" property="username" jdbcType="VARCHAR"/>
		<result column="email" property="email" jdbcType="VARCHAR"/>
		<result column="login_name" property="loginName" jdbcType="VARCHAR"/>
		<result column="avatar" property="avatar" jdbcType="VARCHAR"/>
		<result column="password" property="password" jdbcType="VARCHAR"/>
		<result column="phone" property="phone" jdbcType="VARCHAR"/>
		<result column="loc" property="loc" jdbcType="INTEGER"/>
		<result column="status" property="status" jdbcType="TINYINT"/>
		<result column="encrypted" property="encrypted" jdbcType="VARCHAR"/>
		<result column="last_ip" property="lastIp" jdbcType="VARCHAR"/>
		<result column="last_login_time" property="lastLoginTime" jdbcType="INTEGER"/>
		<result column="create_time" property="createTime" jdbcType="INTEGER"/>
		<association property="supplierInfo" javaType="cn.peyton.plum.mall.pojo.party.SupplierInfo"
					 column="info_id" select="cn.peyton.plum.mall.mapper.party.SupplierInfoMapper.selectByPrimaryKey" />
	</resultMap>

	<sql id="Column_tb_supplier_List">
		`id`,`username`,`email`,`info_id`,`login_name`,`avatar`,`phone`,`loc`,`status`,`encrypted`,`last_ip`,`last_login_time`,`create_time`
	</sql>

	<resultMap id="result_supplier_simple_list" type="cn.peyton.plum.mall.pojo.party.Supplier">
		<id column="id" property="id" jdbcType="BIGINT"/>
		<result column="username" property="username" jdbcType="VARCHAR"/>
		<result column="email" property="email" jdbcType="VARCHAR"/>
		<result column="login_name" property="loginName" jdbcType="VARCHAR"/>
		<result column="avatar" property="avatar" jdbcType="VARCHAR"/>
		<result column="phone" property="phone" jdbcType="VARCHAR"/>
		<result column="create_time" property="createTime" jdbcType="INTEGER"/>
		<association property="supplierInfo" javaType="cn.peyton.plum.mall.pojo.party.SupplierInfo"
					 column="info_id" select="cn.peyton.plum.mall.mapper.party.SupplierInfoMapper.selectByPrimaryKey" />
	</resultMap>

	<sql id="column_supplier_simple_List">
		`id`,`username`,`info_id`,`email`,`login_name`,`avatar`,`phone`,`create_time`
	</sql>

	<insert id="insertSelective" parameterType="cn.peyton.plum.mall.pojo.party.Supplier" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
		insert into `tb_supplier`
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="username != null">`username`,</if>
			<if test="loginName != null">`login_name`,</if>
			<if test="email != null">`email`,</if>
			<if test="avatar != null">`avatar`,</if>
			<if test="password != null">`password`,</if>
			<if test="phone != null">`phone`,</if>
			<if test="encrypted != null">`encrypted`,</if>
			<if test="createTime != null">`create_time`,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="username != null">#{username},</if>
			<if test="loginName != null">#{loginName},</if>
			<if test="email != null">#{email},</if>
			<if test="avatar != null">#{avatar},</if>
			<if test="password != null">#{password},</if>
			<if test="phone != null">#{phone},</if>
			<if test="encrypted != null">#{encrypted},</if>
			<if test="createTime != null">#{createTime},</if>
		</trim>
	</insert>

	<update id="updateSelective" parameterType="cn.peyton.plum.mall.pojo.party.Supplier">
		update `tb_supplier`
		<set>
			<if test="username != null">`username` = #{username},</if>
			<if test="loginName != null">`login_name` = #{loginName},</if>
			<if test="email != null">`email` = #{email},</if>
			<if test="avatar != null">`avatar` = #{avatar},</if>
			<if test="phone != null">`phone` = #{phone},</if>
		</set>
		where id = #{id} and `is_del` = 1
	</update>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from `tb_supplier`
		where `id` = #{id}
	</delete>

	<select id="repeat" resultType = "java.lang.Integer" parameterType="cn.peyton.plum.mall.pojo.party.Supplier">
		select
		count(`id`)
		from `tb_supplier`
		where `is_del`=1
		and (`login_name` = #{loginName}
			<if test="phone != null and phone != ''">
				or `phone` = #{phone}
			</if>
			<if test="email != null and email != ''">
				or `email`=#{email}
			</if>
		)
		<if test="id != null">
			and `id` != #{id}
		</if>
	</select>

	<select id="selectByPrimaryKey" resultMap="ResultSupplierMap"  parameterType="java.lang.Long">
		select
		<include refid="Column_tb_supplier_List"/>
		from `tb_supplier`
		where `id` = #{id} and `is_del` = 1
	</select>

	<select id="selectByForeignKey" resultMap="result_supplier_simple_list"  parameterType="java.lang.Long">
		select
			<include refid="column_supplier_simple_List"/>
		from `tb_supplier`
		where `id` = #{id} and `status` = 1 and `is_del` = 1
	</select>

	<select id="selectByDownList" resultMap="result_supplier_simple_list">
		select
			<include refid="column_supplier_simple_List"/>
		from `tb_supplier`
		where `status` = 1 and `is_del` = 1
	</select>

	<select id="selectByLikeAndObj" resultMap="ResultSupplierMap" parameterType="map">
		select
		<include refid="Column_tb_supplier_List"/>
		from `tb_supplier`
		where `is_del` = 1
		<if test="record.username != null">
			and `username` like concat('%',#{record.username},'%')
		</if>
		<if test="record.loginName != null">
			and `login_name` like concat('%',#{record.loginName},'%')
		</if>
		<if test="record.email != null">
			and `email` like concat('%',#{record.email},'%')
		</if>
		<if test="record.phone != null">
			and `phone` like concat('%',#{record.phone},'%')
		</if>
		<if test="record.status != null">
			and `status`=#{record.status}
		</if>
		<if test="page.orderColumnName != null">
			order by ${page.orderColumnName} ${page.orderMode}
		</if>
		<if test="page.orderColumnName == null">
			order by `id` ${page.orderMode}
		</if>
		<if test="page.enablePaging">
			limit #{page.offset},#{page.pageSize}
		</if>
	</select>

	<select id="selectByObj" resultMap="ResultSupplierMap"  parameterType="map">
		select
		<include refid="Column_tb_supplier_List"/>
		from `tb_supplier`
		<where>
			<if test="record.username != null">
				and `username` = #{record.username}
			</if>
			<if test="record.loginName != null">
				and `login_name` = #{record.loginName}
			</if>
			<if test="record.email != null">
				and `email` = #{record.email}
			</if>
			<if test="record.phone != null">
				and `phone` = #{record.phone}
			</if>
			<if test="record.status != null">
				and `status` = #{record.status}
			</if>
		</where>
		<if test="page.orderColumnName != null">
			order by ${page.orderColumnName} ${page.orderMode}
		</if>
		<if test="page.orderColumnName == null">
			order by `id` ${page.orderMode}
		</if>
		<if test="page.enablePaging">
			limit #{page.offset},#{page.pageSize}
		</if>
	</select>

	<select id="countByLike" resultType = "java.lang.Integer" parameterType="cn.peyton.plum.mall.pojo.party.Supplier">
		select
		count(`id`)
		from `tb_supplier`
		where `is_del` = 1
		<if test="username != null">
			and `username` like concat('%',#{username},'%')
		</if>
		<if test="loginName != null">
			and `login_name` like concat('%',#{loginName},'%')
		</if>
		<if test="email != null">
			and `email` like concat('%',#{email},'%')
		</if>
		<if test="phone != null">
			and `phone` like concat('%',#{phone},'%')
		</if>
		<if test="status != null">
			and `status` like concat('%',#{status},'%')
		</if>
	</select>

	<select id="count" resultType = "java.lang.Integer" parameterType="cn.peyton.plum.mall.pojo.party.Supplier">
		select
		count(`id`)
		from `tb_supplier`
		where `is_del` = 1
		<where>
			<if test="username != null">
				and `username` = #{username}
			</if>
			<if test="loginName != null">
				and `login_name` = #{loginName}
			</if>
			<if test="email != null">
				and `email` = #{email}
			</if>
			<if test="phone != null">
				and `phone` = #{phone}
			</if>
			<if test="status != null">
				and `status` = #{status}
			</if>
		</where>
	</select>

	<!-- 用户公用方法	-->
	<select id="checkStatus" parameterType="map" resultType="int">
		select
		count(id)
		from `tb_supplier`
		where is_del= 1
		<if test="status != -1">
			and status = #{status}
		</if>
		<if test="type == 'account'">
			and username = #{keyword}
		</if>
		<if test="type == 'phone'">
			and phone = #{keyword}
		</if>
		<if test="type == 'email'">
			and email = #{keyword}
		</if>
	</select>

	<select id="login" resultMap="result_supplier_simple_list" parameterType="map">
		select
		<include refid="column_supplier_simple_List"/>
		from `tb_supplier`
		where password=#{password}
		and status=1
		and is_del= 1
		<if test="loginType == 'account'">
			and login_name = #{keyword}
		</if>
		<if test="loginType == 'phone'">
			and phone = #{keyword}
		</if>
		<if test="loginType == 'email'">
			and email = #{keyword}
		</if>
	</select>

</mapper>
