<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.peyton.plum.mall.mapper.sys.AreaMapper">
	<resultMap id="ResultAreaMap" type="cn.peyton.plum.mall.pojo.sys.Area">
		<id column="id" property="id" jdbcType="BIGINT"/>
		<result column="name" property="name" jdbcType="VARCHAR"/>
		<result column="seq" property="seq" jdbcType="SMALLINT"/>
	</resultMap>

	<sql id="Column_sys_area_List">
		`id`,`name`,`seq`
	</sql>

	<insert id="insertSelective" parameterType="cn.peyton.plum.mall.pojo.sys.Area" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
		insert into `sys_area`
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="name != null">`name`,</if>
			<if test="seq != null">`seq`,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="name != null">#{name},</if>
			<if test="seq != null">#{seq},</if>
		</trim>
	</insert>

	<update id="updateSelective" parameterType="cn.peyton.plum.mall.pojo.sys.Area">
		update `sys_area`
		<set>
			<if test="name != null">`name` = #{name},</if>
			<if test="seq != null">`seq` = #{seq},</if>
		</set>
		where id = #{id}
	</update>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from `sys_area`
		where `id` = #{id}
	</delete>

	<select id="repeat" resultType = "java.lang.Integer" parameterType="cn.peyton.plum.mall.pojo.sys.Area">
		select
		count(`id`)
		from `sys_area`
		<where>
			<if test="id != null">
				and `id` = #{id}
			</if>
			<if test="name != null">
				and `name` = #{name}
			</if>
			<if test="seq != null">
				and `seq` = #{seq}
			</if>
		</where>
	</select>

	<select id="selectByPrimaryKey" resultMap="ResultAreaMap"  parameterType="java.lang.Long">
		select
		<include refid="Column_sys_area_List"/>
		from `sys_area`
		where `id` = #{id}
	</select>

	<select id="selectByLiekAndObj" resultMap="ResultAreaMap"  parameterType="map">
		select
		<include refid="Column_sys_area_List"/>
		from `sys_area`
		<where>
			<if test="record.id != null">
				and `id` like concat('%',#{record.id},'%')
			</if>
			<if test="record.name != null">
				and `name` like concat('%',#{record.name},'%')
			</if>
			<if test="record.seq != null">
				and `seq` like concat('%',#{record.seq},'%')
			</if>
		</where>
		<if test="page.orderByColumuName != null">
			order by `${page.orderByColumuName}`  ${page.orderByMode}
		</if>
		<if test="page.orderByColumuName == null">
			order by `id` desc
		</if>
		<if test="page.enablePaging">
			limit #{page.offset},#{page.pageSize}
		</if>
	</select>

	<select id="selectByObj" resultMap="ResultAreaMap"  parameterType="map">
		select
		<include refid="Column_sys_area_List"/>
		from `sys_area`
		<where>
			<if test="record.id != null">
				and `id` = #{record.id}
			</if>
			<if test="record.name != null">
				and `name` = #{record.name}
			</if>
			<if test="record.seq != null">
				and `seq` = #{record.seq}
			</if>
		</where>
		<if test="page.orderByColumuName != null">
			order by `${page.orderByColumuName}`  ${page.orderByMode}
		</if>
		<if test="page.orderByColumuName == null">
			order by `id` desc
		</if>
		<if test="page.enablePaging">
			limit #{page.offset},#{page.pageSize}
		</if>
	</select>

	<select id="countByLike" resultType = "java.lang.Integer" parameterType="cn.peyton.plum.mall.pojo.sys.Area">
		select
		count(`id`)
		from `sys_area`
		<where>
			<if test="id != null">
				and `id` like concat('%',#{id},'%')
			</if>
			<if test="name != null">
				and `name` like concat('%',#{name},'%')
			</if>
			<if test="seq != null">
				and `seq` like concat('%',#{seq},'%')
			</if>
		</where>
	</select>

	<select id="count" resultType = "java.lang.Integer" parameterType="cn.peyton.plum.mall.pojo.sys.Area">
		select
		count(`id`)
		from `sys_area`
		<where>
			<if test="id != null">
				and `id` = #{id}
			</if>
			<if test="name != null">
				and `name` = #{name}
			</if>
			<if test="seq != null">
				and `seq` = #{seq}
			</if>
		</where>
	</select>

</mapper>
