<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.peyton.plum.mall.mapper.sys.RoleMapper">
	<resultMap id="ResultRoleMap" type="cn.peyton.plum.mall.pojo.sys.Role">
		<id column="id" property="id" jdbcType="BIGINT"/>
		<result column="name" property="name" jdbcType="VARCHAR"/>
		<result column="remark" property="remark" jdbcType="VARCHAR"/>
		<result column="data_scope" property="dataScope" jdbcType="VARCHAR"/>
		<result column="level" property="level" jdbcType="INTEGER"/>
		<result column="create_time" property="createTime" jdbcType="INTEGER"/>
		<result column="permission" property="permission" jdbcType="VARCHAR"/>
		<result column="update_time" property="updateTime" jdbcType="INTEGER"/>
		<result column="is_del" property="isDel" jdbcType="TINYINT"/>
		<result column="status" property="status" jdbcType="TINYINT"/>
		<collection property="menus" ofType="cn.peyton.plum.mall.pojo.sys.Menu" column="id"
                    select="cn.peyton.plum.mall.mapper.sys.MenuMapper.selectByRoleId"/>
	</resultMap>

	<sql id="Column_sys_role_List">
		`id`,`name`,`remark`,`data_scope`,`level`,`create_time`,`permission`,`update_time`,`is_del`,`status`
	</sql>

	<resultMap id="result_role_expand_map" type="cn.peyton.plum.mall.pojo.sys.Role">
		<id column="id" property="id" jdbcType="BIGINT"/>
		<result column="name" property="name" jdbcType="VARCHAR"/>
		<result column="remark" property="remark" jdbcType="VARCHAR"/>
		<result column="data_scope" property="dataScope" jdbcType="VARCHAR"/>
		<result column="level" property="level" jdbcType="INTEGER"/>
		<result column="create_time" property="createTime" jdbcType="INTEGER"/>
		<result column="permission" property="permission" jdbcType="VARCHAR"/>
		<result column="update_time" property="updateTime" jdbcType="INTEGER"/>
	</resultMap>

	<sql id="column_role_expand_list">
		`id`,`name`,`remark`,`data_scope`,`level`,`create_time`,`permission`,`update_time`
	</sql>

	<insert id="insertSelective" parameterType="cn.peyton.plum.mall.pojo.sys.Role" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
		insert into `sys_role`
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="name != null">`name`,</if>
			<if test="remark != null">`remark`,</if>
			<if test="dataScope != null">`data_scope`,</if>
			<if test="level != null">`level`,</if>
			<if test="createTime != null">`create_time`,</if>
			<if test="permission != null">`permission`,</if>
			<if test="updateTime != null">`update_time`,</if>
			<if test="isDel != null">`is_del`,</if>
			<if test="status != null">`status`,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="name != null">#{name},</if>
			<if test="remark != null">#{remark},</if>
			<if test="dataScope != null">#{dataScope},</if>
			<if test="level != null">#{level},</if>
			<if test="createTime != null">#{createTime},</if>
			<if test="permission != null">#{permission},</if>
			<if test="updateTime != null">#{updateTime},</if>
			<if test="isDel != null">#{isDel},</if>
			<if test="status != null">#{status},</if>
		</trim>
	</insert>

	<update id="updateSelective" parameterType="cn.peyton.plum.mall.pojo.sys.Role">
		update `sys_role`
		<set>
			<if test="name != null">`name` = #{name},</if>
			<if test="remark != null">`remark` = #{remark},</if>
			<if test="dataScope != null">`data_scope` = #{dataScope},</if>
			<if test="level != null">`level` = #{level},</if>
			<if test="createTime != null">`create_time` = #{createTime},</if>
			<if test="permission != null">`permission` = #{permission},</if>
			<if test="updateTime != null">`update_time` = #{updateTime},</if>
			<if test="isDel != null">`is_del` = #{isDel},</if>
			<if test="status != null">`status` = #{status},</if>
		</set>
		where id = #{id}
	</update>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from `sys_role`
		where `id` = #{id}
	</delete>

	<select id="repeat" resultType = "java.lang.Integer" parameterType="cn.peyton.plum.mall.pojo.sys.Role">
		select
			count(`id`)
		from `sys_role`
		where is_del = 1
		  and name = #{name}
		<if test="id != null">
			and id != #{id}
		</if>
	</select>

	<select id="selectByPrimaryKey" resultMap="ResultRoleMap"  parameterType="java.lang.Long">
		select
		<include refid="Column_sys_role_List"/>
		from `sys_role`
		where `id` = #{id}
	</select>

	<select id="selectByLikeAndObj" resultMap="ResultRoleMap" parameterType="map">
		select
		<include refid="Column_sys_role_List"/>
		from `sys_role`
		where `is_del`= 1
		<if test="record.id != null">
			and `id` like concat('%',#{record.id},'%')
		</if>
		<if test="record.name != null">
			and `name` like concat('%',#{record.name},'%')
		</if>
		<if test="record.remark != null">
			and `remark` like concat('%',#{record.remark},'%')
		</if>
		<if test="record.dataScope != null">
			and `data_scope` like concat('%',#{record.dataScope},'%')
		</if>
		<if test="record.level != null">
			and `level` like concat('%',#{record.level},'%')
		</if>
		<if test="record.createTime != null">
			and `create_time` like concat('%',#{record.createTime},'%')
		</if>
		<if test="record.permission != null">
			and `permission` like concat('%',#{record.permission},'%')
		</if>
		<if test="record.updateTime != null">
			and `update_time` like concat('%',#{record.updateTime},'%')
		</if>
		<if test="record.status != null">
			and `status` like concat('%',#{record.status},'%')
		</if>
		<if test="page.orderColumnName != null">
			order by ${page.orderColumnName} ${page.orderMode}
		</if>
		<if test="page.orderColumnName == null">
			order by `id` ${page.orderMode}
		</if>
		<if test="page.enablePaging">
			limit #{page.offset},#{page.pageSize}
		</if>
	</select>

	<select id="selectByObj" resultMap="ResultRoleMap"  parameterType="map">
		select
		<include refid="Column_sys_role_List"/>
		from `sys_role`
		where `is_del`= 1
		<if test="record.id != null">
			and `id` = #{record.id}
		</if>
		<if test="record.name != null">
			and `name` = #{record.name}
		</if>
		<if test="record.remark != null">
			and `remark` = #{record.remark}
		</if>
		<if test="record.dataScope != null">
			and `data_scope` = #{record.dataScope}
		</if>
		<if test="record.level != null">
			and `level` = #{record.level}
		</if>
		<if test="record.createTime != null">
			and `create_time` = #{record.createTime}
		</if>
		<if test="record.permission != null">
			and `permission` = #{record.permission}
		</if>
		<if test="record.updateTime != null">
			and `update_time` = #{record.updateTime}
		</if>
		<if test="record.status != null">
			and `status` = #{record.statusl}
		</if>
		<if test="page.orderColumnName != null">
			order by ${page.orderColumnName} ${page.orderMode}
		</if>
		<if test="page.orderColumnName == null">
			order by `id` ${page.orderMode}
		</if>
		<if test="page.enablePaging">
			limit #{page.offset},#{page.pageSize}
		</if>
	</select>

	<select id="countByLike" resultType = "java.lang.Integer" parameterType="cn.peyton.plum.mall.pojo.sys.Role">
		select
		count(`id`)
		from `sys_role`
		where `is_del`= 1
		<if test="id != null">
			and `id` like concat('%',#{id},'%')
		</if>
		<if test="name != null">
			and `name` like concat('%',#{name},'%')
		</if>
		<if test="remark != null">
			and `remark` like concat('%',#{remark},'%')
		</if>
		<if test="dataScope != null">
			and `data_scope` like concat('%',#{dataScope},'%')
		</if>
		<if test="level != null">
			and `level` like concat('%',#{level},'%')
		</if>
		<if test="createTime != null">
			and `create_time` like concat('%',#{createTime},'%')
		</if>
		<if test="permission != null">
			and `permission` like concat('%',#{permission},'%')
		</if>
		<if test="updateTime != null">
			and `update_time` like concat('%',#{updateTime},'%')
		</if>
		<if test="status != null">
			and `status` like concat('%',#{status},'%')
		</if>
	</select>

	<select id="count" resultType = "java.lang.Integer" parameterType="cn.peyton.plum.mall.pojo.sys.Role">
		select
		count(`id`)
		from `sys_role`
		where `is_del`= 1
		<if test="id != null">
			and `id` = #{id}
		</if>
		<if test="name != null">
			and `name` = #{name}
		</if>
		<if test="remark != null">
			and `remark` = #{remark}
		</if>
		<if test="dataScope != null">
			and `data_scope` = #{dataScope}
		</if>
		<if test="level != null">
			and `level` = #{level}
		</if>
		<if test="createTime != null">
			and `create_time` = #{createTime}
		</if>
		<if test="permission != null">
			and `permission` = #{permission}
		</if>
		<if test="updateTime != null">
			and `update_time` = #{updateTime}
		</if>
		<if test="status != null">
			and `status` = #{status}
		</if>
	</select>
	
	<select id="selectByIdList" parameterType="map" resultMap="ResultRoleMap">
		SELECT
		<include refid="Column_sys_role_List"/>
		FROM sys_role
		WHERE id IN
		<foreach collection="idList" item="id" open="(" close=")" separator=",">
			#{id}
		</foreach>
	</select>

		<!-- SELECT * from sys_role where is_del = 1 and id in(
				select role_id from sys_role_user WHERE share_id=1 and share_type=2) -->
	<select id="selectByShareIdAndType" parameterType="map" resultMap="ResultRoleMap">
		SELECT * from sys_role where is_del = 1 and id in(
			select role_id from sys_role_user WHERE share_id=#{shareId} and share_type=#{shareType})
	</select>

	<select id="selectByAll" resultMap="ResultRoleMap">
		select
			`id`,`name`
		from `sys_role`
		where is_del = 1
	</select>

	<select id="selectExpandByShareIdAndType" parameterType="map" resultMap="result_role_expand_map">
		SELECT 
		    <include refid="column_role_expand_list"></include>
		from sys_role where is_del = 1 and id in(
		select role_id from sys_role_user WHERE share_id=#{shareId} and share_type=#{shareType})
	</select>


</mapper>
