<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.peyton.plum.mall.mapper.sys.UserRoleMapper">
	<resultMap id="ResultUserRoleMap" type="cn.peyton.plum.mall.pojo.sys.UserRole">
		<id column="id" property="id" jdbcType="BIGINT"/>
		<result column="share_id" property="shareId" jdbcType="BIGINT"/>
		<result column="share_type" property="shareType" jdbcType="TINYINT"/>
		<result column="role_id" property="roleId" jdbcType="BIGINT"/>
	</resultMap>

	<sql id="Column_sys_user_role_List">
		`id`,`share_id`,`share_type`,`role_id`
	</sql>

	<insert id="insertSelective" parameterType="cn.peyton.plum.mall.pojo.sys.UserRole" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
		insert into `sys_user_role`
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="shareId != null">`share_id`,</if>
			<if test="shareType != null">`share_type`,</if>
			<if test="roleId != null">`role_id`,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="shareId != null">#{shareId},</if>
			<if test="shareType != null">#{shareType},</if>
			<if test="roleId != null">#{roleId},</if>
		</trim>
	</insert>

	<update id="updateSelective" parameterType="cn.peyton.plum.mall.pojo.sys.UserRole">
		update `sys_user_role`
		<set>
			<if test="shareId != null">`share_id` = #{shareId},</if>
			<if test="shareType != null">`share_type` = #{shareType},</if>
			<if test="roleId != null">`role_id` = #{roleId},</if>
		</set>
		where id = #{id}
	</update>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from `sys_user_role`
		where `id` = #{id}
	</delete>

	<select id="repeat" resultType = "java.lang.Integer" parameterType="cn.peyton.plum.mall.pojo.sys.UserRole">
		select
		count(`id`)
		from `sys_user_role`
		<where>
			<if test="id != null">
				and `id` = #{id}
			</if>
			<if test="shareId != null">
				and `share_id` = #{shareId}
			</if>
			<if test="shareType != null">
				and `share_type` = #{shareType}
			</if>
			<if test="roleId != null">
				and `role_id` = #{roleId}
			</if>
		</where>
	</select>

	<select id="selectByPrimaryKey" resultMap="ResultUserRoleMap"  parameterType="java.lang.Long">
		select
		<include refid="Column_sys_user_role_List"/>
		from `sys_user_role`
		where `id` = #{id}
	</select>

	<select id="selectByLiekAndObj" resultMap="ResultUserRoleMap"  parameterType="map">
		select
		<include refid="Column_sys_user_role_List"/>
		from `sys_user_role`
		<where>
			<if test="record.id != null">
				and `id` like concat('%',#{record.id},'%')
			</if>
			<if test="record.shareId != null">
				and `share_id` like concat('%',#{record.shareId},'%')
			</if>
			<if test="record.shareType != null">
				and `share_type` like concat('%',#{record.shareType},'%')
			</if>
			<if test="record.roleId != null">
				and `role_id` like concat('%',#{record.roleId},'%')
			</if>
		</where>
		<if test="page.orderByColumuName != null">
			order by `${page.orderByColumuName}`  ${page.orderByMode}
		</if>
		<if test="page.orderByColumuName == null">
			order by `id` desc
		</if>
		<if test="page.enablePaging">
			limit #{page.offset},#{page.pageSize}
		</if>
	</select>

	<select id="selectByObj" resultMap="ResultUserRoleMap"  parameterType="map">
		select
		<include refid="Column_sys_user_role_List"/>
		from `sys_user_role`
		<where>
			<if test="record.id != null">
				and `id` = #{record.id}
			</if>
			<if test="record.shareId != null">
				and `share_id` = #{record.shareId}
			</if>
			<if test="record.shareType != null">
				and `share_type` = #{record.shareType}
			</if>
			<if test="record.roleId != null">
				and `role_id` = #{record.roleId}
			</if>
		</where>
		<if test="page.orderByColumuName != null">
			order by `${page.orderByColumuName}`  ${page.orderByMode}
		</if>
		<if test="page.orderByColumuName == null">
			order by `id` desc
		</if>
		<if test="page.enablePaging">
			limit #{page.offset},#{page.pageSize}
		</if>
	</select>

	<select id="countByLike" resultType = "java.lang.Integer" parameterType="cn.peyton.plum.mall.pojo.sys.UserRole">
		select
		count(`id`)
		from `sys_user_role`
		<where>
			<if test="id != null">
				and `id` like concat('%',#{id},'%')
			</if>
			<if test="shareId != null">
				and `share_id` like concat('%',#{shareId},'%')
			</if>
			<if test="shareType != null">
				and `share_type` like concat('%',#{shareType},'%')
			</if>
			<if test="roleId != null">
				and `role_id` like concat('%',#{roleId},'%')
			</if>
		</where>
	</select>

	<select id="count" resultType = "java.lang.Integer" parameterType="cn.peyton.plum.mall.pojo.sys.UserRole">
		select
		count(`id`)
		from `sys_user_role`
		<where>
			<if test="id != null">
				and `id` = #{id}
			</if>
			<if test="shareId != null">
				and `share_id` = #{shareId}
			</if>
			<if test="shareType != null">
				and `share_type` = #{shareType}
			</if>
			<if test="roleId != null">
				and `role_id` = #{roleId}
			</if>
		</where>
	</select>

	<select id="selecRoleIdListByUserId" parameterType="map" resultType="long">
		SELECT `role_id`
		FROM `sys_role_user`
		WHERE `share_id` = #{shareId} and `share_type` = #{shareType}
	</select>

	<select id="selctUserIdListByRoleId" parameterType="map" resultType="long">
		SELECT `user_id`
		FROM `sys_role_user`
		WHERE `role_id` = #{roleId} and `share_type` = #{shareType}
	</select>

	<delete id="deleteUserByRoleId" parameterType="map">
		DELETE FROM `sys_role_user`
		WHERE role_id = #{roleId} and `share_type` = #{shareType}
	</delete>

	<insert id="batchAdd" parameterType="map">
		insert into `sys_role_user` (`role_id`, `share_id`,`share_type`)
		values
		<foreach collection="userRoleList" item="userRole" separator=",">
			( #{userRole.roleId}, #{userRole.shareId}, #{userRole.shareType})
		</foreach>
	</insert>

	<select id="selectUserIdListByRoleIdList" parameterType="map" resultType="long">
		SELECT `share_id`
		FROM `sys_role_user`
		WHERE `share_type`= #{shareType} and (`role_id` IN
		<foreach collection="roleIdList" item="roleId" open="(" close=")" separator=",">
			#{roleId}
		</foreach>)
	</select>

	<select id="selectByThree" parameterType="cn.peyton.plum.mall.pojo.sys.UserRole" resultType="cn.peyton.plum.mall.pojo.sys.UserRole">
		select
			<include refid="Column_sys_user_role_List"/>
		from `sys_user_role`
		<where>
			<if test="shareId != null">
				and `share_id` = #{shareId}
			</if>
			<if test="shareType != null">
				and `share_type` = #{shareType}
			</if>
			<if test="roleId != null">
				and `role_id` = #{roleId}
			</if>
		</where>
		limit 1
	</select>

</mapper>
