<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.peyton.plum.mall.mapper.sys.UserMapper">
	<resultMap id="ResultUserMap" type="cn.peyton.plum.mall.pojo.sys.User">
		<id column="id" property="id" jdbcType="BIGINT"/>
		<result column="avatar" property="avatar" jdbcType="VARCHAR"/>
		<result column="email" property="email" jdbcType="VARCHAR"/>
		<result column="status" property="status" jdbcType="TINYINT"/>
		<result column="password" property="password" jdbcType="VARCHAR"/>
		<result column="username" property="username" jdbcType="VARCHAR"/>
		<result column="dept_id" property="deptId" jdbcType="BIGINT"/>
		<result column="phone" property="phone" jdbcType="VARCHAR"/>
		<result column="job_id" property="jobId" jdbcType="BIGINT"/>
		<result column="nick_name" property="nickName" jdbcType="VARCHAR"/>
		<result column="sex" property="sex" jdbcType="TINYINT"/>
		<result column="loc" property="loc" jdbcType="INTEGER"/>
		<result column="last_ip" property="lastIp" jdbcType="VARCHAR"/>
		<result column="last_login_time" property="lastLoginTime" jdbcType="INTEGER"/>
		<result column="create_time" property="createTime" jdbcType="INTEGER"/>
		<association property="role" javaType="long" column="{shareId=id,shareType=share_type}"
					 select="cn.peyton.plum.mall.mapper.sys.RoleMapper.selectByShareIdAndType"/>
	</resultMap>
	<sql id="Column_sys_user_List">
		`id`,`avatar`,`email`,`status`,`username`,`dept_id`,`phone`,`loc`
		    `job_id`,`nick_name`,`sex`,`last_ip`,`last_login_time`,
		    `create_time`,3 `share_type`
	</sql>

	<!-- 用户登录 -->
	<resultMap id="result_user_login_map" type="cn.peyton.plum.mall.pojo.sys.User">
		<id column="id" property="id" jdbcType="BIGINT"/>
		<result column="avatar" property="avatar" jdbcType="VARCHAR"/>
		<result column="email" property="email" jdbcType="VARCHAR"/>
		<result column="username" property="username" jdbcType="VARCHAR"/>
		<result column="dept_id" property="deptId" jdbcType="BIGINT"/>
		<result column="phone" property="phone" jdbcType="VARCHAR"/>
		<result column="job_id" property="jobId" jdbcType="BIGINT"/>
		<result column="nick_name" property="nickName" jdbcType="VARCHAR"/>
		<result column="sex" property="sex" jdbcType="TINYINT"/>
		<association property="role" javaType="long" column="{shareId=id,shareType=share_type}"
					 select="cn.peyton.plum.mall.mapper.sys.RoleMapper.selectExpandByShareIdAndType"/>
	</resultMap>
	<sql id="column_user_login_list">
		`id`,`avatar`,`email`,`username`,`dept_id`,`phone`,`job_id`,`nick_name`,`sex`,3 `share_type`
	</sql>

	<insert id="insertSelective" parameterType="cn.peyton.plum.mall.pojo.sys.User" keyColumn="id" keyProperty="id" useGeneratedKeys="true">
		insert into `sys_user`
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="avatar != null">`avatar`,</if>
			<if test="email != null">`email`,</if>
			<if test="status != null">`status`,</if>
			<if test="password != null">`password`,</if>
			<if test="username != null">`username`,</if>
			<if test="deptId != null">`dept_id`,</if>
			<if test="phone != null">`phone`,</if>
			<if test="jobId != null">`job_id`,</if>
			<if test="nickName != null">`nick_name`,</if>
			<if test="sex != null">`sex`,</if>
			<if test="createTime != null">`create_time`,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="avatar != null">#{avatar},</if>
			<if test="email != null">#{email},</if>
			<if test="status != null">#{status},</if>
			<if test="password != null">#{password},</if>
			<if test="username != null">#{username},</if>
			<if test="deptId != null">#{deptId},</if>
			<if test="phone != null">#{phone},</if>
			<if test="jobId != null">#{jobId},</if>
			<if test="nickName != null">#{nickName},</if>
			<if test="sex != null">#{sex},</if>
			<if test="createTime != null">#{createTime},</if>
		</trim>
	</insert>

	<update id="updateSelective" parameterType="cn.peyton.plum.mall.pojo.sys.User">
		update `sys_user`
		<set>
			<if test="avatar != null">`avatar` = #{avatar},</if>
			<if test="email != null">`email` = #{email},</if>
			<if test="username != null">`username` = #{username},</if>
			<if test="deptId != null">`dept_id` = #{deptId},</if>
			<if test="phone != null">`phone` = #{phone},</if>
			<if test="jobId != null">`job_id` = #{jobId},</if>
			<if test="nickName != null">`nick_name` = #{nickName},</if>
			<if test="sex != null">`sex` = #{sex},</if>
		</set>
		where id = #{id}
	</update>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from `sys_user`
		where `id` = #{id}
	</delete>

	<select id="repeat" resultType = "java.lang.Integer" parameterType="cn.peyton.plum.mall.pojo.sys.User">
		select
		count(`id`)
		from `sys_user`
		where `is_del`=1
		and (`username` = #{username}
		<if test="phone != null and phone != ''">
			or `phone` = #{phone}
		</if>
		<if test="email != null and email != ''">
			or `email`=#{email}
		</if>
		)
		<if test="id != null">
			and `id` != #{id}
		</if>
	</select>

	<select id="selectByPrimaryKey" resultMap="ResultUserMap"  parameterType="java.lang.Long">
		select
		<include refid="Column_sys_user_List"/>
		from `sys_user`
		where `id` = #{id} and is_del= 1 and status = 1
	</select>

	<select id="selectByLikeAndObj" resultMap="ResultUserMap" parameterType="map">
		select
		<include refid="Column_sys_user_List"/>
		from `sys_user`
		where  is_del= 1
		<if test="record.email != null">
			and `email` like concat('%',#{record.email},'%')
		</if>
		<if test="record.status != null">
			and `status`= #{record.status}
		</if>
		<if test="record.username != null">
			and `username` like concat('%',#{record.username},'%')
		</if>
		<if test="record.deptId != null">
			and `dept_id` = #{record.deptId}
		</if>
		<if test="record.phone != null">
			and `phone` like concat('%',#{record.phone},'%')
		</if>
		<if test="record.jobId != null">
			and `job_id` = #{record.jobId}
		</if>
		<if test="record.nickName != null">
			and `nick_name` like concat('%',#{record.nickName},'%')
		</if>
		<if test="record.sex != null">
			and `sex` = #{record.sex}
		</if>
		<if test="record.createTime != null">
			and `create_time` like concat('%',#{record.createTime},'%')
		</if>
		<if test="page.orderColumnName != null">
			order by ${page.orderColumnName} ${page.orderMode}
		</if>
		<if test="page.orderColumnName == null">
			order by `id` ${page.orderMode}
		</if>
		<if test="page.enablePaging">
			limit #{page.offset},#{page.pageSize}
		</if>
	</select>

	<select id="selectByObj" resultMap="ResultUserMap"  parameterType="map">
		select
		<include refid="Column_sys_user_List"/>
		from `sys_user`
		where is_del= 1
		<if test="record.email != null">
			and `email` = #{record.email}
		</if>
		<if test="record.status != null">
			and `status` = #{record.status}
		</if>
		<if test="record.username != null">
			and `username` = #{record.username}
		</if>
		<if test="record.deptId != null">
			and `dept_id` = #{record.deptId}
		</if>
		<if test="record.phone != null">
			and `phone` = #{record.phone}
		</if>
		<if test="record.jobId != null">
			and `job_id` = #{record.jobId}
		</if>
		<if test="record.nickName != null">
			and `nick_name` = #{record.nickName}
		</if>
		<if test="record.sex != null">
			and `sex` = #{record.sex}
		</if>
		<if test="record.lastIp != null">
			and `last_ip` = #{record.lastIp}
		</if>
		<if test="record.lastLoginTime != null">
			and `last_login_time` = #{record.lastLoginTime}
		</if>
		<if test="record.createTime != null">
			and `create_time` = #{record.createTime}
		</if>
		<if test="page.orderColumnName != null">
			order by ${page.orderColumnName} ${page.orderMode}
		</if>
		<if test="page.orderColumnName == null">
			order by `id` ${page.orderMode}
		</if>
		<if test="page.enablePaging">
			limit #{page.offset},#{page.pageSize}
		</if>
	</select>

	<select id="countByLike" resultType = "java.lang.Integer" parameterType="cn.peyton.plum.mall.pojo.sys.User">
		select
		count(`id`)
		from `sys_user`
		where is_del= 1
		<if test="email != null">
			and `email` like concat('%',#{email},'%')
		</if>
		<if test="status != null">
			and `status` = #{status}
		</if>
		<if test="username != null">
			and `username` like concat('%',#{username},'%')
		</if>
		<if test="deptId != null">
			and `dept_id` = #{deptId}
		</if>
		<if test="phone != null">
			and `phone` like concat('%',#{phone},'%')
		</if>
		<if test="jobId != null">
			and `job_id` = #{jobId}
		</if>
		<if test="nickName != null">
			and `nick_name` like concat('%',#{nickName},'%')
		</if>
		<if test="sex != null">
			and `sex` = #{sex}
		</if>
		<if test="createTime != null">
			and `create_time` like concat('%',#{createTime},'%')
		</if>
	</select>

	<select id="count" resultType = "java.lang.Integer" parameterType="cn.peyton.plum.mall.pojo.sys.User">
		select
			count(`id`)
		from `sys_user`
		where is_del= 1
		<if test="email != null">
			and `email` = #{email}
		</if>
		<if test="status != null">
			and `status` = #{status}
		</if>
		<if test="username != null">
			and `username` = #{username}
		</if>
		<if test="deptId != null">
			and `dept_id` = #{deptId}
		</if>
		<if test="phone != null">
			and `phone` = #{phone}
		</if>
		<if test="jobId != null">
			and `job_id` = #{jobId}
		</if>
		<if test="nickName != null">
			and `nick_name` = #{nickName}
		</if>
		<if test="sex != null">
			and `sex` = #{sex}
		</if>
		<if test="lastIp != null">
			and `last_ip` = #{lastIp}
		</if>
		<if test="lastLoginTime != null">
			and `last_login_time` = #{lastLoginTime}
		</if>
		<if test="createTime != null">
			and `create_time` = #{createTime}
		</if>
	</select>

	<!-- 用户公用方法	-->
	<select id="checkStatus" parameterType="map" resultType="int">
		select
			count(id)
		from `sys_user`
		where is_del= 1
		<if test="status != -1">
			and status = #{status}
		</if>
		<if test="type == 'account'">
			and username = #{keyword}
		</if>
		<if test="type == 'phone'">
			and phone = #{keyword}
		</if>
		<if test="type == 'email'">
			and email = #{keyword}
		</if>
	</select>

	<select id="login" resultMap="result_user_login_map" parameterType="map">
		select
			<include refid="column_user_login_list"/>
		from `sys_user`
		where password=#{password}
		and status=1
		and is_del= 1
		<if test="loginType == 'account'">
			and username = #{keyword}
		</if>
		<if test="loginType == 'phone'">
			and phone = #{keyword}
		</if>
		<if test="loginType == 'email'">
			and email = #{keyword}
		</if>
	</select>



</mapper>
